vaal-ai/05eJdfy8SjdxzdvU.json
{
  "createdAt": "2025-04-20T12:43:28.550Z",
  "updatedAt": "2025-04-20T12:55:08.699Z",
  "id": "05eJdfy8SjdxzdvU",
  "name": "Project | Vaal-AI | Router",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vaal-ai-router",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        100
      ],
      "id": "4c452e33-5629-41b7-9c2b-f0ef64ae4de1",
      "name": "Webhook",
      "webhookId": "d33e3edc-a2fa-4f4b-b0ac-526f2fef511c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-main.codai.dev.br/webhook-test/vaal-ai-sdr",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "f3756963-b28f-44f1-bac2-9df423f67c73",
      "name": "Vaal-AI SDR Dev",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-hook.codai.dev.br/webhook/vaal-ai-sdr",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        200
      ],
      "id": "652dbf24-728a-41a3-9683-6f2e74c5429b",
      "name": "Vaal-AI SDR Prod",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Vaal-AI SDR Dev",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vaal-AI SDR Prod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "30f2350d-7477-4da9-9863-51f74cb97e3d",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-04-20T12:43:26.293Z",
      "updatedAt": "2025-04-20T12:43:26.293Z",
      "id": "ldc8q187hKqVcpZ7",
      "name": "vaal-ai"
    }
  ]
}