vaal-ai/1fXOw4qNloChqCk6.json
{
  "createdAt": "2025-05-19T14:22:49.081Z",
  "updatedAt": "2025-06-27T17:00:50.121Z",
  "id": "1fXOw4qNloChqCk6",
  "name": "Vaal-AI | SDR",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Pausa para Atendimento Humano",
        "height": 440,
        "width": 1340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        80
      ],
      "typeVersion": 1,
      "id": "370d1443-a188-4306-9b67-2129c8e78e7c",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now.setLocale('pt-BR').setZone(\"America/Sao_Paulo\") }}",
        "format": "custom",
        "customFormat": "EEEE, dd 'de' MMMM 'de' yyyy 'às' HH:mm",
        "outputFieldName": "=formattedDate",
        "options": {
          "includeInputFields": false,
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        300,
        160
      ],
      "id": "78a53505-1d28-4e34-b0b8-8a25236a5259",
      "name": "Date & Time1",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "block",
        "key": "={{ $json.contact.phone }}_block",
        "options": {}
      },
      "id": "f6378636-c057-4835-8937-96e9d4893b0d",
      "name": "verifica-intervencao-humana",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1240,
        340
      ],
      "credentials": {
        "redis": {
          "id": "TaZC13ehzqYrWltc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        360
      ],
      "id": "2f62c8b5-4754-44fa-b7d4-c0d1802174d4",
      "name": "Não faz nada - Workflow"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI",
          "mode": "list",
          "cachedResultName": "Agendamentos Vaapty",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1983382654,
          "mode": "list",
          "cachedResultName": "LEADS - IA VAAL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit#gid=1983382654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONE": "={{ $('payload_handler').item.json.contact.phone }}",
            "STATUS": "QUALIFICACAO-LOJA"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "DATA_PRIMEIRO_CONTATO",
              "displayName": "DATA_PRIMEIRO_CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HORA_PRIMEIRO_CONTATO",
              "displayName": "HORA_PRIMEIRO_CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DIA",
              "displayName": "DIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DIA_SEMANA",
              "displayName": "DIA_SEMANA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PRE_VENDA",
              "displayName": "PRE_VENDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CARRO",
              "displayName": "CARRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ORIGEM",
              "displayName": "ORIGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OBSERVACAO",
              "displayName": "OBSERVACAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UNIDADE",
              "displayName": "UNIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "VEIO",
              "displayName": "VEIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DESFECHO",
              "displayName": "DESFECHO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MOTIVO",
              "displayName": "MOTIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1060,
        120
      ],
      "id": "f3bd7c3b-ef37-49d5-8794-73426c5a389f",
      "name": "google-sheets-discart-lead",
      "credentials": {
        "googleApi": {
          "id": "bxp0F5u0sPfGs6wB",
          "name": "Google Sheets account - Service Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "vaapty_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('payload_handler').item.json.contact.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "QUALIFICACAO-LOJA"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1240,
        120
      ],
      "id": "b18b8ef2-9d1e-4a4b-ba79-81dc2c88cf60",
      "name": "supabase-atualiza-agendamento1",
      "credentials": {
        "supabaseApi": {
          "id": "Aypne3pGbGP17JRv",
          "name": "Supabase account Vaapty"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('payload_handler').item.json.contact.phone }}_block",
        "value": "true",
        "keyType": "string"
      },
      "id": "020ba815-6aa2-41bf-a3b5-573b67699df9",
      "name": "block-lead",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        880,
        120
      ],
      "credentials": {
        "redis": {
          "id": "TaZC13ehzqYrWltc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4bee2c7b-e8fa-420c-9d5e-6140002eca91",
                    "leftValue": "={{ $('payload_handler').item.json.message.fromMe }}",
                    "rightValue": "eventN8n",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Me"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('payload_handler').item.json.message.fromMe }}",
                    "rightValue": "fromClient",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "8d7d84f4-ab9f-4e1f-9b9a-e83cc4e9bc03"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "User"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "40fbb4c3-f89c-4eab-8cbd-5ad683f756c6",
                    "leftValue": "={{ $('payload_handler').item.json.message.isGroup }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Group"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        160
      ],
      "id": "f7b05ede-5ff7-4dba-8a72-b5f89b4e8ef8",
      "name": "switch-msg-from"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d409c70-6488-4f4f-8681-5bb552563957",
              "name": "evolution.serverUrl",
              "value": "={{ $('Webhook').item.json.body.body.server_url }}",
              "type": "string"
            },
            {
              "id": "4ae67c6f-3fba-45c0-ade2-1fa3731b93e8",
              "name": "evolution.phone",
              "value": "={{ $('Webhook').item.json.body.body.sender.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "6e253dad-0fbf-4a74-b6a4-618c79bb3460",
              "name": "evolution.apiKey",
              "value": "={{ $('Webhook').item.json.body.body.apikey }}",
              "type": "string"
            },
            {
              "id": "5e3e579f-f9dd-4fb0-9c4b-d2c56b151c55",
              "name": "contact.phone",
              "value": "={{ $('Webhook').item.json.body.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "877887ea-c7df-4c1e-b6a9-4ec573256127",
              "name": "contact.firstName",
              "value": "={{ $('Webhook').item.json.body.body.data.pushName.split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "ecc3073f-8c25-41bb-abfe-402c385c6031",
              "name": "contact.fullName",
              "value": "={{ $('Webhook').item.json.body.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "d4768288-0024-47c6-b9c6-3dcc9e18c2e0",
              "name": "message.type",
              "value": "={{ !!$('Webhook').item.json.body.body.data.message.conversation && 'text' || \n   !!$('Webhook').item.json.body.body.data.message.audioMessage && 'audio'\n}}",
              "type": "string"
            },
            {
              "id": "20a86b71-c77f-4b4e-9db9-b9964276e67f",
              "name": "message.text.conversation",
              "value": "={{ $('Webhook').item.json.body.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "64a79a38-696d-4383-a1a7-527a3ef3a4d4",
              "name": "message.audio.base64",
              "value": "={{ $('Webhook').item.json.body.body.data.message.base64 }}",
              "type": "string"
            },
            {
              "id": "3c159587-cd22-45df-aac7-82add1c9992e",
              "name": "message.status",
              "value": "={{ $('Webhook').item.json.body.body.data.status }}",
              "type": "string"
            },
            {
              "id": "cc95a725-d953-433d-a8ee-aa903f515ca5",
              "name": "message.timestamp",
              "value": "={{ DateTime.fromMillis($('Webhook').item.json.body.body.data.messageTimestamp) }}",
              "type": "string"
            },
            {
              "id": "d65f9d80-5f16-4c29-965b-fc8832fe13eb",
              "name": "message.fromMe",
              "value": "={{ $('Webhook').item.json.body.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "44cce600-ebb8-4242-8008-5da0951d16c5",
              "name": "message.isGroup",
              "value": "={{ $('Webhook').item.json.body.body.event != 'messages.upsert' }}",
              "type": "boolean"
            },
            {
              "id": "c3d798ea-378e-4f39-a764-82ff9733e36a",
              "name": "message.id",
              "value": "={{ $('Webhook').item.json.body.body.data.key.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        160
      ],
      "id": "1669759c-a431-4306-802a-1807703ef596",
      "name": "payload_handler"
    },
    {
      "parameters": {
        "content": "## Registro de Cliente no Supabase",
        "height": 440,
        "width": 1220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        80
      ],
      "typeVersion": 1,
      "id": "8fec7df8-0a90-4f7c-be34-f1654d778e2f",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "vaapty_leads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('payload_handler').item.json.contact.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_msg",
              "fieldValue": "={{ $now.minus() }}"
            },
            {
              "fieldId": "follow_up_times",
              "fieldValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2520,
        140
      ],
      "id": "fd5ec98c-650d-4895-8d67-99d608d44831",
      "name": "supabase-update-last-msg",
      "credentials": {
        "supabaseApi": {
          "id": "Aypne3pGbGP17JRv",
          "name": "Supabase account Vaapty"
        }
      }
    },
    {
      "parameters": {
        "tableId": "vaapty_leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $('payload_handler').item.json.contact.phone.toNumber() }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('payload_handler').item.json.contact.fullName }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2100,
        360
      ],
      "id": "0883824f-068e-4fde-8bfa-754f02376cfe",
      "name": "supabase-create-lead",
      "credentials": {
        "supabaseApi": {
          "id": "Aypne3pGbGP17JRv",
          "name": "Supabase account Vaapty"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a6d9aac-8565-4c58-abe3-8741393a5535",
              "leftValue": "={{ $('supabase-get-lead').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        160
      ],
      "id": "50a1006d-cc33-49ea-99db-0b6b2bc3d964",
      "name": "if-existing-lead"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "vaapty_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('payload_handler').item.json.contact.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1720,
        160
      ],
      "id": "a0466385-f8ab-4318-82b9-2a23f11bc5a6",
      "name": "supabase-get-lead",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Aypne3pGbGP17JRv",
          "name": "Supabase account Vaapty"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vaal Ativa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vaal Desativada"
            }
          ]
        },
        "options": {}
      },
      "id": "a49c08cc-57f6-48db-b801-99fdd5b2d307",
      "name": "switch-block-ai",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1500,
        340
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1720,
        360
      ],
      "id": "9512a0ba-1efb-4f42-a77e-26d5c004d6da",
      "name": "Não faz nada - AI Pausada"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI",
          "mode": "list",
          "cachedResultName": "Agendamentos Vaapty",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1983382654,
          "mode": "list",
          "cachedResultName": "LEADS - IA VAAL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit#gid=1983382654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONE": "={{ $('payload_handler').item.json.contact.phone }}",
            "CLIENTE": "={{ $('payload_handler').item.json.contact.fullName }}",
            "PRE_VENDA": "VAAL - IA",
            "STATUS": "QUALIFICACAO",
            "DATA_PRIMEIRO_CONTATO": "={{ $now.setZone('America/Sao_Paulo').format('dd/MM/yyyy') }}",
            "HORA_PRIMEIRO_CONTATO": "={{ $now.setZone('America/Sao_Paulo').format('HH:mm') }}"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "DATA_PRIMEIRO_CONTATO",
              "displayName": "DATA_PRIMEIRO_CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HORA_PRIMEIRO_CONTATO",
              "displayName": "HORA_PRIMEIRO_CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DIA",
              "displayName": "DIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DIA_SEMANA",
              "displayName": "DIA_SEMANA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PRE_VENDA",
              "displayName": "PRE_VENDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CARRO",
              "displayName": "CARRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ORIGEM",
              "displayName": "ORIGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OBSERVACAO",
              "displayName": "OBSERVACAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UNIDADE",
              "displayName": "UNIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "VEIO",
              "displayName": "VEIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DESFECHO",
              "displayName": "DESFECHO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MOTIVO",
              "displayName": "MOTIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2320,
        360
      ],
      "id": "0095d801-7bd3-4e4b-8f3a-9490ce54033b",
      "name": "google-sheets-create-update",
      "credentials": {
        "googleApi": {
          "id": "bxp0F5u0sPfGs6wB",
          "name": "Google Sheets account - Service Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "=file_{{ $now.format('yyyyMMdd_HHmmss') }}.ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3480,
        380
      ],
      "id": "9b122948-ec5a-40e5-afe3-2ff0038aa228",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "content": "## Classifica Mensagens",
        "height": 620,
        "width": 1100,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2720,
        80
      ],
      "typeVersion": 1,
      "id": "0faea11f-0a81-4598-92d4-58c090f7c92d",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3660,
        380
      ],
      "id": "0add0e49-2945-4d3f-b0d4-a9360d835a6a",
      "name": "openai-transcribe-audio",
      "credentials": {
        "openAiApi": {
          "id": "d0EynPkHQLqSswaA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('payload_handler').item.json.message.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5babf18b-3925-426c-b907-e8f3e7936ffc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d8c1d47a-0014-4d4c-8c43-c68df3a99df2",
                    "leftValue": "={{ $('payload_handler').item.json.message.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2780,
        140
      ],
      "id": "8055dbc4-c31e-445e-a412-aa0874d5a080",
      "name": "message-type"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('payload_handler').item.json.contact.phone }}_{{ $('Webhook').item.json.body.body.instance }}_msg_buffer",
        "messageData": "={{ $('payload_handler').item.json.message.text.conversation }}",
        "tail": true
      },
      "id": "3ff64653-8ce4-4124-ba2c-1d11d4fa3173",
      "name": "Text Memory",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3920,
        160
      ],
      "credentials": {
        "redis": {
          "id": "TaZC13ehzqYrWltc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('payload_handler').item.json.contact.phone }}_{{ $('Webhook').item.json.body.body.instance }}_msg_buffer",
        "messageData": "={{ $('openai-transcribe-audio').item.json.text }}",
        "tail": true
      },
      "id": "8652613f-2088-41f9-b2c7-1e8a1ea6b4fa",
      "name": "Audio Memory",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3920,
        360
      ],
      "credentials": {
        "redis": {
          "id": "TaZC13ehzqYrWltc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('payload_handler').item.json.contact.phone }}_{{ $('Webhook').item.json.body.body.instance }}_msg_buffer",
        "options": {}
      },
      "id": "d1a20908-de5a-4139-aca8-56a585ff6da5",
      "name": "Get Memory 2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4500,
        260
      ],
      "credentials": {
        "redis": {
          "id": "TaZC13ehzqYrWltc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Mensagem Picotada",
        "height": 440,
        "width": 1180,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3860,
        80
      ],
      "typeVersion": 1,
      "id": "8f171bde-ed6d-4fbf-864b-3b2c323ce0df",
      "name": "Sticky Note24",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('payload_handler').item.json.contact.phone }}_{{ $('Webhook').item.json.body.body.instance }}_msg_buffer",
        "options": {}
      },
      "id": "5a6bd64c-9167-4dc3-94c9-9a27fe5cf659",
      "name": "Get Memory 1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4160,
        260
      ],
      "credentials": {
        "redis": {
          "id": "TaZC13ehzqYrWltc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5a342e9-585b-42ea-be44-644adae10199",
              "leftValue": "={{ $('Edit Redis Memory').item.json.Redis2 }}",
              "rightValue": "={{ $('Edit Redis Memory').item.json.Redis1 }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "95d5bb4b-c5be-4ef5-8d14-dd739e4e927c",
      "name": "Compara Get Memory",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4840,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f336a1ff-e577-489d-a739-1eb8bd509245",
              "name": "Redis2",
              "value": "={{ $('Get Memory 2').item.json.propertyName }}",
              "type": "string"
            },
            {
              "id": "946d1420-e379-46e3-8fcd-3816340fbabb",
              "name": "Redis1",
              "value": "={{ $('Get Memory 1').item.json.propertyName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8d75b75a-7ef1-419d-a06a-726616c0e6a0",
      "name": "Edit Redis Memory",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4660,
        260
      ]
    },
    {
      "parameters": {},
      "id": "1c65c248-0cd4-4952-a80b-5ba6e2777f89",
      "name": "Wait 5 seg",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4340,
        260
      ],
      "webhookId": "52441967-5a76-464a-98fd-c5f7e5d90e8a"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        3440,
        860
      ],
      "id": "78d19723-a4cc-4986-87f7-f458c7c26509",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT *\nFROM vaapty_leads\nWHERE \n    status = 'QUALIFICACAO'\nAND (\n    (follow_up_times = 0 AND last_msg <= NOW() - INTERVAL '24 hours' AND last_msg > NOW() - INTERVAL '72 hours')\n    OR\n    (follow_up_times = 1 AND last_msg <= NOW() - INTERVAL '72 hours')\n    OR\n    (follow_up_times = 2 AND last_msg <= NOW() - INTERVAL '96 hours')\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3620,
        860
      ],
      "id": "38a19d38-5534-4f58-ba6a-9bff33733438",
      "name": "postgres-get-lead-follow-up",
      "credentials": {
        "postgres": {
          "id": "5ZF1HPtlbBIacazg",
          "name": "Postgres account Vaapty"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4060,
        660
      ],
      "id": "6f0a432a-d862-4ddb-a1a5-94b91bc29095",
      "name": "Não faz nada - FIM"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "vaapty_leads",
          "mode": "list",
          "cachedResultName": "vaapty_leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Loop Over Items1').item.json.id }}",
            "follow_up_times": "={{ $('Loop Over Items1').item.json.follow_up_times.toNumber() + 1 }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_msg",
              "displayName": "last_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follow_up_times",
              "displayName": "follow_up_times",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3540,
        1100
      ],
      "id": "1390f85e-6243-4158-9d79-88fce206bb09",
      "name": "postgres-update-lead-follow-up",
      "credentials": {
        "postgres": {
          "id": "5ZF1HPtlbBIacazg",
          "name": "Postgres account Vaapty"
        }
      }
    },
    {
      "parameters": {
        "content": "## Follow-UP",
        "height": 860,
        "width": 1680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3360,
        560
      ],
      "typeVersion": 1,
      "id": "4dd7a53e-8b44-4393-85e0-f8f15467c7e9",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}_vaal_1_chat_memory",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4520,
        1180
      ],
      "id": "e45c9c7f-6656-4063-bd54-542d9123de80",
      "name": "Postgres Chat Memory FollowUP",
      "credentials": {
        "postgres": {
          "id": "5ZF1HPtlbBIacazg",
          "name": "Postgres account Vaapty"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4360,
        1180
      ],
      "id": "da7ff5db-f4bb-4378-a30a-63408f8fd839",
      "name": "OpenAI Chat Model FollowUP",
      "credentials": {
        "openAiApi": {
          "id": "d0EynPkHQLqSswaA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Este é um follow-up para o cliente {{ $json.clientName }}, que demonstrou interesse, mas ainda não concluiu o agendamento.  \nO cliente está na **tentativa número {{ $json.tentativa }}**.  \nAdapte a abordagem de acordo com a etapa do follow-up.  \nSe houver informações de agendamento já fornecidas, continue a partir delas.  \nSe o cliente estiver indeciso, quebre as objeções e reforce os benefícios da Vaapty.  \nEvite repetir perguntas que já foram respondidas.  \nSe o cliente responder, siga com o fluxo normal.\n",
        "options": {
          "systemMessage": "=<instrucoes>\nNome do cliente é {{ $json.clientName }}.\nHoje é {{ $now.setLocale('pt-BR').format(\"EEEE, dd 'de' MMMM 'de' yyyy - HH:mm:ss\") }}.\n\nEste cliente está em um processo de follow-up. Dependendo da tentativa atual, adapte sua abordagem:\n\n🔹 **Primeira tentativa (follow_up_times = 0):**\n   - O cliente demonstrou interesse recentemente (há cerca de 30 minutos), mas ainda não finalizou o agendamento.\n   - Seja leve e direto, lembrando-o da oportunidade, exemplo de mensagem:\n     **\"Oi {{ $json.clientName }}, vi que você mostrou interesse na avaliação do seu carro, mas ainda não finalizamos. Podemos concluir isso agora?\"**\n\n🔹 **Segunda tentativa (follow_up_times = 1):**\n   - O cliente não respondeu ao primeiro follow-up (passaram 24 horas).\n   - Destaque a importância de agendar o quanto antes, exemplo de mensagem:\n     **\"Oi {{ $json.clientName }}, espero que esteja bem! Tentamos falar sobre sua avaliação na Vaapty. Você ainda tem interesse? Posso te ajudar com alguma dúvida?\"**\n   - Se houver objeções, use a ferramenta [get_vaapty_info] para responder com segurança.\n\n🔹 **Terceira tentativa (follow_up_times = 2) - Última tentativa:**\n   - O cliente ignorou duas tentativas anteriores e passaram 72 horas.\n   - Tente um fechamento direto, exemplo de mensagem:\n     **\"Oi {{ $json.clientName }}, Caso ainda tenha interesse na avaliação do seu carro, podemos reservar um horário para você. Se precisar de mais informações, estou aqui para ajudar!\"**\n\nObs.: Os exemplos de mensagem não precisam ser seguidos, adapte a mensagem ao cliente, com suas informações.\n\n🔹 **Regras Importantes:**\n- **Se houver informações de agendamento já fornecidas**, continue a partir delas.\n- **Não repita perguntas desnecessárias.** Sempre consulte o histórico antes de perguntar.\n- **Se o cliente quiser informações sobre a Vaapty**, use [get_vaapty_info].\n- **Se o cliente responder, siga para o fluxo normal.**\n</instrucoes>\n\n<objetivo>\nSeu objetivo é reativar a conversa com o cliente e incentivá-lo a concluir o agendamento, sem ser insistente.\n</objetivo>\n\n<persona>\nVocê é a Vaal, assistente da Vaapty. Seu tom deve ser:\n- Amigável e humanizado.\n- Profissional, mas sem parecer robótico.\n- Confiante e persuasivo.\n- Direto ao ponto, sem insistir desnecessariamente.\n</persona>\n"
        }
      },
      "id": "6cadf627-a634-4fec-9f85-e634a70889d9",
      "name": "vaal-agente-follow-up",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        4520,
        920
      ]
    },
    {
      "parameters": {
        "name": "agenda_sheet_tool",
        "description": "Chame essa tool para realizando o agendamento, sempre usando padrão pt-BR e America/Sao_Paulo",
        "workflowId": {
          "__rl": true,
          "value": "ZpOvo8AmQzyVONiS",
          "mode": "list",
          "cachedResultName": "Vaal-AI | Agenda Sheet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $json.id }}",
            "dia": "={{ $fromAI('dia', `dia do agendamento | format('dd/MM/yyyy')`, 'string') }}",
            "hora": "={{ $fromAI('hora', `hora do agendamento | format('HH:mm') `, 'string') }}",
            "dia_semana": "={{ $fromAI('dia_semana', `dia da semana do agendamento | format('EEE') `, 'string') }}",
            "cliente": "={{ $json.name }}",
            "carro": "={{ $fromAI('carro', `carro do cliente que será avaliado`, 'string') || \"\" }}",
            "unidade": "={{ $fromAI('unidade', `unidade escolhida pelo  cliente para o agendamento`, 'string') || \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dia",
              "displayName": "dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dia_semana",
              "displayName": "dia_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cliente",
              "displayName": "cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "carro",
              "displayName": "carro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "unidade",
              "displayName": "unidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        4700,
        1180
      ],
      "id": "f2a81df5-2d97-41bd-8968-9b9244541d6d",
      "name": "Call n8n Workflow - FollowUp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bdab41ed-7b55-4da9-a3c7-e0c00d23dd81",
              "leftValue": "={{ $json.follow_up_times.toNumber() }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4060,
        1000
      ],
      "id": "dbc8ea07-a365-41aa-a4d5-e67c8372f37a",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "vaapty_leads",
          "mode": "list",
          "cachedResultName": "vaapty_leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Loop Over Items1').item.json.id }}",
            "status": "SEM_INTERESSE"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_msg",
              "displayName": "last_msg",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "follow_up_times",
              "displayName": "follow_up_times",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4260,
        820
      ],
      "id": "529b1d1b-0659-44aa-a40c-2b8b6222503d",
      "name": "postgres-update-status-lead-follow",
      "credentials": {
        "postgres": {
          "id": "5ZF1HPtlbBIacazg",
          "name": "Postgres account Vaapty"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI",
          "mode": "list",
          "cachedResultName": "Agendamentos Vaapty",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1983382654,
          "mode": "list",
          "cachedResultName": "LEADS - IA VAAL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit#gid=1983382654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONE": "={{ $('postgres-get-lead-follow-up').item.json.id }}",
            "STATUS": "SEM_INTERESSE"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "DATA_PRIMEIRO_CONTATO",
              "displayName": "DATA_PRIMEIRO_CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HORA_PRIMEIRO_CONTATO",
              "displayName": "HORA_PRIMEIRO_CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DIA",
              "displayName": "DIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DIA_SEMANA",
              "displayName": "DIA_SEMANA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PRE_VENDA",
              "displayName": "PRE_VENDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CARRO",
              "displayName": "CARRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ORIGEM",
              "displayName": "ORIGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OBSERVACAO",
              "displayName": "OBSERVACAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UNIDADE",
              "displayName": "UNIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "VEIO",
              "displayName": "VEIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DESFECHO",
              "displayName": "DESFECHO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MOTIVO",
              "displayName": "MOTIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4520,
        620
      ],
      "id": "efbb576a-4285-4df1-aeab-d4410105d3e6",
      "name": "google-sheets-update-status-lead",
      "credentials": {
        "googleApi": {
          "id": "bxp0F5u0sPfGs6wB",
          "name": "Google Sheets account - Service Account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3820,
        860
      ],
      "id": "8d6b5fbb-8e1c-4aa2-82ce-0db390df2d5f",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28cbec4d-2c89-4336-bf5f-0539beddbf66",
              "name": "clientName",
              "value": "={{ $('Loop Over Items1').item.json.name.split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "2a7d1d5a-f25a-41bf-aa3f-e35273f2f37a",
              "name": "tentativa",
              "value": "={{ $('Loop Over Items1').item.json.follow_up_times }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4260,
        1000
      ],
      "id": "6ef78194-1e5b-4ed1-8509-4fc69c9183bf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "vaal_1",
        "remoteJid": "={{ $('Loop Over Items1').item.json.id }}",
        "messageText": "={{ $json.output }}",
        "options_message": {
          "delay": 2000
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4860,
        1200
      ],
      "id": "7559d0cb-bdaf-4543-b934-ac1c84a0b395",
      "name": "Evolution API1",
      "credentials": {
        "evolutionApi": {
          "id": "yF1mcU14BypsoPiB",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "## R.A.G",
        "height": 320,
        "width": 740
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5080,
        760
      ],
      "typeVersion": 1,
      "id": "e6a50f72-f12d-424b-9154-912e8a9e91ae",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        5660,
        940
      ],
      "id": "b09597e6-2a3a-4b92-91c1-1226d857bc37",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "d0EynPkHQLqSswaA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "get_vaapty_info",
        "toolDescription": "Use essa ferramenta para explicar ao cliente como a Vaapty funciona CASO ele questione ou solicite informações do processo.",
        "tableName": {
          "__rl": true,
          "value": "vaapty_documents",
          "mode": "list",
          "cachedResultName": "vaapty_documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        5520,
        800
      ],
      "id": "4b354493-1095-4a00-866a-36e63d0d8bee",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Aypne3pGbGP17JRv",
          "name": "Supabase account Vaapty"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5180,
        360
      ],
      "id": "ce1d193f-e011-4456-bb16-8b3f2a576ded",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "d0EynPkHQLqSswaA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('payload_handler').item.json.contact.phone }}_{{ $('Webhook').item.json.body.body.instance }}_chat_memory",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5340,
        360
      ],
      "id": "700f7955-7649-40e8-8597-5a9d8a9843aa",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "5ZF1HPtlbBIacazg",
          "name": "Postgres account Vaapty"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI",
          "mode": "list",
          "cachedResultName": "Agendamentos Vaapty",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1983382654,
          "mode": "list",
          "cachedResultName": "LEADS - IA VAAL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit#gid=1983382654"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "TELEFONE",
              "lookupValue": "={{ $('payload_handler').item.json.contact.phone }}"
            },
            {
              "lookupColumn": "STATUS",
              "lookupValue": "AGENDADO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        5540,
        560
      ],
      "id": "ce2fa7c5-c594-4383-8ca8-098b2f73d7fa",
      "name": "consulta_agendamentos",
      "credentials": {
        "googleApi": {
          "id": "bxp0F5u0sPfGs6wB",
          "name": "Google Sheets account - Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI",
          "mode": "list",
          "cachedResultName": "Agendamentos Vaapty",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1983382654,
          "mode": "list",
          "cachedResultName": "LEADS - IA VAAL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit#gid=1983382654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONE": "={{ $('payload_handler').item.json.contact.phone }}",
            "STATUS": "CANCELADO_LEAD"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "DATA_PRIMEIRO_CONTATO",
              "displayName": "DATA_PRIMEIRO_CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HORA_PRIMEIRO_CONTATO",
              "displayName": "HORA_PRIMEIRO_CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DIA",
              "displayName": "DIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DIA_SEMANA",
              "displayName": "DIA_SEMANA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PRE_VENDA",
              "displayName": "PRE_VENDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CARRO",
              "displayName": "CARRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ORIGEM",
              "displayName": "ORIGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OBSERVACAO",
              "displayName": "OBSERVACAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UNIDADE",
              "displayName": "UNIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "VEIO",
              "displayName": "VEIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DESFECHO",
              "displayName": "DESFECHO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MOTIVO",
              "displayName": "MOTIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        5720,
        560
      ],
      "id": "87c5af95-0f85-4910-9d97-4a2092902cd9",
      "name": "cancelar_agendamentos",
      "credentials": {
        "googleApi": {
          "id": "bxp0F5u0sPfGs6wB",
          "name": "Google Sheets account - Service Account"
        }
      }
    },
    {
      "parameters": {
        "name": "getWeekDay",
        "description": "Use essa tool para consultar o dia da semana.\nForneça como paramentro uma data no formato dd/mm/yyyy",
        "jsCode": "const [day, month, year] = query.split('/').map(Number);\nconst date = new Date(year, month - 1, day);\nreturn date.toLocaleDateString('pt-BR', { weekday: 'long' });"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        5860,
        560
      ],
      "id": "6a4304b9-b591-4cfa-a14f-0ea1ae06793a",
      "name": "getWeekDay"
    },
    {
      "parameters": {
        "name": "validateDate",
        "description": "Use esta tool para validar se a data e hora escolhidas pelo cliente são válidas.\nParâmetro: data no formato 'DD/MM/YYYY HH:mm'\nRetorna um objeto com 'isValid' (booleano) e 'reason' (string explicativa)",
        "jsCode": "const [day, month, year, hour, minute] = query.split(/[/ :]/).map(Number);\nconst inputDate = new Date(year, month - 1, day, hour || 0, minute || 0);\nconst currentDate = new Date();\n\n// Verifica se a data é válida\nif (isNaN(inputDate.getTime())) {\n  return \"invalid date\";\n}\n\n// Verifica se a data já passou\nif (inputDate < currentDate) {\n  return \"invalid - retroactive date\";\n}\n\n// Obtém o dia da semana (0 = Domingo, 1 = Segunda, ..., 6 = Sábado)\nconst dayOfWeek = inputDate.getDay();\nconst hours = inputDate.getHours();\n\n// Validação para dias de semana (Segunda a Sexta)\nif (dayOfWeek >= 1 && dayOfWeek <= 5) {\n  if (hours >= 9 && hours < 18) {\n    return \"valid date - inside working hours\";\n  } else {\n    return \"invalid date - outside working hours\";\n  }\n}\n\n// Validação para sábados\nif (dayOfWeek === 6) {\n  if (hours >= 9 && hours < 13) {\n    return \"valid date - inside working hours\";\n  } else {\n    return \"invalid date - outside working hours\";\n  }\n}\n\n// Domingos e outros dias não permitidos\nreturn \"invalid date - sunday\";"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        5980,
        560
      ],
      "id": "6cba27a8-0a27-4830-9732-d55e9bc2eb51",
      "name": "validateDate"
    },
    {
      "parameters": {
        "name": "validateInfos",
        "description": "Use esta tool para validar se todas as informações necessárias para o agendamento foram preenchidas corretamente.\nParâmetro: objeto JSON em formato string com os campos [data, hora, diaSemana, cliente, unidade]\nRetorna uma string:\n- Se estiver tudo preenchido: \"ok - todos os campos presentes\"\n- Se faltar algo: \"faltando - [lista de campos faltantes separada por ;]\"\n\n\n\nEssa função valida se os campos obrigatórios para concluir um agendamento estão preenchidos corretamente. Caso algum campo esteja ausente ou vazio, a função retorna quais campos ainda estão faltando.\nCampos obrigatórios:\n\nParâmetro: data (DIA, formato: YYYY-MM-DD), hora (formato HH:mm), diaSemana (SEG, TER, QUA, etc)\n\nRetorna uma lista de campos faltante\n\n",
        "jsCode": "let data;\ntry {\n  data = JSON.parse(query);\n} catch (e) {\n  return \"invalid input - not a valid JSON\";\n}\n\nconst requiredFields = {\n  data: \"data\",\n  hora: \"hora\",\n  diaSemana: \"diaSemana\",\n  unidade: \"unidade\"\n};\n\nconst missing = [];\n\nfor (const key in requiredFields) {\n  const value = data[key];\n  if (!value || typeof value !== 'string' || value.trim() === '') {\n    missing.push(requiredFields[key]);\n  }\n}\n\nif (missing.length === 0) {\n  return \"ok - todos os campos presentes\";\n} else {\n  return `faltando - ${missing.join(\"; \")}`;\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        5900,
        300
      ],
      "id": "84d9631d-fe38-48cb-b369-c16c6bdbefca",
      "name": "validateInfos"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json[\"Redis2\"];\n  let array = Array.isArray(data) ? data : JSON.parse(data);\n  const mensagem_completa = array.join(\" \");\n  results.push({ json: { mensagem_completa } });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5180,
        160
      ],
      "id": "61a2894b-41e5-4d88-9daf-45e94df603fc",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Atendente Vaal",
        "height": 640,
        "width": 1020,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5080,
        80
      ],
      "typeVersion": 1,
      "id": "128be403-d697-4b2a-83a1-62e0092d8597",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6874b729-a2ba-4596-8011-62440f186a59",
      "name": "OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        6100,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "d0EynPkHQLqSswaA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=message to be splitted: {{ $json.output }}{{ $('vaal-agente-principal').item.json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Por favor, gere a saída no seguinte formato JSON:\n\n```json\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n```\n\nAs mensagens devem ser divididas de forma natural e legível, considerando que estamos nos comunicando com um humano.\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo colchetes, aspas e a formatação do texto.\n\nRegras de Formatação:\n  Negrito: Use *palavra* em vez de **palavra**.\n  Tachado: Para indicar texto excluído ou alterado.\n  Itálico: Utilize apenas em casos extremamente raros.\n  link: Sempre usar essa formatação para todos os links.\n\nRegras para separação das mensagens:\nMensagem de introdução: Deve ser uma mensagem separada.\nDetalhes do agendamento: Devem ser mantidos juntos em uma única mensagem, usando \\n para quebras de linha.\nMensagem final de suporte: Deve ser separada.\n\nExemplo de saída esperada:\n```json\n{\n  \"messages\": [\n    \"João, eu verifiquei as informações e você já tem um agendamento confirmado para a avaliação do seu veículo.\",\n    \"*Aqui estão os detalhes:*\\n\\n📅 *Data:* 03/03/2025\\n⏰ *Hora:* 09:00\\n📍 *Unidade:* São Paulo (Santana)\\n🚗 *Veículo:* Cobalt\",\n    \"Se precisar de mais alguma coisa ou desejar alterar algum detalhe, é só me avisar! 😊\"\n  ]\n}\n```"
            }
          ]
        }
      },
      "id": "0b949ed2-48fe-4031-8a66-4486f0fff8b4",
      "name": "Parser  Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        6100,
        220
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('payload_handler').item.json.contact.phone }}_{{ $('Webhook').item.json.body.body.instance }}_msg_buffer"
      },
      "id": "f9109169-bc7b-49ea-a81b-77ff94799835",
      "name": "Delete Memory",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        6840,
        160
      ],
      "credentials": {
        "redis": {
          "id": "TaZC13ehzqYrWltc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"
      },
      "id": "e96e8af4-6a6b-4cef-80b9-f5a548e0d6da",
      "name": "OutputParser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        6260,
        400
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "id": "b1acc085-598a-4d40-b160-bb98dbeb6adb",
      "name": "Segmento de Msgs",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        6420,
        220
      ]
    },
    {
      "parameters": {
        "content": "## Resposta humanizada",
        "height": 460,
        "width": 1180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6060,
        80
      ],
      "typeVersion": 1,
      "id": "b4a1fe7f-205b-4c44-af85-84204ca285fa",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code').item.json.mensagem_completa }}",
        "options": {
          "systemMessage": "=<instrucoes>\nNome do cliente é {{ $('payload_handler').item.json.contact.firstName }}\nHoje é dia {{ $now.setLocale('pt-BR').format(\"EEEE, dd 'de' MMMM 'de' yyyy - HH:mm:ss\") }}.\n\n- Toda avaliação é feita **exclusivamente** em uma das unidades da Vaapty.\n- Se o cliente sugerir fazer a avaliação em outro endereço, como na própria casa ou local alternativo, a VAAL deve responder gentilmente explicando que **não oferecemos atendimento externo**, apenas presencial nas lojas.\n- Mesmo que o cliente insista ou diga que o carro está parado, a VAAL deve orientar que o ideal é providenciar guincho ou tentar uma forma de levar até uma das unidades e caso questionado, a Vaapty não arca com os custos do guincho.\n\n- SUA OBRIGAÇÃO MAIOR É SEMPRE BUSCAR INFORMAÇÕES DA VAAPTY OU SOBRE SEU PROCESSO NA TOOL [get_vaapty_info] SEMPRE QUE FOR QUESTIONA OU SOLICITADA EXPLICAÇÃO DO PROCESSO OU DÚVIDAS.\n\n- **OBRIGATORIAMENTE** DEVE IR ENVIANDO AS INFORMAÇÕES DO AGENDAMENTO PARA A TOOL [agenda_sheet_tool] A MEDIDA QUE O CLIENTE FOR INFORMANDO, PARA EVITAR SALVAR TD NO FINAL.\n\n- *SEMPRE* QUE FOR UM NOVO AGENDAMENTO PARA O MESMO CLIENTE, CONSIDERE A NOVA DATA QUE ELE ESCOLHER COM BASE NA DATA ATUAL E NÃO NA DO AGENDAMENTO OU CONVERSA ANTERIOR.\n\nNUNCA DEDUZA NENHUMA INFORMAÇÃO DE DIA, HORA OU DIA DA SEMANA, SEMPRE ESPERE O CLIENTE DEFINIR E NÃO USE O DIA DE HOJE COMO DATA PARA O AGENDAMENTO A NÃO SER QUE O CLIENTE ESCOLHA.\n\nSEMPRE QUE FOR TRABALHAR COM DATAS USE OBRIGATORIAMENTE a tool [validate_date] para verificar se é uma data válida e para consultar o dia da semana use a tool [getWeekDay] e sempre usar padrão pt-BR e America/Sao_Paulo\n\nSEMPRE USE A TOOL [validate_date] combinada com a tool [getWeekDay] para sempre explicar para o cliente(caso data inválida) o porque a data é inválida, considerando a regra abaixo:\n\n - CASO A DATA ESCOLHIDA SEJA DIA DA SEMANA DE SEGUNDA A SEXTA FEIRA, SÓ PERMITA AGENDAMENTOS ENTRE 09:00 DA MANHÃ ATÉ AS 18:00 DA TARDE.\n\n - CASO A DATA ESCOLHIDA SEJA SÁBADO, SÓ PERMITA AGENDAMENTOS ENTRE 09:00 DA MANHÃ ATÉ AS 13:00 DA TARDE.\n\n - NUNCA AGENDE PARA DOMINGOS.\n\n<validacao_e_formatacao>\n1 **Hora**: Sempre no formato `HH:mm` (24 horas).  \n   - Exemplos:  \n     - \"11h\" → \"11:00\"  \n     - \"3 PM\" → \"15:00\"  \n     - \"9:30 AM\" → \"09:30\"  \n\n2 **Unidade**: Sempre no formato `\"Cidade (Bairro)\"`.  \n\t- Se for **\"Guarulhos Vila Galvão\"**, salve como `\"Guarulhos (Vila Galvão)\"`.  \n\t- Se for **\"São Paulo Santana\"**, salve como `\"São Paulo (Santana)\"`.  \n\n3 **Dia da Semana**: Sempre no formato abreviado.  \n\t- \"Segunda-feira\" → \"SEG\"\n\t- \"Terça-feira\" → \"TER\"\n\t- \"Quarta-feira\" → \"QUA\"\n\t- \"Quinta-feira\" → \"QUI\"\n\t- \"Sexta-feira\" → \"SEX\"\n\t- \"Sábado\" → \"SAB\"\n\t- \"Domingo\" → \"DOM\"\n</validacao_e_formatacao>\n\n\nSEMPRE QUE O CLIENTE QUISER CONSULTAR AGENDAMENTOS USE a tool [consulta_agendamentos] para retornar as informações.\n\nSEMPRE QUE O CLIENTE QUISER CANCELAR AGENDAMENTOS USE a tool [cancelar_agendamentos] para alterar o status do agendamento para CANCELADO_LEAD.\n\nSEMPRE QUE O CLIENTE TIVER DÚVIDAS OU QUISER INFORMAÇÕES DE COMO A VAAPTY FUNCIONA OU DÚVIDAS FREQUENTES USE OBRIGATORIAMENTE a TOOL [get_vaapty_info].\n\nSEMPRE QUE O CLIENTE QUESTIONAR SOBRE VALORES, CUSTOS, SOBRE DOCUMENTAÇÃO, SEMPRE FALE SOBRE A COMISSÃO DE \"4.2% + custo da perícia cautelar\" QUE ESTÁ DETALHADA NA TOOL [get_vaapty_info]\n\nSOBRE VISTORIA CAUTELAR EXPLIQUE QUE TEM O CUSTO PARA O CLIENTE OU PODE SER BRINDE DEPENDENDO DA NEGOCIAÇÃO, MAS MESMO NÃO SENDO APROVADA A VISTORIA O CLIENTE É QUEM DEVE PAGAR.\n\nLEVANDO EM CONSIDERAÇÃO AS INFORMAÇÕES DA TOOL [get_vaapty_info] leve essa ordem dos processo em consideração \"após aceitar proposta é chamada a cautelar \ne os documentos seram recolhidos para dar início a produção da documentação. Depois que a cautelar é aprovada mandamos os documentos para o cartório para reconhecer firma da documentação. assim que os documentos chegarem até nós e estando tudo finalizado, pagamos os débitos que tiver no carro e depois o pagamento ao cliente. \n\"\n\nCASO O CLIENTE QUESTIONE SOBRE  COMO FUNCIONA SE ELE DESISTIR DA VENDA APÓS A VISTORIA APROVADA, EXPLIQUE QUE CASO ISSO ACONTECER O CLIENTE TERÁ QUE PAGAR O VALOR DA CAUTELAR + UMA MULTA DE 10%.\n\nCASO O CLIENTE QUESTIONE SOBRE QUAIS TIPOS DE CARROS ESTÃO APTOS, EXPLIQUE QUE A VAAPTY ACEITA QUALQUER TIPO DE CARRO, POIS TEMOS TODOS OS TIPOS DE COMPRADORES E QUE INCLUSIVE TBM VENDEMOS MOTOS E DEIXE CLARO QUE VENDEMOS TODO TIPO DE VEÍCULO, VAN, CAMINHÃO, MASTER.\n\nCASO HAJA DÚVIDAS SOBRE O DUT, TRABALHAMOS DE DUAS FORMAS, PROCURAÇÃO OU DUT, DEPENDE DA NEGOCIAÇÃO COM QUEM COMPROU O CARRO.\n\nCASO SEJA DÚVIDAS SOBRE MULTAS APARECEREM DEPOIS DA VENDA, EXPLIQUE QUE EXISTEM DUAS SITUAÇÕES, SE AS MULTAS QUE SURGIREM FOREM DE *ANTES* DA VENDA, AS MULTAS SÃO DE REPONSÁBILIDADE DO ANTIGO PROPIETÁRIO, CASO AS MULTAS SURGIREM *DEPOIS* DA VENDA, DEVEM SER COMUNICADAS A VAAPTY PARA QUE ENTREMOS EM CONTATO COM O NOVO PROPRIETÁRIO.\n</instrucoes>\n\n<objetivo>\nO seu principal objetivo é agendar uma avaliação do carro do cliente. Sua missão é quebrar todas as objeções consultando todas as informações sobre a Vaapty na tool [get_vaapty_info] e garantir que o cliente veja valor no serviço .\n</objetivo>\n\n<persona>\nVocê é a Vaal, a assistente especializada nos processos da Vaapty. Seu papel é guiar os clientes de maneira natural, fornecendo informações precisas e incentivando-os a concluir o agendamento. Seu tom deve ser:\n- Amigável e humanizado, como uma amiga dando uma recomendação personalizada.\n- Profissional, mas sem parecer robótico.\n- Confiante e persuasivo para quebrar objeções.\n- Simples e direto ao ponto, evitando jargões técnicos.\n- Sempre personalize a conversa com base nas informações fornecidas pelo cliente, reforçando confiança no processo.\n- **Se perceber que o cliente está demorando para responder ou demonstrar dificuldade em digitar, ofereça a opção de enviar um áudio.**  \n  - Exemplo: *\"Ah, e pode ficar à vontade! Se for mais fácil, me manda um áudio que eu entendo também. 🎙️😊\"*\n\n- Se o cliente pedir para agendar fora da unidade (como na casa dele), explique com empatia que **todas as avaliações são presenciais e feitas nas lojas da Vaapty**. Sugira que ele providencie um guincho, ou veja com alguém da família para ajudar a levar o carro.\n- **Nunca confirme agendamento fora das lojas.**\n</persona>\n\n<fluxo_de_atendimento>\n1.Abertura e conexão\n- Cumprimente o cliente pelo primeiro nome e estimule sua curiosidade perguntando se ele sabe como a Vaapty funciona.\n- Sempre que necessário explique de forma simples e amigável o processo da Vaapty.\n- Caso detecte insegurança, reforce que o processo é seguro e transparente.\n- **Se quiser, pode me mandar um áudio também! Assim, eu entendo direitinho e fica mais fácil para você. 🎙️😊\"**\n\n2. Validação das informações antes do agendamento\n- SEMPRE que o cliente fornecer uma nova informação (data, hora, unidade ou carro), atualize imediatamente a planilha usando a tool [agenda_sheet_tool]. Nunca aguarde o final da conversa para registrar os dados.\n- Após obter cada nova informação, chame a tool [agenda_sheet_tool] para salvar o dado. evitamos assim perda de informações e garantimos que o agendamento estará sempre atualizado.\n- Se o cliente alterar alguma informação já coletada, atualize imediatamente o registro no com a tool [agenda_sheet_tool] para evitar inconsistências.\"\n- **Se perceber que o cliente está demorando para responder ou se mostrando inseguro para digitar, incentive o uso de áudios:**  \n  - *\"Se for mais fácil, pode me mandar um áudio explicando! Assim, eu já pego todos os detalhes rapidinho. 🚀🎧\"*\n- Quando todos os dados forem coletados, use a tool [validateInfos] para confirmar que todas as informações estão presentes.\n  - Se faltar algum dado, informe ao cliente:  \n    *\"Ótimo! Mas ainda preciso de [dados faltantes] para finalizar seu agendamento. Me passa esses detalhes por favor? 🙏🚗\"*\n  - Quando estiver tudo certo, confirme com o cliente e finalize o agendamento.\n\n3. Negociação e quebra de objeções\n- Se o cliente pronto para agendar, siga normalmente.\n- Se ele tiver dúvidas ou objeções, consulte as informações com a tool [get_vaapty_info] e forneça informações claras e persuasivas.\n- Sempre finalize suas respostas com uma pergunta de conversão, por exemplo:\n\t- \"Podemos finalizar seu agendamento? Assim, você já garante sua avaliação sem compromisso.\"\n\n4. Fechamento\n- Se o horario escolhido pelo cliente, estiver dentro dos horario de atendimento das lojas de acordo com [dados_das_unidades], confirme exatamente como foi solicitado pelo cliente.\n- Se o horário solicitado não estiver dentro dos horarios de atendimento das lojas de acordo com [dados_das_unidades], sugira o mais próximo dia e horarios válidos.\n- Informe que os documentos do carro e o do cliente são obrigatórios e é mt importante caso tenha chave reserva e manual é levar para ajuda na negociação.\n</fluxo_de_atendimento>\n\n\n\n<dados_das_unidades>\n📌 Guarulhos (Vila Galvão)\n📍 Endereço: Av. Dr. Timóteo Penteado, 4043 - Vila Galvão, Guarulhos - SP, 07061-002\n📞 Telefone: (11) 99622-0483\n🌍 Site: vaaptyguarulhosvilagalvao.com\n📷 Instagram: @vaaptyguarulhos.vilagalvao\n📘 Facebook: @vaaptyguarulhosvilagalvao\nlink de avaliações no google: https://goo.su/U05DpZb\nhorários de atendimento: de segunda a Sexta: 09:00 até 18:00, sábados: de 09:00 até 13h00 e domingos: fechados\n</dados_das_unidades>\n\n<regras para agendamento>\n- O agendamento pode ser feito em qualquer horário dentro do intervalo de atendimento, sem restrição a horários redondos.\n- Se o horário solicitado pelo cliente estiver dentro do horário de atendimento, CONFIRME SEM ALTERAÇÕES.\n- NUNCA ajuste automaticamente ou obrigue a escolha do cliente ser para horários redondos.\n- **Antes de confirmar qualquer horário, valide se ele está dentro do horário permitido para aquele dia da semana, conforme os horários de atendimento da unidade escolhida.**\n</regras para agendamento>\n\n<formatacao_de_mensagens>\nSempre que enviar mensagens ao cliente, utilize emojis Unicode para tornar a comunicação mais clara e visual. Diretrizes formato de mensagens:\n\nEndereços → 📍\nTelefones → 📞\nSites → 🌍\nInstagram → 📷\nFacebook → 📘\nHorários de atendimento → ⏰\nDatas e calendário → 📅\nCarros e veículos → 🚗\nDúvidas e informações → ❓\nConfirmações → ✅\nAlertas ou restrições → ⚠️\n\n**Exemplo de mensagem formatada corretamente:**  \n📌 **Endereço da unidade:** 📍 Av. Dr. Timóteo Penteado, 4043 - Vila Galvão, Guarulhos - SP.  \n📞 **Contato:** (11) 99622-0483  \n🌍 **Site:** [vaaptyguarulhosvilagalvao.com](https://vaaptyguarulhosvilagalvao.com)  \n📅 **Data do agendamento:** Segunda-feira, 11 de Março de 2025.  \n⏰ **Horário:** 10:30 da manhã.  \n🚗 **Veículo:** Honda Civic 2019 - Prata  \n✅ **Status:** Agendamento confirmado.  \n⚠️ **Importante:** Não se esqueça de levar os documentos do carro e chave reserva.  \n\nSempre use esse padrão para tornar as mensagens mais organizadas e profissionais.\n</formatacao_de_mensagens>\n\n<regras_obrigatorias>\n1. Antes de responder perguntas sobre como a Vaapty funciona ou fornecer qualquer informação ao usuário, **você deve obrigatoriamente consultar os dados no RAG**. Use a tool [get_vaapty_info] para recuperar informações caso o cliente manifeste interesse em entender sobre a Vaapty.  \n2. Se a consulta ao RAG não retornar informações úteis, peça mais detalhes ao usuário antes de responder.  \n3. **Nunca faça suposições ou gere respostas sem validar primeiro com a ferramenta.**  \n4. Sempre adapte a resposta com base nas informações recuperadas, garantindo que o cliente perceba o valor do serviço.  \n5. Consulte o dia da semana para a data solicitada, valide se está dentro dos dias e horarios de funcionamento das lojas.\n6. SEMPRE antes de confirmar o agendamento para o cliente, use a tool [validateInfos] passando os dados atuais do agendamento.  \n   - Se a tool retornar \"ok - todos os campos presentes\", prossiga com a confirmação do agendamento.  \n   - Se retornar \"faltando - [campos]\", informe o cliente que ainda faltam esses dados e solicite que ele os envie para concluir o agendamento.\n</regras_obrigatorias>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        5420,
        120
      ],
      "id": "8b1969ed-45c2-4632-b324-2d3da269ed2d",
      "name": "vaal-agente-principal"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1771f030-2e2c-49aa-9183-2ce785b0a74e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6620,
        220
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "vaal_1",
        "remoteJid": "={{ $('payload_handler').item.json.contact.phone }}",
        "messageText": "={{ $json.output }}",
        "options_message": {
          "delay": 2000
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6840,
        320
      ],
      "id": "57db3bb0-f406-41bd-a4df-dc7ed8a15bc8",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "yF1mcU14BypsoPiB",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "name": "agenda_sheet_tool",
        "description": "Chame essa tool para realizando o agendamento, sempre usando padrão pt-BR e America/Sao_Paulo",
        "workflowId": {
          "__rl": true,
          "value": "ZpOvo8AmQzyVONiS",
          "mode": "list",
          "cachedResultName": "Vaal-AI | Agenda Sheet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('payload_handler').item.json.contact.phone }}",
            "dia": "={{ $fromAI('dia', `dia do agendamento | format('dd/MM/yyyy')`, 'string') }}",
            "hora": "={{ $fromAI('hora', `hora do agendamento | format('HH:mm') `, 'string') }}",
            "dia_semana": "={{ $fromAI('dia_semana', `dia da semana do agendamento | format('EEE') `, 'string') }}",
            "cliente": "={{ $('payload_handler').item.json.contact.fullName }}",
            "carro": "={{ $fromAI('carro', `carro do cliente que será avaliado`, 'string') || \"\" }}",
            "unidade": "={{ $fromAI('unidade', `unidade escolhida pelo  cliente para o agendamento`, 'string') || \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dia",
              "displayName": "dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dia_semana",
              "displayName": "dia_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cliente",
              "displayName": "cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "carro",
              "displayName": "carro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "unidade",
              "displayName": "unidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        5480,
        360
      ],
      "id": "70aa594e-b542-4ffe-ba39-af6b622494ee",
      "name": "Call n8n Workflow"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vaal-ai-sdr",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        160
      ],
      "id": "b1abbfcc-58c7-4657-91fe-102659f9711c",
      "name": "Webhook",
      "webhookId": "17e1268a-2679-4bd2-a362-377c2b3bcab2"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "vaal_1",
        "messageId": "={{ $('Webhook').item.json.body.body.data.key.id }}",
        "convertToMp4": true
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2980,
        520
      ],
      "id": "028598ff-540d-4858-8e20-6bdeeb1a643b",
      "name": "Evolution API2",
      "credentials": {
        "evolutionApi": {
          "id": "yF1mcU14BypsoPiB",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64a79a38-696d-4383-a1a7-527a3ef3a4d4",
              "name": "base64",
              "value": "={{ $json.data.base64 }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        520
      ],
      "id": "ba85e3b7-e1c9-4b9a-9f13-f3dc8f6c4f08",
      "name": "Adapter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01d0993e-f2df-4912-9f2c-41a182ec0a36",
              "leftValue": "={{ $('Webhook').item.json.body.body.data.message.base64 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2980,
        260
      ],
      "id": "a043a038-380c-42ea-9d5f-9c3f270ae466",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64a79a38-696d-4383-a1a7-527a3ef3a4d4",
              "name": "base64",
              "value": "={{ $('Webhook').item.json.body.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        240
      ],
      "id": "86efc74c-9a40-4ba1-82a9-493bc1098152",
      "name": "Adapter1"
    }
  ],
  "connections": {
    "Date & Time1": {
      "main": [
        [
          {
            "node": "payload_handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "google-sheets-discart-lead": {
      "main": [
        [
          {
            "node": "supabase-atualiza-agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "block-lead": {
      "main": [
        [
          {
            "node": "google-sheets-discart-lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch-msg-from": {
      "main": [
        [
          {
            "node": "block-lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "verifica-intervencao-humana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz nada - Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "payload_handler": {
      "main": [
        [
          {
            "node": "switch-msg-from",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase-create-lead": {
      "main": [
        [
          {
            "node": "google-sheets-create-update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if-existing-lead": {
      "main": [
        [
          {
            "node": "supabase-update-last-msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "supabase-create-lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase-get-lead": {
      "main": [
        [
          {
            "node": "if-existing-lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch-block-ai": {
      "main": [
        [
          {
            "node": "supabase-get-lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz nada - AI Pausada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "google-sheets-create-update": {
      "main": [
        [
          {
            "node": "supabase-update-last-msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica-intervencao-humana": {
      "main": [
        [
          {
            "node": "switch-block-ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "openai-transcribe-audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message-type": {
      "main": [
        [
          {
            "node": "Text Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase-update-last-msg": {
      "main": [
        [
          {
            "node": "message-type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Memory": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Memory": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory 2": {
      "main": [
        [
          {
            "node": "Edit Redis Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory 1": {
      "main": [
        [
          {
            "node": "Wait 5 seg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Redis Memory": {
      "main": [
        [
          {
            "node": "Compara Get Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 seg": {
      "main": [
        [
          {
            "node": "Get Memory 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai-transcribe-audio": {
      "main": [
        [
          {
            "node": "Audio Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "postgres-get-lead-follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "postgres-get-lead-follow-up": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "postgres-update-lead-follow-up": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory FollowUP": {
      "ai_memory": [
        [
          {
            "node": "vaal-agente-follow-up",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model FollowUP": {
      "ai_languageModel": [
        [
          {
            "node": "vaal-agente-follow-up",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "vaal-agente-follow-up": {
      "main": [
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow - FollowUp": {
      "ai_tool": [
        [
          {
            "node": "vaal-agente-follow-up",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "postgres-update-status-lead-follow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "postgres-update-status-lead-follow": {
      "main": [
        [
          {
            "node": "google-sheets-update-status-lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "google-sheets-update-status-lead": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Não faz nada - FIM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "vaal-agente-follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API1": {
      "main": [
        [
          {
            "node": "postgres-update-lead-follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "vaal-agente-follow-up",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "vaal-agente-principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "vaal-agente-principal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "vaal-agente-principal",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "consulta_agendamentos": {
      "ai_tool": [
        [
          {
            "node": "vaal-agente-principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_agendamentos": {
      "ai_tool": [
        [
          {
            "node": "vaal-agente-principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getWeekDay": {
      "ai_tool": [
        [
          {
            "node": "vaal-agente-principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "validateDate": {
      "ai_tool": [
        [
          {
            "node": "vaal-agente-principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "validateInfos": {
      "ai_tool": [
        [
          {
            "node": "vaal-agente-principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "vaal-agente-principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "ai_languageModel": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser  Chain": {
      "main": [
        [
          {
            "node": "Segmento de Msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OutputParser": {
      "ai_outputParser": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Segmento de Msgs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vaal-agente-principal": {
      "main": [
        [
          {
            "node": "Parser  Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Delete Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow": {
      "ai_tool": [
        [
          {
            "node": "vaal-agente-principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Compara Get Memory": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API2": {
      "main": [
        [
          {
            "node": "Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adapter": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Adapter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evolution API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adapter1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        0
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.web.v3.codai.dev.br",
            "user-agent": "axios/1.8.3",
            "content-length": "30123",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.30.1.1",
            "x-forwarded-host": "n8n.web.v3.codai.dev.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "32f1b48cdbb4",
            "x-real-ip": "172.30.1.1"
          },
          "params": {},
          "query": {},
          "body": {
            "headers": {
              "host": "n8n.web.v3.codai.dev.br",
              "user-agent": "axios/1.7.9",
              "content-length": "29623",
              "accept-encoding": "gzip, compress, deflate, br",
              "content-type": "application/json",
              "x-forwarded-for": "172.30.1.1",
              "x-forwarded-host": "n8n.web.v3.codai.dev.br",
              "x-forwarded-port": "443",
              "x-forwarded-proto": "https",
              "x-forwarded-server": "32f1b48cdbb4",
              "x-real-ip": "172.30.1.1"
            },
            "params": {},
            "query": {},
            "body": {
              "event": "messages.upsert",
              "instance": "vaal_1",
              "data": {
                "key": {
                  "remoteJid": "5511941404959@s.whatsapp.net",
                  "fromMe": false,
                  "id": "AED9752188FDD20069B606061C1A9997"
                },
                "pushName": "Neto",
                "status": "DELIVERY_ACK",
                "message": {
                  "audioMessage": {
                    "url": "https://mmg.whatsapp.net/v/t62.7117-24/27347522_1835240860370388_7018002380845611199_n.enc?ccb=11-4&oh=01_Q5Aa1wHR_d-fvMFkrvsL7NHIOuaLYdK4_VPe3wfYkMMnvflqiA&oe=68861127&_nc_sid=5e03e0&mms3=true",
                    "mimetype": "audio/ogg; codecs=opus",
                    "fileSha256": "h9qUcoCqIuZ/ueQSmRdB3VLCpGqLffd6A+Fi5KrouZc=",
                    "fileLength": "21000",
                    "seconds": 10,
                    "ptt": true,
                    "mediaKey": "T58CVxjRM7cOt9mISoF/i1sewr/7N0/5wlFaZHDxotg=",
                    "fileEncSha256": "nah+2P3kSmAT11VC7XnT5MM+jljMZZYYdh/DIqXaWLM=",
                    "directPath": "/v/t62.7117-24/27347522_1835240860370388_7018002380845611199_n.enc?ccb=11-4&oh=01_Q5Aa1wHR_d-fvMFkrvsL7NHIOuaLYdK4_VPe3wfYkMMnvflqiA&oe=68861127&_nc_sid=5e03e0",
                    "mediaKeyTimestamp": "1751038660",
                    "waveform": "C10+Q0E3XihUKTk1HDJQTydPFhIQDhUVEx4xWVdPPBwaERYZHB5KYChBVU5JQjFXREpLUklEKz8bFxUXHyAbIA=="
                  },
                  "messageContextInfo": {
                    "deviceListMetadata": {
                      "recipientKeyHash": "iSlWCZOzkICj5g==",
                      "recipientTimestamp": "1749746674"
                    },
                    "deviceListMetadataVersion": 2,
                    "messageSecret": "XJxz7YlayNxOZHAxAdO6dUIPWK5WczPUlTyB6/JCI/o="
                  },
                  "base64": "T2dnUwACAAAAAAAAAAAAAAAAAAAAACqCBoIBE09wdXNIZWFkAQFoAIA+AAAAAABPZ2dTAAAAAAAAAAAAAAAAAAABAAAAjzLsvAEYT3B1c1RhZ3MIAAAAV2hhdHNBcHAAAAAAT2dnUwAA6FEBAAAAAAAAAAAAAgAAACbgyfIctv8c/y3/Lv9C/xP/HPf/IP8j/wX/Cv8z/y//MkuGBwgZLTAL5ME27MWAB8lyJ+FE6lAH+DZWdhLMpoJIxLrNyWXhGXE4eiHK5RRggDBUa/ydngiwa2/NsWKbkZ2L55syOnYRTxSA4NcL3SnHGK4R2fX+B2XrtR2AibcCVNAOxPfsuk05bDJt3NiRiHtxgYdLzUEP/6b9M0yaySyGfDnNFYGEFr4bY+XwgXqEDqpgCnyUzOvz7abC+r4XQoPSWI8ty+n8DZlje6FM/+6GSJEjT3AMS4YmNjApL4KI6vCzQ6RLbWY7XakrMd1dKchaqbCBFAR4PBzSLkOZpKJW504ggoZluD+Y3o98QrNGXODvIywTtIIPRofCPHX4wm/EsxmX5PZPl3zSY2xaH9BSqTUsGyvRsVvwq8gzmYH1170rP3u8APKdt0v/cczoX33+/8MiNGa1qAEl2MxKKgrj0I+GbhnsaYB6p9a/hSRlhd6nO4eW7p8/ik0/2zDjlzbLI0LtQKJM1P489suUfe5/ehCph3XtTpyMnV26Ccy9XVLcL0YHrVjRB4jRVMKCGAKNslMu6nyZPjICiaVhazf5TKme1fl95T6ysUJ2Tl9/DCPJin3quriHhfJf0o/WYF+rk4o70ahgF9wskyTefdIewEuGNjIuKDGpacAcRACVRHS9zinMCerxv9YyV5CRcufYWGo4yOr2VCe5zf3dZWQ297hOse8DYOzigSssp0CnyBC1h4EG1nqe0Nhxpd4ghEEyw0aW45SD8MFBdSVTX6oEPVjQ3q3VtmiFvo68MZjmsKjfgJNWV8IPyd66OtgnhVxDc80n9JUtcaxUsVNNxHwW6D0+yHtq461CtCvB13CibtZSYHYUnkhw3zuHJA22bIfjC8Z1JZWhdLzCQwjT1q5h7jgC07tAoANiaCi39Hr1KoR/YoP21Q1R9/V8baL7hd364lpPF19O1M3S/yX9AaDJUzEtkHojgKADYjfxnd0OLF52CcG/+R3uy5nYirniJQ0sglgtBsAxCS6FW3n36E24kYtu06DmujDd1rP3ZkuGMC0vMDiie3SBQbr95eD8p3WrYHTe20NMYDZhIApZak6cwtTkFkSg1upedLKgvGdCzskHw6Cihf2dUcj9K5LrBjoD1SMr11uxMlOkH+KFRk/2qlmES+VlvOuJFW+shVYEjhCie280oX2qk9eozUQpJwEO2QfNxYCobY8oVCr5K9SFxTVfEbxkj0OFW/geTE27gKJQzO78P2UzbGVvkv4t8uyTsr1PbUCvCqJvhsAnHZ1HZg5CHiS2wqEB16veIsKvL6FNm+NPCLYgmboDCydgTrqUuI8i4JeOeCmbmVggMCaZrE2/Rm5jVyx924dpR7cuyyFjTzxOaQ2AoMFJg7v+ET+844PZ96Tb6dnVmn2OsfE10GESHqoQaDWCbiD+Uy09sE6hRBtUvPXPEjxLhjAyOTA2nWjqStwscpWUDRbMpLf0c2i/JhxKsJo0G+CGSMlEUBN2JVjkY/vlQi24c+EcCVWAnZ0sHium7NuGolB/vjIPB+AVM5lsfLgMVfmuJ5cqE5hPiO4EgyXDghLh7G/2Sc1l4qCfFtYlRiWVwR0MUY0id2u2iqEFK7JFIzKzh24mnFSIcy/2zvhcRPHXqtx545giz1t/ouuubO3Y5WuhRj8c7BreZoPjCQvyGMMrU6pC/BJi6tRf5x6CPfapTcoWxHDLZ1kmFWwdwhma+x2ihiClVaD61pZhi0G7hXfHwLAeJR2TpYQkWEMNw8WzOBnfhzPo2ymrEfNcmtOkb4cPSs2lA0Ci7YJFc/19LF/Fbwl0wXZ8nQcjI1a/a1m/I7tDjiNYhiJzN8zbZg1MVuT4Ibw66pCTEH6F2cVj/UBLhjclJi4upNPmTFjlI5boCuG2oetYx1+B1QSqvb3Y+mctJSDjQ5LyZlk0wltYNT5SY1wiyZEd0jXHRpcKgDfUgWKEXwI1FvnumrZN9rNDSHCEDZajJIpTuK19KS50Zeh0O+A2fAt5rMzcjiv4Hdgs7UZ0E8bDIEPdTCampGfFc6XYdfJLP3+4QIGYf76Yg0q1Tt1zdFVFexwxmCWy5OoViD9desiEF2rzOcNcfaU2SxQN98BJHYCCa37hYzT7C++IcW16AS3e5/1ZAdH1+usezOpZF7pW4p4hze/3WVYI+otP9V5ogcEoFY6enNCzU5JgQjykMPglkNgqgEcW++UdjBDCGr8Br/1bukPJuRAe8wKAS4YwKy4qKIHBJ5EIO1tfqGOiLT3nOw9PSpEeEwiGBMPopRWz/cLN21Y+BmOBkCRtq9lnnnmNwIto5QyiC1WuOmc01J2MIqgtZ+pbUVxga90/ez0VrrUvLFSnCSV+42CvVuCBweJ7xc+qaIixutZJmXRLfALsP4fQt7ZYfaT0sbyDDS1hNh90n1AIX+6zZqiAgcHie8VZ7ODmoyG5+98ZBmwW/z5CBK63uIEpEP1jEnTDjdaw6DNSpTLXgcU6rGt7I4OANonWjwAHmaF6QRZ1K4ZmKG4uCHVE4AcES9yzK36gsqWfGZxl3lruAs9/qAIzrLd2JTLW37uquGHijRSveq/BKbQq1+f/pD1Vk/jlM7zKS9qRiRY4htryoEuGMCwlJSKw4hTzjOEpdDgU0hdzRKjLk/my68PGm32JhaHshklZxGVcFnNWw4nECXUJnBgidjCyTJjsCRcmbOLgboD2bXbHh1NPr9P8hUnmQzVhCwO3JA6IKxnIFusz4717gLPQP0WGiCZcUmJ3MyUuQWfVEMaHMvS2GLz1qKDwIFK9hZkugsCz0oSB7nDkPqNn4YLQ+u9xPArm+QqYLBwIAq3DdQ8Fa6HeS58sshBq+m8v7cvW2wgLauRhSwuvOBB90UCOCvV2FruDJvR00LHk6GgSj3B1Pdo4M/2eYnW1H6140CibJxWs6pvGN3tLdckIMt7BMYBLhig6MyswsCkYyU9sJBt1+K0z7mBhLeyFaNx73Qe3RCi5W89ul98xGQg21WgLmKjNnukys+bdl3CDhsP7Jhr+SQ8OS1Ec/QDiDcDGmzfucB+JxRLKgsZIO/jcE1CxUOAvjtgn8fZ5J4CPbAX8ECztD0cKOItNjzny9AftX8kCdYB6Ox7z+GY/LMt3LMTZ31vKgRd4hoOcL2AC9yiQ1Eq9VQQplTv/262DnztlRI1+fm1e4OfK9nyVUQxnkwktO6C1QBYLLAhQj5Jx68s+fnF8fgaAfBICVSzULvezPRApNb8B4N1CE6bqPfIRCBTIU8qV3EGV5lLANjKQM3bgdpXaREhYjo92/uYpvB93z+59ySl5OqEu2ONBTzZGiB3R4EuGKC40Ky0xPtJTOp4Ilw+iisj+05OnnrIwZ24Leymxx/em40r9m3DuwNAuw18ogS8JT9ZRf7Yr0QYDkvItc+PAOLIeEMFqw7Ij3ie8WHJw5RfR6N0snKJVRmG1Hon+e6kbjGWPA8sz2rcRhG4sBV3Ip+WEO0W8pIGdTYNvQfm8C+K/TfQXbSlopgsd01hDxmCBS528PHEa0EqH+GhV98PjNvVAqNFMO0RO5WsUFcMDyGl1eVNjxYPkCbtjgUwrPcmAG7ATDE3Hktjv5qj2/zeeGmEuGQJJMkoKuI4seIpuaSM7yCRgzVronEuVMXfNhTPyVP771VfwoSGD1LJRmNxfxf4CCBCYDZHRRMl4WcxJFf6VpvQXYd41XUHhYOnBanF6S4Y6KiYeKqhu3AK0ZI7UhWxdyB6Rmx9oyzzhDMhLJDA0BCAgYigueyJBq5TYS4lAR6J3UHm6e11wmfhWPH3YZLGrWl+pxYZCyLw+hAZHft3Ue3gJL6J38H0+rSF+zpGppqGMpBTXsRl8kq6rh8krebsjYzMOYQYb2OsBXt1/4w2Xa28D+SBopeDUJh0AzBL34Kzv7nZrvxYHKQ7rW1eZ6A2KOG5FdSqIzzWi2o6haazPueJpjQEKF0Rwd7GLm6MlTj8IXezkwQ+ppVxsSsbjCkfGSlEDARV8sqqlPTDGxkiyf8QMiqkx9AnjOmJ/T7Q/OUzAi7QzfSVgajAxEdYsHSo9UHhLhjgyKiMjgoZP1qd8tmGsn4nuc/bA36FOjzMWyHp4QEzYAUCzxc7LGC2aUgXi3A1e5CNGcDoNvAWil85ErkCQX0x1O6OAVYeeQx9sV+WDsk6UbnSZlJlGA0I0srsOxP8PEhJOVmM6o1qmLNnQsl+jgIN4AADZDIQm2lwlsQX33sP/JdgGXLB5n2qJqG2lTt+Pq4vxPZRwUGkO4DiYtuemrZ0ISUXQERl6GO+PC5FGKqWuvckfbjZJb3WxrlYyMWFSpacs6HgR5egJa3BIdwpLhDP7kpNChmgq+0K8PAmWML02KEZr1CjT1DkWPL2VDiKXjhoOiveYG0OSMortb41cTDawPI6DWx/AS4YxNTgyLIE1UdM+8v30qV0VGp6zTdOklH6KHCKBl7Uw3+Ow3QgugVeAnZJe4dI278MwjBeDxICdghfbdXNhZ2g130z4AgPOhllLiCuGeE7qa64FuHnb3u0h2aE4I7ZsnynbsbQnDqcJidgXEp8cPlPXHIHEy9O9bwtRGnTy74Er9Sdx2rPsFpt9i4Ol2HMMIQmHsaLbb4+qKhgsysqepc28IzqooU3Lyakmcao42icunF/UjQUOppgylEqCW+ifvcnawAjRblo6TIaypa8Vav1mrq9hmj6hOzjXYAIp7LC5Dt2cSuuQ0PMpZRLRMdwY71drgDQjdLRITIZNt5BECxw9sJ/BejhtHbWzS6OC6oGxtPdL+pCrpC0v3yZsUTvK+bYg8pf1ynKzwTJ3cWglUpV2S4Y0MTAtNp6itSeJQ7lA7BJyK9svRgOiRKEnxWNO6emfChH+5glndGsmftyQNMWpiwWeQHMRLVZz6rCeqrEsQhukFYr3tfwMk4QfEO34XoMPCq/dHywKDzO+knLl8BcE5+4qXWp1AfkIzCmAnsuZ11c//HMdEaKURKXoA+/OWWL/962Y/LVSZ9pbBi7PaLmnK9mWNlEnocmxY12coAE+xnpikbCd9gJ7QKW9QaZYkvQnfc03lk6ZGY8QJz0Qv1lV4LTvHckM4Mngnt8F6+hFhG1QRREJy60+Jm/ikumM/IEh29D8D30JAOIlk91eEQkgLIjVyuhsJ16IyFtm5q+AnXS8BccEJmTHdGPkJKE8pqwD9v4YWUwyKkM+LqthO2SpLrN/hBHVQpyMRPXguEBLhjEwLjYxnZ9UM3vfGs1o9da1EQUBxTMwdH0aj/S9azloTfgIjvCC0e5l938HU0RvqwiGHvXZ9p/xEoxXF+Ek/800dleH4Sf8nT7gWyoWHegoB+6eB6w2N5bmw8QpVuaBUsKMaDDpQJ/+PicAhX4hI6c3dChlhOb/w1D8qyiKmevwKL3a8fki5n+6Y27b+7F69xCLiKSgZONFlb9WHp7HTYaMeaEnLpcr1y1KlrDGlzsd/FqPH7sj/Dfvzl90JgLFDzwUpbLESX22PYCOOCAmoenkkb8QK3cvg2u/0Qcly4b+fbGp3C3E0Uc4Hq0wPM+T6atZ0BOOYAGd2Bygj2bGG3GPM9fIakpAMVtNePJ44GsP4k0Kx0DOagpc86Mzu58sNOSzcHlqgplwVQ6A7NSrQE9nZ1MAAGhXAwAAAAAAAAAAAAMAAAAPeGtAIvL/F/8o/wz/FP8s/w7/Lv8S3v8O/wL3gAICMAICAor1/ylLhikpKSUkkOtWCs5agMaYKI1dSThhh5/77HQQfCCEN7195gluGHprXYSurWF/cmSQ0/41ScCL9cB0P51+9cto6NqN6rW/wW7H+WjRoh8CYClgIq1HBrXsQ45xXXBc6QTTr+BUo3/CQa2BfRdoxN7unfUG7vB4U3VvGqaB46Nby42kMpJ0w5peT5U4UUyArskbWt7FLxBihqmJR3d9umiXcIbsN+MnmDHX5ryB4AjaZ+LD3ohLANjDwklCJOCnoFq0eFi4+Zh0k8R1IDMo3SUewiHsmjIIyMbyJSilL7qh9fkumZtqKn2sHvwKO+1JOKPO4EuGJyUxMDUzKLeS9HSbrdibBdceReRoxYR6z0EzWPibF9mlv/TiAqPPmfLK+cIFHuTMxUuFeISf4o4IiZpd+J0VQyFVKfS3Buvuu5/c9KrkucpsgaVgGFOhk3lmb49rpVhellTlsPXvve2QRhbuNASwkotMvtTCorWgOxccfESB+sMuoKNzl+Bj7FtB7aKsWBDYj+XdHbZ+EXRFSv9wJqRv6wm6YfIiEyiApAF4iTAS/i4HbKPr/oezrV+XNJfK8LdcMEV2t1xR4a27PzfqCOVeQQXY+ZiAGTlVSDQuJTm94xWoJJRrX8pApUm0uEvHyC0ENQWg8a4O6bTYc9v7VvIrF5np5S/RmOC5akW0SVa28DUn6xOvS4YwKS44NqZVegwhM/CAVu/W5bsjBIhhH+FE23YBFfdwJFtqZSucBYu1BQzYIsr2VC4dL+3z4KZUocNIvuY35e+Tr29mRIO8gRO6ZBrSMBtANXE3Eki9369r/wRXGDpgpiWGMhu+cdlRo1zolDCe4yl3wNkuUgPcWANqfWFO7Y5KVGtNv/A7V37vPdDIQr5Fre7Enl15rgk6Ina8YwkIo8SngTBo8SJS4ckNYVja/+Ifehp3veaPJd+EkVNslsDHuH/1j7SAgzsbARS0Jhc9VJHeMFcEIWl22YBaPWOy0z9R78J1SuALZIPgoSQZrPPODhjjLVjWWJKJ/AxAkWgRsZULd4mrX34kZrYL1pXWvgHAkX3F1vJ6+JkWH/UOF8+mYp+tZKGp+EuGLCsqJy2QOl79gBfII5LDzBq3gZfGSdvKbSSzcAFFXx529LzMyEK1WIaWhOAO9mMfHY75gGCp+guPSenxaEtKhP897F82IPxEZjez0HprZe8V3JHHj6ltMGgId4A0ezSN2ZJJaH53maVE1bgnnqW2IWfwUd4bB6lJq65v3KAdDMPw7mqpvIAzJ45bFSsxuv+yuxjYkSrbjWrohL+T6RPifhkNtJ/evhH3a+xDAiCKZo1Huvwk4OnvqzxernjgYrR7fEixEC1kLK/gwC3lrZHJVNFi5jbq/DOyjICBcIq9psuy47tlqTiv6efIuG2p7BhulOhECm65NQhzlSa7jAV7RkZ5Fc9WBQ78QEuGPy0iKCyli+VAR5OF7eCBwvAaKlbNMCeWZiItSWe59DWbfznd+4tV7Gt6c9NImuEXuPsMOh10289xRtY+X6f9bbJNRoarUnyJRyvQIDeq8W/WpWnTHqk0o5FawRkmvSGtKrnb0NDh1Ic+1StBXMeWGYCpn2CNLUTCOmfwqKVzSy9KBjd4c24tvYSOIJO4QyJOcNhgqhlGHlFaOJ7gUmHNPTF6yTbaNHm8QC8DQ3SmF3iYWkgMhvEPOmMLoasioSGqBd7eaRs1Oe2aPk/vjVerg0hdU/6wZxPv4w/KnDO0gt/qIOfz1+0gqzo8f87faeD/eTxibd5qK1HugcaMiDUuM11y3mNb4MCxBZOeNg834pyGS4YxND42Kaqw77cGE1t53I3wemrtncv02QDJboC3SF1CYUQEV+V/a8yXdXCWAZE6khrdKqmizSikiVQsikXSL7AUXF1Sf/fIFhqGyvXJevnbFdG1Ly3fQTa5ol0mPs8gAjRQh/xiWvyFvVNkowgcW3je/6fwbDVrOyoF5q+118RMx12NEAD+ne/vFAWBhwCkLEkZAyskGfK4lvvb0Lh/ePutAC7v4dqJR62pn78iyDLY8Bq5gE7U/fvHwYOowe9V4nqLdpWDhuUg/Kz8x+9jM5k9YyJ71GR3caCaAfQ3Q6Cpp6jkyAiN/4OGQSdqKpMq/maGXuC6wI1fsAsSnZI0ybNlLzIVe8ATgKmfYI4S1apJsYZw+U/plVxNAnZ4sUicfmEtM1PkgKdl8PBLhiEsMS4op9S1znrN5UbkebtmDpATswXaULnulrT2nH1YaRDZ9IDAp9SulxaXssOVN5UponPQlAdV94by5shkt/MTJ511xTR/mhnjJdokUKxKMcCnLLOAOVAnzz7oKQXnQUZF17SHPF20VzT9jfWOJ8jsZEtKE2EZuFQZf5yq0XEuoCa6gggcnjZaUpnVlUDKKthGGN0mzK0dUuGporrEVg/w2V/FO+H9/dsg7mCdQO8rgDOCoLkxsJ05RbQRFdPtv68Or8GrgMoX6F597Fb0KkyC8jKjPlfrseiMKIzCtwgriPgyoUnL9I7lOxcjr8wuyrV4muybyIMK7dr3r/D0FIef4OiSXgjtElkXBkuGNTI3JTGO2OAaIu3IfF+8SuQpTd6bKu+pSPrmiHxXlqxIMnBN5qjJzhUQfsdniaJ3JMkFiYatbtOVsINaQS8EjMog+UT/tBg4GS/k/GVo84rT9fl48nk7qDC74kCzHu7EP7DSh2w+n132p+VikF9LY6C7jH1oLtJCJ6P5IHF/or8HLiwujNID6H+900ggl8WIB2ba90THqAjQSbrVYTbqFQYC4IN0nT0fIjskRM8skf96bgoyYV8lFruWYVcchiFL+NBaGvnQciiiu+Yntzx6/C32qU9HRmF/JBrALSczEYJBt77gx+lYvRK50rxOPma1EvSmuLDsgU+Ao9/xpyw5Q+BfQxWfwdfn+jMeNAhpdu3zr/2HOsO3sj++RkVllrAaxXbtmUx2g3lqbsBLhiotMy4opDofiVJkt8aKRgCtSY/GfIAmb6XfvEsHiz0lcmtRUXtJYnl1UohruZRApSeslf+4SBCCxsK3K+GVkiv4ABAec74/ZzXISAkItGAPDMdemMK2379yBK04o5ZBtsBQgV2/fLBlMbE6jTtVTIk7REGvT7lCn/YNxJgMV0rXTXFW7x3Ex0nT8grqxK+8n4dK4GAWvuxR0zWN/ycu1mUvDLEYPfnZjW0UfOJCfVIEIAsha5bP5MSz2olcqIp2eqT8vrQu792yY5DVkw1/lYurxKdEFqzByhcpRKjkJbzF0ZNOuzg0v4aeGCQ8q1lbVuxvZ7zlUhopabCs6Z0wdNL7TMM4TN21+P+yb4C8HyxLhiQmISQkBQxCusiX35EOJQ8uVUCsx+Dql3kubCg33+7M1lc5JhAU7E6AMyi2rfI0Tz1FrhbsJfud/FcJan4lUtWqepSK0mjsiQCb1QDzi8AFDgzJCJA49di5UXz1QuISZTTKGPe9sig15tG6oQTtJ94zFC2SqyphqKa2wUaNsjzBDanxx6L2CEmoEudQcIEuAlmZaOAFDg4uMEA6/Jjj5dO3VyRTCczQluee0WTfH+LkIUfsp4y3qq4y1wtHGm+gP+ldd66V1nPPjYE9SVK6tgo+F4KjVLkHVZLFqdZLhissKykxMUAR8Td4/4RFW3hb9TyZ+kK6/haC+kHfoi+ADUCOQ5QQZ2Djbas/dGOrQDFAGlaQLYoYD0DAvEB2PPUglEFBSo5swm8PbA1b7tyPcnHslhrG4HB6K6XIMT/3Wx9fDE3NT47CBL6f4sGe2WGrZFVaxJKd9ZZc2ggvZL/o+uKABP5XyjE/9qwgo1dZ9fAE9fP1Jq/a+xrgY3DZPZktYp4VR34AOnksguJQoj5gMUAR9xNXN/vpqo7dcYNhJkg+hUY1TXS6Vh0DjlRPZBu5ORWSzRFc0xSjiI5icwFHcDE+0lU0b9kf7eMFkdmE/+6uB3zsT4tCa4L154tWwqEm9wqND0FZhEaEMEuGKC0wJyYxQBHycQ8WcFqrqKjX7xDxDdtv5WzI226VO/BhD5qb51rK5UfUfkDkMT/3HMmQeEPTYisOVyZAUXq0wEPpUuqtVY2Lm147JWh1Tw+/xhgHCr+IAepuMZATOYGuHaSV2smkEImKuyLegqoUTiUoz4p9m1dpzCvDSpIQzlNBdyoCF5NVc3VANisvt/eGj654p3JGhBjsJQG+UJbSGlBqTU4lgYEI86C0DlJ9mNZAMtcLd0SbEQowL8JTqTx+fOmYUVLXajkdYq5ECxy2eaUt1gL5BYAx1+alMxi5XPW09bv/jfCQdt5tuYwiOX9uIbXYeL4T3uyccG8LPnSAS4YoKCMnLDMotvevki764IqWL90zZwX3OrZ7u+PutKurryDYfhfo525gvRnndKAzKN0gl5b02mvJLJa0WknqWIJh5roIUrWQiqiPkAGITL4EfXIV/0YSMyiWfH8egnVw5x/Oq3avHXTiX2bFF7wg8Kvmh69bRacTAwgyknSjXb8BbbaTmyYCUidiHGcwqJtL8B+XcEriht7WYH1UeZuBfTwE3kJYujTkheLOLDNTthNdTAdQi7aDgYKN9d+5UUt5CSQdq4fk8L6eFEH0gAWHtOAPKzF2nX8sPCMRmq6hUZ/1WTcctRCSlYLrhcm2MAuUXWM0QSgdwEuGJysnAAA31unkNAMfTAQO8LbCgDKmMM89gNwGJBSn+DiWsnbj9ve7AF82bVYzJ45Y57ayuR8aSHT3aV9oQcjtqHN4gDXG9P9BF7wcNYZvDUwuRlQAMTC4MpJ0tE3x5j/HZS90wisca2RfDNBRCF6d+DAaRWM5So5oc74u5SqASwZLBkuGAAAAAAAzKNEOhLSi6Mm0BUIOrBtH2sT916NDzecpY8JE/zmjJnpzgpi6tKXoYEsGSwZLBkuGAAAoADI2e/VjdzOkXjUKoVNNnhLae6bFs1tBBkmRs9G5mFlY0Pps5H8rlL6GgZf3HBEcfijZ/oYRuGSQM51jJO751KTjB1xFWx6nUs/8FHJS+DhFjWMIpk882ZluX0CLaHKka2Lz8MuKX1czel64m5LxElj0H2UaNNNi1c+15QG7p6HZD2WISEuGKyYiKiM3WoWgTQRZ7Aq+bKfX7eBnJUMhsYvXhMeRBuSjg4gKBJ5+J3+dBDZAOWHEOO1MEevAMU4hsLmehJvTR1A4G7RpbYFgev2Z6k5B4EOOHwKb5tQFwrLDHxgmJhghr1riF4szDmaZq3b7UULZ/+cnZQQ7fIwnN3TkGeme78yu964UFGaNy1kzsWWmvNdxPb0N7vLkbHCS0GQs5996iSUIBikfhky7cZpQ8aUl72JsoHD/p/o0OpgSC2C8arSWxLvnI4CC5M9hDiu6rbNAdt8Dlw0vadettU6W7gJTDbUM5qzoCzsrgL3IO8idffq9fh6QS4YxMzM1KpdeNxnIIo52eW2J+zntlD00MqvdDw4BQ5a3pQJrZLU3eOX5TXf0qrv8hySDw4d3EMC0tOJ4nGu6S3q40JBSba5os8Jozs8v9dglmPdv2NSKoTuUKrnoLh4OQb1TbhBtnKx5qvOqkxoZSVmxYykPQjXX1BbD26GHRhAI9eExCxVbxUe4jTs0U22T/K2NMVWJEAtdUauwh4CjT+1ZRtzLDj4km2KwBIc8OfKZ2hAik+vcXYiSm/w/dMEfOmwsW7c7o+wV4X4tENFF43OUoIvJKEkDQa8BO8cdJGGko5gY4CoeCLp3DS73cYvAfs5ufXDyZ+MWpi6wIotxnUefIksuIxhAXaxMQ1zq+cKW5MvaJr793QjEeZiPiTuQbSHEsIdRcNBPZ2dTAADoAgUAAAAAAAAAAAAEAAAAf+QGVx7/OP8f/z3y7/f3/wIrAgK1/xL/Iv8q/xP/C/80/ytLhi0xNjk0glndnle5LpcQ/6OAjnX47sIegeRyHjRc+VFtKHtVewMHxE7Tj+MnMxDRSjJcplYycMPET98z8aA8lg5lAOf5O7Dqr6uOh2LI+JxYTWrht4V1lOGjofbwePuL6LaQQKNXdE4trmRmlqMrZXaFtE05GnzDjD+HX8/e4gU9ywT2eG5kkhv8pZlKJ0lZge2hGnOzb8pWkLMSA0000+oOfPB9cUsWo3aRIAlHlihF/rVzyuEXRwUxrutsHsG/bmGyGPi73WYvLIhnxiS3HY6X/LKn+CdjMx5mnIITRSB2GjLcyU63dvJAO11pVUIxOfOl55s3jSwEs0vUzBWDKt+gIwRaHsCrOjWqrcqrGSjFBRawmA/BwWBLg1dWdwTlFq/spZY0u4d1epXd5otLdQ9UkoV4mEuGKi4yJyuq/W8v4gZiGs9dAnUPTgCrXdxwVKUSV/76QCD6pNskfNq9N7Ju7/pL49Oo30wZsUDQ143nVDIvcoACglcGn8H/kboWf6Mcv8RA3bUkCjTMDkL+NSf6q2tcnkEP2N8drNCL1/5HT3wxGjbidelq5YA/Jp1sBmmbe5DBA9he7KNNJJy1ckRch1twUNCBbV3pTNmbtGpvRsqlmPEE8W4pbmrdsLO0GtLhkvM22+yBlOdNs0yBb8CPxCuhWZeFussnXFHDDqanHn/lMpYzLNwu/aHQpgUFoutWSveULa7Mow0+cyKLSdZQSQ5rYz2pHlSWYErQsOQNRvAf0ZAjIZNN6E5CD2k45qU042NiAFePDrKn1Wa5jPmkOn1Lhj86NC8tsJroItH6zi6KvjeemwLn6qHi5WZsaYZzocPwq4tj056MSrWQZYzWlsUWEeOxMVbCC4uCeEQdtTVv5TwIfLhotWsVnyVItkWhz4oCm2pPyk3IGPue0cFIcDfYd+U40Du3ScN0ANxE5kLEdcEAhKqYVsIh+vlW/zJu0rWhNHE3wKbilB9qB2L8bMbNM37IUk144BjiWdyBa8JRE7nZcuOGZFCqeiiIq0MHNJz21fyuVPr09oU4IlFOmnzeNPfveWVI8rzHHgOcGmTjyz2X8+nn3G2O22s7xn7W3QDEmKq6mM1V4WMSbZhDtIxKUYdjYv/Z7OIXgmVZEC7rrY1gV9O42tGEBLONbX/dQKj9qh527yvHEIGpyihaFGNoVf/wM792EnBsXIlo12F88KOKYs2N8obocrv+S4Y1KSAlJaTcivQn6vXOsxfT8OUEgAzS3thAhA80UzQqMLjaQHfbO30sK1e8YavcivSbZR8k4onA68tAggm89X0UoejUUcoFQqHeQBLODyVQWpMrYqztr4T7q2WNCrn8lJngLkIFge71oXI3MTgMmeoELZWt1zy63o07kEod+tSVv7HZwAVw2LKt9J8QrEQ1D5UV0sxQggB9oY6pUKnd6As3SjRQHJQoknA2e2Z6LWue0ZPIC+h3MFUCJGQJS0BfWrjnEci3J/rfuDPy7J+INntm2Kx/WN0AmxEuviWjtjMLdRXroh56iNfDRLe+f7izvoBLhigrJyMkBUOAL49wo7xdg1IJhuerlvT/bU3XvmOHlnhreerfajSL+/EKtkpLUQVDkBSB36BKG4Ik2cRy/N6TZCLL/8KvT0CxZOGaIqQoSt9NArYGMmIPhTw1EZFe5cRltnhHVH3fOsG1RZmU5Ax6lDxuw/7/0NJgWDsI+G16AYAFQ5wDQ1cWbEFTycvxtjCSqvDgQwqAUzK5oFOsy9+Trk6LgDSMgjKti17iNDuTPuiv23HOKuxh/3AAaMNTc1jB0OA7aWVUPDURVmetv6AZBDV296kCHA2R+4GGJZMW94uJCrsxqUUM9ZukKohfyEuGKScmKSs1EXccfv1NeM64VzcjDlZovMSCKGKTXDoNdd/b8QwFAWb41vqsyWVdMAVHa0NxddWOarL3Cmxw8X8YzzFhFVF3G5kBDluNF9jqY97f2v27gDZ77EW2dKnG9JgKWDaXlx/8zhz3f/kwP5ouToXSIENjsj2bGsJKNnv476yXlLbgvPEpupXbwGORmu1FtewiWMexZOOgfowO3lpzgo6HMZA2cbsYgKXS4IFScX5BAncvwKvf7vJCbVIiZdutnFEtP6gBVn1mzhjBcmsYBWit4jTxxqSXrPXkr3crHw73+tNTScAtSUmSxATHgtLWVoFhx8lLhi8mKSkjixCznnOva3PG7/EStuX9Dl3KqSgdYsiYjgmdFTXePrr5gb9h0hLaVSfTYlzErmQ2WRatFWPO+uOUmKtiU9ENMf4RX2UPSPj3sU5zSZKbett+LYZgkwUMZNumBcviZ258+y0iHn22REKxU7ZwG0IaXBR2iJd/1ameda7vAshUMyi/84hXapLuf/nD04QTF4T6zNRMlhxcq/8kM2wLgLmX4xGW/c1TMeAzKLepo06AVD3m5WrLC6BFGw+Edf0xvM0jif3NJUf74ek2mDL5T3DwAGRIFxzq5moiox5wO90w+Jxg82jh+QkKPyJPzYUtnsqAS4YrKy0nKjE/1pk0FQpJ5lGrOQ/qqMynI9NiiHzqtA/y0Nu501W6p56t3opyHpkQCcAxP9Z/cu5g7YI+oQCYJdFzlQccsSjRnN6F9n9vffVVaQz0/KW833BxrT5AM3fBb9vRs66hfekakg9z4MlnBujCKV547xyVgO7sTCgc3NdcAiJ4bRfq49n2NHstCj2+88YYx0OT5Q4huyXCWUIC67JuBgSZU+AdrvKnyOdvxPXgM38VC1sPHoEl5TFyQoNFC4HSPvqULqAkt9l7IfVDXOu+8uxYnU3DWY6ANjOnM0p/iBV3rGcCiY1D9dYB8b5ynxTPBTJrC153+hLGQ86HV+hLhiQAAAAAMtcDvi3MOY4UNBTpyeLWOxQQkWeZLf12NHsfIEU/6EWXRVywSwZLBkuGAAAqLzCBbV+fHtLhfRI6k44VqpruBL2p409udV61MSrfVVDjn9DAcbye1pGo0Q6Bd+8w6NNKH7vSXwGutDK35gSmj0ELivOwoxO3VmMLoCqw7azi5seUHHM1n32+UIGlahDpeKKLIMMw2h6+vP0jVV2EvmtwbMPC6E/WkxBHowXIlnfvjBX6asfoH5VUXDlp1OIqaYwdx3dAIyrKbKAsZfY4K2iWmHwQryv4G8tWfrZXII5LhiYqMS0vBXwIOSpEYYyC/Hw8BxgnCyH8NpGNLoRjL0mpFECbiFYt+OYxNOE1EVawGYwbulS49d817gY9VDlkSyk5mBTuTX3EKZdzobR9hupF79GjTIAFbhOJhxYurStVABB7SDxZ4vusj+FcPgtuSnl3GVjpIt50HhOeUCg0XpSRodHV7W2AN5MEhpiSaIJ3LIi8l5NUyrvGOMPsqX9uKwF5b+nmH06vZe/11/BOk11QAU2AgnY+73FgwV0bcXD5ht1jufHQvRNkof35OCzJM0+78x0E3+SDSooEo4D7UNjXHoA6z6FTU2WoooOdPsDtvyNN8O/F4rkWx5Kw4Hz7Ci712X64rv03o3HYca1255JLhjUtKyozjjMGMfweBiF93QZRybV6Jp3H9HceLgv5NjCwgsj+q6Kkwp10LnQl7i6ubAvEqM0X91gcJGCOpBTGylI7H3Uiz8v4tY7BHlxAGNmyQr/K15Q5PCdsmtWSHAsBfKVDzhsTjFuOjo0/QJgOOs0T7yVIs3ZbfBwSmVkJIA+Wnj0Frxv1VauH4IXj2iNVmcWAghPA0mdpsderckvidytgsGrXJTOmrpQeL7hQWVmK8FPo+ITkFBxq+Dhgnxw9GavB9lGBu1t0zyI7XwmIU6hOOuBgTTEa7FaV38hB8V97jiYLOY1s4N+sNQlzRHlAoXZDnnI9XBJ2Jb3RP3pO+hRisx/Dce2PqDGDgWPlM4PSd1+pBtFxIClUPWh1ypreS4YoJy43OaKSDpoEIlhpNiaqHl+jgtBy7LTiNfoHkuJzg2I2205W21y3awKjStyig6/DeOGVpjFDaGHVu24DqWFDKm5ffLlx0TUxylS7mf+IdgyNsCiilhiyALvNaWK6PvRUlY2DkeCviHuCsVKHP0tdmOcYkNkWepAOX9VKjYANpaeAooPSLQRtoZWkFcNXBp6IDPrFU5o447hc8fsuW38isG2Y3tpybGekxFDUlK+QgP/87Ngg7MB8wI5ON4CqaTBqeYfaEBH7RitJs5beS/41rOuh10YglxZ45Vrnj+JTGt7rMWzWixhtBxtwbDgUppZTsJERdYseId/IkOOAFfD8BxP2TctB4Yz2ymD7Kv7eQD3uhSIINiRDqcl+zXXL3sUH659E+eRwS4YzMjAvI5GiZIPS5eIs3LBdUov8v7ssz1+QntwMQ8D1xo4/KSl/y3giaQlyElniATSWGNqF6hi4wIQWIZVUZDyq+yWgAmZhQ+1+lIdyKweydL6wSnfmS2YJTeu0ewUxLe3DTkNjRdEDp++Qg6YueuVR7yrZm8kf7DugQVrjvuG/tKEsy53Aouj6PvVs1thOQeeyxXy+zP9zPM54qIijjPNCnhmT3q/6BWY3QckLZ6Xwootyxvn0xks+phNCoD3/N4uzYXy+uPyUnwSulvcRE9waYTdx0opOOBO41YfGBlbPfdm7nb3T3AlabU9cWKxu4LRes5qQOswSz7J33bNHa9tWz5JVRrHcEXgTfCGJC4wSOEuGMS8kJyOo9mFxZeuSjQiModp3LgFuP6sQfRbkvVouKrOvvkntLwrrTN11qQBlkYymPLszu8KbpSbbP0+J0DMAtdaDjSoI7WEX9a5mKki+U6N+xsDsz7HTLuUIaAAvlTXu3rpnK+ilEkjw6NFK6N5iabfFpVuZLb+GdksKL2NER/jdYFXQkE7GA2ClJt216rH+zdpUPYykPXmcSSDex186uBc+nKqcTKDbqPTKvUZahWuk/cb3RrAy4v2Mlu9qHn9YSaXAmQhFSlI48cHtiJ3X/nXFiaO3M/quWhebTAjeksorjie1dVvsWVaaEGNfNw48LYVUuc874THUwsFFRdR8/oKeaQ4b4X9AS4Y0NTQxMI3I/8Qrio9oZz834rzDP3YI+XkQ797nNwzx8FNhxfemjrRnpcmGQkv0XMwoo20C1zd5U5CRetIS1pGZwW78IRGlPwJ26g4TWkT1jZzU6cfC67280iJJgNE4zOVpnYstW0HIYp2XS9tdFZF6unspSmLVUAHUfuy717fvyRPoJXywq3j1af+J/cp2sbjbShuZyd8nw3d1Z4qq8FlkBICDxpOCKxDRLxhEaiOyO3/YmsT89+RZ96P4lYnAq4j/0nXg6eW9T++1UJgV42zig3zAkfF0k0s5ExUUVOPFDx0Tgmuo9+o2S+0dZAvO5JImktrtc0nHStJP4jkS9JNsojmgg5gOe9tWK7IMEk1VS/8lDR65GKBpTWpzyT7BfLgAHZZ9t4B3H4VYtrdeq1YggEuGKyw0NTCs2UdtYN4oqW3pDzvPL50GCEJcFMgsL4jSlE7WQzhed+bRngtlNt6oCXHTrMsSS55xachwm1ZwBSo7S9/nMzEoZqiSO+oRG9MybB9Cfw3lZ7wndoT9UkCo/Tn60n39J09xty5t9WRRL3S1BOFwTCg9QgoZMWKdXyH23uOFB/4PZHYcciGXvGH2vX3ApKnxNVK1E9uBNEu2zUjMEO7R5auDi5MwfvLG/rL2K798MITnPnEQ1BpVv9clB4Vo+ATGurCg4Jyjip4MrU/EuX30pBo6fyi/AtCOrYK1LcHzvDvs7VBghdlCgW0FGngQykU3ZvCfjectz+5xZhRMYyk8M9o9mVw3pGFW9q5fHIL4PiZdNHFK5cwWroqqKylD+9biJN05JUBPZ2dTAABoVAYAAAAAAAAAAAAFAAAABk5Jux38/xH/Rv8e/zH/G/8E/x7/Ev8O/xT/P/8J/yP/CEuGLSQnIimK3iikKnUiibphmTnxbkMBrXB3ySgv14cFoRa3RGW5f3aRjiicBm1ojJ3HlIAFQ4K63Of2xw+mdD4p3YlJU7mLyopjEf+dcrUjMvEwIR/vXsA1EFQdCZTDnK3bHiDLTleEFXirvs/TfaIz6ntLftv/t1XuQl/I95g0v8bhgLzlTmztvANnmsGccZ+b5jMpyfNYQKw2sbSxatFuBRAJ4OEZr8+WhmXDjMlMVjGlNio+AWzx29C/pa7uChYHDnaE88GLqkCBeQxsbOBTE3wWc0T8Q5XgaPVbedQf5scnpf23qtMH6S0my/yp8KphQfbYuGSdklQnhUuGNyYjMSqteRLCnbTzbGR3+q4N5EBLvCa4Q0jZRP08Eqd4Ke1zv/wvHD8AeyZf5Nag+zMyTFwjeVc26rpgrN01EQiJEpNy0PH2VomrvEnHwtTuJEoMt/hyxBYaClhDzc3zvJitgARtV4ygFviiej6GPowDWW9doRSW0QHYhYxx5w1NSwnV0q6LaemYOH3APQK5k/xKv+h2UrHJtpr2wsKvapnBQCxvw227+SxFhrvaa+90fHfh7C+wRtWCWgOmlPTV7Fe+dtE4e4/RUa01aYCPi50a8R95uTWWmzCoIiKLb4Cx+YyLb+a3R1qjiYcu0l9sp1MueHTmNEABYtyNUP9cznQUH5uCfcS3ivW2qVCAS4YsMDY/NbH6AXehFQlSxPRwrObOHkRBVTFOGntd2f2KAf5dpMGeGQ4w5bLp0h4Go2MgseHHheX2g3ixJHh17oO7s+gqcvhfrsWIbmewoT8A2swZzU/XzsiRl6bY2yWfZw6Arpqbi37bsVzyXHJBodILBphULD3dnxw99PbABSS20647ccI4U+Zp7szw6ycwbcLh0nr6yXH+vwRUpi3UDU2DgBG+7ffmrk08YgSqDMbvGLnt/SiKTQgFYU7/YBdgTBztV2nDU5Ced+qXSHdhaOebEOLUsz5Avxo8s7Sr+AVBu53fTZG2easd4CWkTURK6lP1GO5jKqc4XxHVFqWVtaNMXw6OdP9xxHQQPzu/EwkdgL7+iho2yVQD1IzIwj8i+p+L+lrUrapiPH5FsEbw+kqVLcqTMTkRq8PWcUBgIVaVBS8+QEuGMDIsIzCsbQJp0GHFHWIF3dmEmyfRQuqojWvh7oGGbZJ9WrTQ/t/PX0T0P+Q1FoY0zQpmpKCpBuUmkLQEwSASdu2ybrJNTiWQxURYwnSG+L+C174Vn9c6zP9fiHcrooCYJvCQyPhyWKUcKpTTz8mUjs5n5J656mWHrbxkB93I2qPmov2T/nDXRvEDgbyJIoFgvBtKpRwqax+Qx92hhKlODoTdu5RmwYTCHDjZi8Xd5HKQ6qHXJ1ylUKyRAeMSCoq8i54/zpWoT571z+kfYD1MjnJ6kHiZ6ux2co/5NQbZAjlIpza/h3SpczpAHaswspvdFO8sFA+l9EtDKD5dWEed14kILVB2gMvJyPtR1uN6hXhLS/8R37x6ryd6R0uGMjM0OiusxvxMtujkYd1n51HagXHR2hYQuCS4EhNedm+VgrfQVSxMQ6UQ+xJVngb43rJpcS9SgKXfbJRiNrS7nWApPzAfUSaCesjA+CMwrmHE57t2YF12Bj6+x0UlxSw06gEyded6qE2OdJ7HhYKkCBagALE2NWQitFozekOKhgeMWeCBtG5tHYEuTBtn+NrVrJTLiBTXfKwywAVchyCgd7MkO6FZRlr5oXX6rBUS++0QN77BxTey9sCWLrIVfVoH41POkzvT+TPAfnh2nHI8wE2ULtYJ3OiOqYvkmIEaB+XgXL4sbXKNpg+6DvpB6T9lHMCTJPUhm+Idb1PBwNY/3Kx4FKe79PILD9FM1vOql/aIrNF19oVa+P7nd0+3so+DrHgTJj60SfnekA2PfWZLhisxNC4sqZQv3PNWNF7vqOP4uXbZ7jLspnRsyq7BO1VjJ7u7iujEGh8t8oMqWHseEKjg8f2N2zEPYHiruy2fiJ8+jbhgmDxg4J6gQCsXoZB9gRpGyNiDn4bTPWkJi+hSOBSDO0P0iHuk9HIYzBctRo6L47Xl5zbXKy2R1yUpcQ0YjoXxbukpfkKOOyW36CJ0nzWr4VsQkpl3FYEwqV6EYuVq73TosRPKv9akRgUP8UeMHhYDfXrLGTiZMI4lVL6KI0O+yJKT6RxrHE79qlvvd+HA25RUvBUQ+EaQJ7a1y4GPxyTThv6OYerD4MaT8qwRklo1jQ6YJBViDjzxgxVHQJkW3vi7VKudDBsgbZv40zWkMJ2g3uOlyixLhi4rLi8jkDlx2lNAsto7JioXAKb4sX4RFNov+9h5PGGXkm8A+pogIG/KVCNH4ASpgaxbcIKVGAw6k9ny0NjPFd0r6kjR576rbmnCstR4OxqsU9piSEF3hyChS7xJfjCjvZk8T2R1oiYkovqakgiMdzDq8KeNU5a3ziF9DfMoz8tJ2wU/DaWJxxjhm1Oco10iC2K2Gmmrb8On+qt3juziwYNUO3kDWVQ7qEkIahCzpb6n3qzREDydz8kmebQ2ekJxk0rXSuEVsLYvMte99yfNdYKxGWopUHorXC/Q/Af0gDUQZj83/zJ2FLMp1R/+g8zkb4XIg2AHVXMyhdvEaRgwifpwS4YlMCgvODViBx9LgHJ1rBKSudSPnuOGAPWakQvkbZ7/ke92uyH/YgiBKt+NeZ6BNtlZ9jCjVa5ydOceeg+jn8906LGa/CKMUOIWeie8PgAyA16txOfJZPSu4TqCFXRUPvuiX2wbFZrf4bwUXcBPDMb0Jr10Lbpn2+kizfPWk3dN6PM4gZyL5IsEbsdTt0VASdwFNNprC6PbpyEtzBAY9GRxlT3nFfsA2KOp2hTMWWMhU9Wi+N/jizIVz/NM+UJ+PHPjhwEvjAHGDr3UEpSsd3JjX+910uT5PE7reNN4wAQ+kUg7M1gGywA3JKUdHsa7TryNl6vFEjzuXZ7S9msxKazc0yzEw2Lbi9IR2ugIFlJty+rOL1bPMwvjFemgS4YoKi00L6UPfZkpx46JiBkZrBSpFW4r4j+dVSKr+UaVRs2dDCquuOV1oT+RwkClhCcCKQdgkqudc9qgcjgngIp3wM9OuxWPgbtDC4BgIxe6L0MbEw8G6ICoHADt662G/Dbm7zBgLHoHlmtxLOaEJl/s/a4b5NlbAjkgF31IBzN9TkRMnECpgDfeF8+nTGoHONSwUj6QgoHhNyXfkj2kGzMsUWYoQ0CPTZQUi8CIlfaU5H79JbYtbJBIqZE4/xNY4hNNEU80/o0uFTYCSqHs/cdwqglSp5d9lxqV/Y2KzcCOeuePUGvlL9CrMQc9+duRH9CMiGDuXs3PyVqXSSl+QwV465L79TlwxATX8sGL7iCbS4YiKC0wL6sRVfCDRZcZR2nFp4CT1RZWj6oYkXWvnJiShg61+j0LzzCphnZWECap+VI4WWjZ1/e4fZuwZccrduiClJYDgbbEUMUYqqqdAYSoqPaYgzlaLRBbE3qVtbthkWrsZW3lGyKulAgEJXm+i+Vwy1756tpj78vR7ZYwo2AsewN5uT0DEoMX8EZ0wvP0VyCX9M52W/XftRKmOhVeBe2zy1oU6cnZrca3jDa6n9w+D0SSnkrgcmibNuKkf7/rq3omVxI/H23DCVxEQsWgvxrN/DJKyeSpBXAHGtieRaIGZp1cK5sVbsVgH52c5GVdZ/AspGctSwH2TEotUbQreDxUbHZw0nhMGQJusIBLhikqKCkvNRBJXdDACTtlBKLyApmKjpextgc6gCNLwfpD/oTJeghTIq3K1OP91iY0v4byAOiI6dxEORsWogkNe1xpXz9mDswcC+9L0vrY+nu4e/wKV+Wys3kzKLfFAdrUA1FhbG9az0fGt3cQH2i6cYwohtGJFeRIqvO6J+f2MCPMMyRy78+jL48g4eyyrLCIU4VrHmUt1hoXbtlmCDVbg3BlQlI3oNTejtCBUSi4V/tsIhSQzEtDJabmdiRKCKzXd4sjlomzzVGmeybkxkWES9iTKwBwy7DrmKGyu6VObwP5YepeJge1yduUctE1QTtB8pjvwq5JwhXZVl1PnUYvD6ybygc6167rQOgGGl+id7EDLEuGLzcvMzaoZpAEkpqXUA7tTV19Nw1zCKp2HbGrQ5AZSEPCxeEHKzmdlgOxEuRsGPX/aS/TeKk7Knh7dipXL2p/GRAAPY8R/btz7El1aozzovTdCgGlJ6dMKSYZpr2XSdbXQ9HfgZqFf+gDN0Cgz2TaAX02vyBHajA62NqXLeZjrM5xVJOYl/C940X6vhXz4MzxQIsnusS4Jb+KgL3ceNdf03GxcwNdE2YcSw/OhQT9MIYOPDcjRzyqBqVDiT6GZeYxElbaPbQVGhIHduCI4Y7YfWd8lijLhcnCqQ5/XOe1g8r6PQaLJ6uG0IUq7PKl75csYi1u3WTc0Jbe9VmSJSRojKV3IJCDVDHje7U9fuNh0zcXR9CjzqySmdK4a8vpVxLupfArdMHMNTl7aeN/0lk5qViOMS5HeGSDBbKmYEuGLSwtKDKR7RHLYBf5I8X41q5gLaq0+cl+YJoI7Z7e/StpmfJaido1A70i0pTld16ZCkCQqqVTbI5Zu4qewUbw+lsNSbngq3LFFTAd9+gT9o4TIhcPvn/T2i6jE7TlvKtc1VLHkMAF5PlD+NwK8mW7S6jYqwbcTM5mI7QB751NiKrXGLAHy8qZPagWTKyhOwpgYW8NHZYClLs2Ln6joqb3/T7pLXYcoz9GBCcR4LZKWJElvFCl35VrT9yMOe8fTEkVFBUBRn9pOxngg6n2Jy0hr3K0vxkgQ+1xFYDVirrNOQe6Gd2IwDij4H11DA664t903kCodmyUbMp8tX1dt4YwQSufgXfowEuGLy45KC+Bl5JnFv8vG7rtTFnX5pmYtcDH/xp+g64Pdts3i00I5D2Nw/CSYHjAXsQttOfW6IHQuXELaaHb2ZPcAjLhEsXDemalzbVoyqZoUeDLggQ4J7DMESr9DbxpN3kZzoCmcJWibcREA36Si3F/pFFVrcIa+sfXFR0JsHZVcp5zfvKvf6LNb8AqRSpBfVSzXnja9Mgg3z3tAdimcJW4XtXHHYcXXbjiDqMNXkjrcLWZRdxFXZk+nWWLy6Tse4MNSZAIpN1/i3PP7VWOsiWz8qAqHSQrgL+yjBuvyHmDoCAocdR+RSllkNkqrJu+wCg9RRSfiFTk99Yof53yOfPxkf87oOKP4QBSEXf2+exHP+rYESqxOQi568Qh/8QSr9rAS4YkJC4rNDY7t4EuvNhBkgayUJRLzmoGrEFjbIMem7kbwMPLzvRwf4WIgDURgAIW4+BtLB0tS+0jnW6UahDJZTgYJ8G4H3xQVYCe2idUQIGlS2b+TiOpjRKjoQxO6v84bhAP5BM+rcqpGwpe15A+bRM+20LVmcoxiHsKmL6CDnR+fKKfgQT+KR4vD5UW4loEhovQCucmyqbjfuTqjmAENTfD2ek+tnUjpze6eZ51Ug2XHXZ/ktAwqIbYLle0sD4I9JJovT9feVuerXLQeX5nurHt8OIyz3iXnDdL4KmHF6FqDhJZfj5X86/hBOqTRXthQO3awiywT2B81UxYeawCn0yVv16pONBPZ2dTAABo2gcAAAAAAAAAAAAGAAAA/M4vWBr/L/8Y/wT/Jf9L/wHq9/8A/wDzAgICWOq0AUuGNCoxMDWqmhalI5DZTpoQOuayeTWM/77XAwpDYekVOzLxi8s3k303CeZrm/Ce0kiPCQz2qL/5/wpIpii5r2a2gSGa780MNd1HZnuoZ84yU1LqUe0huk0QOsNRWpi9/SHE7NiipZTzwU4APxwbIGPR0NJQlfyYaUUMCWNbKMAjim3/gnORwxDyZAVaxYbPnQMoqeow86Yt51XpfFqu9xBsqePwH/PYQj8xuptQCpg05rkJcX+TzWGeV0DLMqIBPfnz1rtD1KZ6nwy1X3Q8jloXL6bfPPZL0TEU11p/vvYOFR5v9SpiAKVw32JgTjVSf571x/GIh9Xc7qTNpy5B8QS3xGdnhd4UCZoLfSZhIjKa4Flah2r42jLEZiVpotqmhLrV3qfAcnXNMTqUSDSAS4YuNCYxKaKOBYljDQcWRGmagYgL0erBi6X19NHf7/qD/uXpH3er6ZD66u8ADJUM64XgE4Cihmzwf91LTZ1TOnKTSEZEUt0QnvRO0tutpTl1fgYxoWWqrR7v41l3q8KqLwXntatv37VwopQjGxKzB63zQjW3AuhRqxQUD1/rGRTyKMMnojToIQ4VY7qCwoChIh6+aEu/+qtGg+OWKtIcvcV7KDoXaR7c9+PhLwrnr0vRV4c2uN6Iz597Mv7PuqqAn/Dl3vmg2gbcx00OMKyJnYYP6Sdn8D3i8AR87pcDPY7oyYvCwydBFqGgLCgIOSlF6j2dN7qyt2JhLakagaCSw1hJXobFs7+6fW+657DXwKplZ5DCog0PS4YwLy4nIp+TcpIYVTvN3PqPvJroosMsqoWtZdhtvgU2qCdK4M8gY86lpL8mS0iOF5nRzC0XrJ1o3xjImHu0bYMGj1W7jAl8upF7vSVIzWpNPLA5YHYEZT1kTRPihB2ZlSUDFCsmgcKcbl5WG0tQwO63nMULJCNSK/086CZWhuZAxKhUvV/onzcymUpT3lgGkmahIIto5KSp6QZrRtbQ1UxrWL///VkbaMg1mAYEaoi26lj4iO4CzT9xgAVsj7hTsXgEG6NcLEqy9JCqFjywCpamBmJxawvszIoA9lQ2aCvUpjC0LA9mNaAgVx0Vhpfcb/D+4787sLMtBXraKRY5dty7P0uGMC8uKzSBiH3VaPVEef/ukANYURZu7jDhNlnuEpbj6h4Xhb9O7Hy34OJjh0jl9fiNUE021hCM7FuGbrhQzku8h/6kfGpwIAEV70cc4p4xM2xn7E+A3Q0JIQ1YJVV+PSB0bFckgIJVDop/5VLPocJLm0j00sTDn2jmtMubb7EZjfASx/hSjAAhBe3v7BJ0yB0RcEChTak4Z3wglF+cvEZT2gRhtsskfPfjUzM3y8Wrxn/jMU3QOQymTVNiP6jgoTyBA7Q+YDZGNyE2tsiC1J3Po/Sf45kQ1MsVSRhPefKxbbyF4a0pGxk7GVM8DAgv+wGJwKEdCE7cHkHmZV1BVh5iNVquKaRIjoNZ3+m+h1DxBUg49MsDScWoimARYXghSVZje8BLhjY0OjQ6nvF1T+7CCcnQWNk8+CpeH2ra/Mhhiwdew0AYE8WySubfW31JG46nubF+OOyoI9tLeA+8DAx+oXIcb/NW1x2YMXfiYbZ2UzV/JczbnPah3gchGaaAvyC2iseLriGBqNZ3pNJ0mEU3HYqL4KLvHKg7jFx4mXnbdJ2EyAClGSatbiNNOdEVBHKoa8RqAK15tt/S4MjZd1CPsV4du8vlE7gkRtBdllqjxKojzKv2HVOrNrsY22w4G1qq8R251y2D+CcqEAkK4TWXZs6Jkkk5nCPQL1Co35OuU3+ApFDVajBnylUAIg0GUEHfV6JnZ0ttCwu5WpUG6TeEbeCke6m13D9kRkghbOkX2yndWrXjF+gRfGTr4LWgMmclF489LVGkP4fhZ/430YHQ5ZAeB9ak69LAA72aRIWSsHDbb71GyfPv77VDRjdLhjYyIyUkp2EQc2MYKiHv/+BbVzK+PO/Ee8O0bzU5pXwskU9slxaYJ06LvpWX2odOIHtb8XM3M9iJF2Ulr5cAlUdbvuzMTqu9HQdKyv9yRkR5DBeld+vf+zAR1Eaoe2nlCNilql9KDqr95g+xQYk4pPCZlLaHUpfbv0kdCy8pHxrdU2C93UqoxGpzGEs5znfMoTdxShGhYDOihQkN0AVVdrT+d3Xc1BomY6D+t2jCtMlueJ8axX433L1N38qQceGg6SfptY+Vdf56C3+PYXxBblD0P7h1eQ6VMyU3+UiN6/EXdf5k1RJyTI6ktO5ZTUTJOs97ZusVJEcWeAtPJXqMS4YrIigjJYGjyei9lt8+tM8JW9ioaA+Yz8mC+NS3fdjfhYpiZ9wM2pLqxhbAW9Zvj/qDIUV4uMYglZLRyEoIUegRSRGMIxT69h0Z7LpRWXanveqgjWKIPNX9njU5UHg5LiWbiciM5UmWiTcKBJyey5zhyrNPsaJYqtlAqjcLmEUN3HTC47Sp26JV3nrhq8ccrC0pDarlg/LAY2WrHsBANnoe4giXMvKr21UDaAnTMZ6P40NBwtlMW68xGOZ2YjIFln2K0TZYqEqctQUbjGKHUQJMxPuXG7OofgYQehpT9a1wLbAQKgwkb1qwS4YpJyopIjUNOiJORCRWRjnMccVBlkyT4C/dCE6BG8aKwtkt0w8QmfTZM1ek0bUKBTrJNoqBIetanKeR3xD2hlhoCUl24McHojKqAA7mCcnKUQAo2tbOMyRuXbUA6YoRC00aoMo1/zIIGEdkjdSVpnKFANxnr9jx8P5hGvpTLGoSM8CnO02dO4uvZoQGbfsW8SomPEqS6htJD9mFOU7RVHAwV7Wdn4j7RWg1EZHWYfZlg3g0kqnJwhiMDQuvz47ZrSO05llPQRIjApHgMyjahn4VARafesIRAbIDZga9Y2ejzI6bGDc6I12FAizB7Ol4OHCx1zLGcEuGKywoJSgzIgKh1qUbw2aPkLtmKUA6ogwBsYmwqV+3ZgKX0Y4e+qtXNEZupyta3JLwMyi3lEy60BWDTYecfCitrdCYGL7XdUslqjftWbhOhyCokIZPx25LWX4DaoAFU1mTkx01PmDOUOeMM1oOGGj90qKbJffIIFYhqfk5/NoLELizCQmANRF3d8U1alnxn2A6LSa7RRQC49LZbf3o3513t+j3OyxFl2WWIDR7OvqxUknS7P6o/DX/ObeLryObCFR5Ca/BlcchjeXShU6cFzfDw1wFDGfgBW+QwtsuW1F/RFzsctgd9ph9/JJ4J3QTx6EZxn30Ifqrckrny7rwS0uGKy8pKSQzKNHcielalyUumXw6s5M0dqSAFc4/2YDWEzQDUTjtOzr+BH92L91y1qjAMyeOWCP7buuvR+G5twx4pHx6a1Ry1pusJDQk0g1BMOPrQzNk5XLAqCQlAkdXZqAzKNIJn7cXgP63nDlY0YZOdPgU3kAed8t6KZiHAHuBHRjy4EkcyDunoAUUul90X3hLG4MK4XZyDE7GMkrKyRTIjz1qnn5sE6FcYTXJb4Nf5TVANOM8hXplGu82ir9tslPvZ6Jm0YTfOcMJPyO7Qm5DimZ7myFvBRZKta7184rVHkm0cZcBc84fRSbxlLvGmGLSCWcNkHqKmAjV3jkGEEuGJSgqIyg2WKfx2ykEEpsYtNI5bPIRG6udYXZQ0/CXmqwBQvvwZh0BxNqgBUdrmvHKe/DNk4WCUdiI7/Uk47SoMj1MKTxOX9BtezvuL4YKA48pwAWLkREQF51j3SVPHVV+pCl3LEk3YbDnBYtag8i2kVvdzBwJwYaEIYjnEDcHoveCd7/YAvokAxWTIRa7bb+yFksPo+vHjspo2MUC0jxANSAeLAfobbGY/J+aL4QCnDCoQK4MmWPd4BrUE2520khIpY8RAsqJIDS/hyzW6ZmUpJWNv796iCudwT8XqhItgopfdrkUo2qiLJbv9YuZzTJNwEsGSwZLBkuGAAAhAAA2e8i27/KK0q9QhOznK+m9PXkElYepJFco8sgMyN1+bICBo626iKP1+nWx74c5RoPwojwiFyH4Ce4zUCebB1UHT1Sg7jLpK2R9aqijLMSN0ZBLhiQmJScoOKiwji2jqTd7E5jcBMnO4YmxlA1hQvHkAFX9rk11Dkq3R3EON0zKMcYx2FFMyZqF7RymAArDOmyUoyHbEY/BXMaQMOfi2fZAcMo3TFouWbHsvLZJoir8fCMnaC6sPO+W2JpsQ6L7E//FFrw2e2pAN0xsDJIGHih3l/HIWw759vB2meXVHP3IRy+YQ93+hV3L3YhIiVpIN1KbUDs1V8G6oDw8XRCAd9tqgnvrDg0RKiNlys/0fR0BHYD2KCsuQDc4nnjcBaSmAier3wN/DmNY5EftsIC+za7yrX05Tg5hYQNd3xBLhisnKDMANnLTlfMVUmAdFf6jHZwr4FgPK6LRnyo3V+uByfm21KUSPUzad3Adc8CL0DZzZIlBO8RG3FrpyelJMdUxnNyl3SVMM2F+IlIM0OVK/bnMsNIA4AVsVGK6JyN6970ghUaJ6mpKR+HYV1nBnntr9wV4wmONsTBfdJ+SWYA2e22HdlyA7JDE6st9rfmWZ9T1dRXjr1HGbayVr6q0vLkFkC3hWWQ3KNqnauHOXbaISnRJ"
                },
                "contextInfo": null,
                "messageType": "audioMessage",
                "messageTimestamp": 1751038670,
                "instanceId": "d637338f-a31c-4724-9626-0a12b6c4e1a8",
                "source": "android"
              },
              "destination": "https://n8n.web.v3.codai.dev.br/webhook/vaal-ai-router",
              "date_time": "2025-06-27T12:37:51.507Z",
              "sender": "5511934900071@s.whatsapp.net",
              "server_url": "https://api.evo.v3.codai.dev.br",
              "apikey": "30CED1D4E59F-44B2-B9B3-7013ED1247C9"
            },
            "webhookUrl": "https://n8n.web.v3.codai.dev.br/webhook/vaal-ai-router",
            "executionMode": "production"
          },
          "webhookUrl": "https://n8n.web.v3.codai.dev.br/webhook/vaal-ai-sdr",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "f08dc613-aca8-498b-b7d6-22a89a082663",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-05-19T13:21:56.336Z",
      "updatedAt": "2025-05-19T13:21:56.336Z",
      "id": "GjahXidmM3aj0M5l",
      "name": "vaal-ai"
    }
  ]
}