vaal-ai/D8efcVy9VHk4uT1y.json
{
  "createdAt": "2025-04-20T12:47:14.466Z",
  "updatedAt": "2025-04-23T14:28:27.067Z",
  "id": "D8efcVy9VHk4uT1y",
  "name": "Vaal-AI | Agenda Sheet",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "dia"
            },
            {
              "name": "hora"
            },
            {
              "name": "dia_semana"
            },
            {
              "name": "cliente"
            },
            {
              "name": "carro"
            },
            {
              "name": "unidade"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -520,
        140
      ],
      "id": "eb969acb-5327-4c5b-aa80-6a5bc4f52bee",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38f184a4-9534-4b04-bf96-05680444027b",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5601194c-f4db-4146-95a1-2dacb62e84d8",
              "leftValue": "={{ $json.dia }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "91b5d1ee-7c31-4a51-9bae-4e387bb9b9a1",
              "leftValue": "={{ $json.hora }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "15948a56-bdd7-4f68-a165-2a5101a5cae6",
              "leftValue": "={{ $json.dia_semana }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cea1264d-c18b-4a21-8841-0a7bfe4ef191",
              "leftValue": "={{ $json.cliente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8a02c49f-2f3e-4249-82d6-6e3f44385022",
              "leftValue": "={{ $json.carro }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "fc78f8b2-3bb0-4d6a-bf0e-8907e25b5fec",
              "leftValue": "={{ $json.unidade }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        140
      ],
      "id": "4aceab01-17fd-4081-8797-f8871e3690cc",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "vaapty_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "AGENDADO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "c3ac54c6-ace7-4137-b6ff-a22e07c01e60",
      "name": "supabase-confirma-agendamento",
      "credentials": {
        "supabaseApi": {
          "id": "NZUCGKyXkC3ZNPG1",
          "name": "conn-supabase-codai"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI",
          "mode": "list",
          "cachedResultName": "Agendamentos Vaapty",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1983382654,
          "mode": "list",
          "cachedResultName": "LEADS - IA VAAL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit#gid=1983382654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONE": "={{ $json.telefone }}",
            "STATUS": "AGENDADO",
            "DIA": "={{ $json.dia }}",
            "HORA": "={{ $json.hora }}",
            "PRE_VENDA": "VAAL - AI",
            "DIA_SEMANA": "={{ $json.dia_semana }}",
            "CLIENTE": "={{ $json.cliente }}",
            "CARRO": "={{ $json.carro }}",
            "UNIDADE": "={{ $json.unidade }}"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "FOLLOW_UP",
              "displayName": "FOLLOW_UP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DIA",
              "displayName": "DIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DIA_SEMANA",
              "displayName": "DIA_SEMANA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRE_VENDA",
              "displayName": "PRE_VENDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CARRO",
              "displayName": "CARRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ORIGEM",
              "displayName": "ORIGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OBSERVACAO",
              "displayName": "OBSERVACAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UNIDADE",
              "displayName": "UNIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VEIO",
              "displayName": "VEIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DESFECHO",
              "displayName": "DESFECHO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MOTIVO",
              "displayName": "MOTIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        0
      ],
      "id": "1112ab43-92cb-4aca-a9f7-d21611e20a22",
      "name": "google-sheets-confirma-agendamento",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aX8uwWP0eur65QdL",
          "name": "conn-google-sheets-codai"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI",
          "mode": "list",
          "cachedResultName": "Agendamentos Vaapty",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1983382654,
          "mode": "list",
          "cachedResultName": "LEADS - IA VAAL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit#gid=1983382654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CLIENTE": "={{ $json.cliente }}",
            "TELEFONE": "={{ $json.telefone }}",
            "DIA": "={{ $json.dia }}",
            "HORA": "={{ $json.hora }}",
            "DIA_SEMANA": "={{ $json.dia_semana }}",
            "CARRO": "={{ $json.carro }}",
            "STATUS": "QUALIFICACAO",
            "UNIDADE": "={{ $json.unidade }}"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "FOLLOW_UP",
              "displayName": "FOLLOW_UP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DIA",
              "displayName": "DIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIA_SEMANA",
              "displayName": "DIA_SEMANA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRE_VENDA",
              "displayName": "PRE_VENDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CARRO",
              "displayName": "CARRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ORIGEM",
              "displayName": "ORIGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OBSERVACAO",
              "displayName": "OBSERVACAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UNIDADE",
              "displayName": "UNIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VEIO",
              "displayName": "VEIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DESFECHO",
              "displayName": "DESFECHO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MOTIVO",
              "displayName": "MOTIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        280
      ],
      "id": "3e437a8c-2f7f-4b4b-b2b9-20846ce943ac",
      "name": "google-sheets-atualiza-agendamento",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aX8uwWP0eur65QdL",
          "name": "conn-google-sheets-codai"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "vaapty_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.telefone.toNumber() }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "QUALIFICACAO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        220,
        280
      ],
      "id": "d50e65bc-fd9b-49ca-ab49-ff3212426529",
      "name": "supabase-atualiza-agendamento",
      "credentials": {
        "supabaseApi": {
          "id": "NZUCGKyXkC3ZNPG1",
          "name": "conn-supabase-codai"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "google-sheets-confirma-agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "google-sheets-atualiza-agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "google-sheets-confirma-agendamento": {
      "main": [
        [
          {
            "node": "supabase-confirma-agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "google-sheets-atualiza-agendamento": {
      "main": [
        [
          {
            "node": "supabase-atualiza-agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "747f05fa-85c3-4a61-bf61-b98007aafc3f",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-04-20T12:43:26.293Z",
      "updatedAt": "2025-04-20T12:43:26.293Z",
      "id": "ldc8q187hKqVcpZ7",
      "name": "vaal-ai"
    }
  ]
}