vaal-ai/N5sw2mSGfAcQ1GEu.json
{
  "createdAt": "2025-03-20T05:38:58.800Z",
  "updatedAt": "2025-04-17T14:25:23.304Z",
  "id": "N5sw2mSGfAcQ1GEu",
  "name": "Project | Vaal-AI | Router",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vaal-ai-router",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1160,
        120
      ],
      "id": "f73896cf-70ea-46c3-970e-bccb66517961",
      "name": "Webhook",
      "webhookId": "d33e3edc-a2fa-4f4b-b0ac-526f2fef511c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-main.codai.dev.br/webhook-test/vaal-ai-sdr",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -940,
        20
      ],
      "id": "f9c601c6-1e92-475a-9c60-f28f5713a556",
      "name": "Vaal-AI SDR Dev",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-hook.codai.dev.br/webhook/vaal-ai-sdr",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -940,
        220
      ],
      "id": "2d39345f-ce4d-40de-8d4d-f24c36df5aca",
      "name": "Vaal-AI SDR Prod",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Vaal-AI SDR Dev",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vaal-AI SDR Prod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vaal-AI SDR Dev": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "39d10568-f5f5-427c-b170-6f0a217e901a",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-03-30T03:14:44.699Z",
      "updatedAt": "2025-03-30T03:14:44.699Z",
      "id": "D178iir5EAbPpBLw",
      "name": "vaal-ai"
    }
  ]
}