vaal-ai/WCmvDcuIoB60Nzwz.json
{
  "data": {
    "createdAt": "2025-05-19T13:21:47.908Z",
    "updatedAt": "2025-05-19T15:08:33.756Z",
    "id": "WCmvDcuIoB60Nzwz",
    "name": "Vaal-AI | Router",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "vaal-ai-router",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -480,
          -60
        ],
        "id": "16381e3f-d604-4e7f-b82d-64f53226ba27",
        "name": "Webhook",
        "webhookId": "d33e3edc-a2fa-4f4b-b0ac-526f2fef511c"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.edit.v3.codai.dev.br/webhook-test/vaal-ai-sdr",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -260,
          -160
        ],
        "id": "ef314b99-4024-4dec-885c-6cdf256c1d6a",
        "name": "Vaal-AI SDR Dev",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n.web.v3.codai.dev.br/webhook/vaal-ai-sdr",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -260,
          40
        ],
        "id": "44dd22fe-2816-4127-ad60-932c8b4fcd32",
        "name": "Vaal-AI SDR Prod",
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Vaal-AI SDR Dev",
              "type": "main",
              "index": 0
            },
            {
              "node": "Vaal-AI SDR Prod",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "ae946ea7-4eca-430a-9833-dce402afcc96",
    "triggerCount": 1,
    "tags": [
      {
        "createdAt": "2025-05-19T13:21:56.336Z",
        "updatedAt": "2025-05-19T13:21:56.336Z",
        "id": "GjahXidmM3aj0M5l",
        "name": "vaal-ai"
      }
    ]
  },
  "createdAt": "2025-05-19T13:21:47.908Z",
  "updatedAt": "2025-05-19T15:08:33.756Z",
  "id": "WCmvDcuIoB60Nzwz",
  "name": "Vaal-AI | Router",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vaal-ai-router",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        -60
      ],
      "id": "16381e3f-d604-4e7f-b82d-64f53226ba27",
      "name": "Webhook",
      "webhookId": "d33e3edc-a2fa-4f4b-b0ac-526f2fef511c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.edit.v3.codai.dev.br/webhook-test/vaal-ai-sdr",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        -160
      ],
      "id": "ef314b99-4024-4dec-885c-6cdf256c1d6a",
      "name": "Vaal-AI SDR Dev",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.web.v3.codai.dev.br/webhook/vaal-ai-sdr",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        40
      ],
      "id": "44dd22fe-2816-4127-ad60-932c8b4fcd32",
      "name": "Vaal-AI SDR Prod",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Vaal-AI SDR Dev",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vaal-AI SDR Prod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ae946ea7-4eca-430a-9833-dce402afcc96",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-05-19T13:21:56.336Z",
      "updatedAt": "2025-05-19T13:21:56.336Z",
      "id": "GjahXidmM3aj0M5l",
      "name": "vaal-ai"
    }
  ]
}