vaal-ai/ZpOvo8AmQzyVONiS.json
{
  "data": {
    "createdAt": "2025-05-19T14:24:31.094Z",
    "updatedAt": "2025-05-20T12:50:18.176Z",
    "id": "ZpOvo8AmQzyVONiS",
    "name": "Vaal-AI | Agenda Sheet",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telefone"
              },
              {
                "name": "dia"
              },
              {
                "name": "hora"
              },
              {
                "name": "dia_semana"
              },
              {
                "name": "cliente"
              },
              {
                "name": "carro"
              },
              {
                "name": "unidade"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -740,
          -20
        ],
        "id": "ecbef61f-2d05-4b50-bcdb-78c464abae10",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "38f184a4-9534-4b04-bf96-05680444027b",
                "leftValue": "={{ $json.telefone }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "5601194c-f4db-4146-95a1-2dacb62e84d8",
                "leftValue": "={{ $json.dia }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "91b5d1ee-7c31-4a51-9bae-4e387bb9b9a1",
                "leftValue": "={{ $json.hora }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "15948a56-bdd7-4f68-a165-2a5101a5cae6",
                "leftValue": "={{ $json.dia_semana }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "cea1264d-c18b-4a21-8841-0a7bfe4ef191",
                "leftValue": "={{ $json.cliente }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "8a02c49f-2f3e-4249-82d6-6e3f44385022",
                "leftValue": "={{ $json.carro }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "fc78f8b2-3bb0-4d6a-bf0e-8907e25b5fec",
                "leftValue": "={{ $json.unidade }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -520,
          -20
        ],
        "id": "f84876dd-5a14-4556-8ac3-4e54d573e088",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "vaapty_leads",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.telefone }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "AGENDADO"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          0,
          -160
        ],
        "id": "0eab48a0-91ab-4606-b702-5c3b2c77f8ae",
        "name": "supabase-confirma-agendamento",
        "credentials": {
          "supabaseApi": {
            "id": "Aypne3pGbGP17JRv",
            "name": "Supabase account Vaapty"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI",
            "mode": "list",
            "cachedResultName": "Agendamentos Vaapty",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1983382654,
            "mode": "list",
            "cachedResultName": "LEADS - IA VAAL",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit#gid=1983382654"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "TELEFONE": "={{ $json.telefone }}",
              "STATUS": "AGENDADO",
              "DIA": "={{ $json.dia }}",
              "HORA": "={{ $json.hora }}",
              "PRE_VENDA": "VAAL - IA",
              "DIA_SEMANA": "={{ $json.dia_semana }}",
              "CLIENTE": "={{ $json.cliente }}",
              "CARRO": "={{ $json.carro }}",
              "UNIDADE": "={{ $json.unidade }}",
              "DATA_PRIMEIRO_CONTATO": "={{ $now.setZone('America/Sao_Paulo').format('dd/MM/yyyy') }}",
              "HORA_PRIMEIRO_CONTATO": "={{ $now.setZone('America/Sao_Paulo').format('HH:mm') }}"
            },
            "matchingColumns": [
              "TELEFONE"
            ],
            "schema": [
              {
                "id": "DATA_PRIMEIRO_CONTATO",
                "displayName": "DATA_PRIMEIRO_CONTATO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "HORA_PRIMEIRO_CONTATO",
                "displayName": "HORA_PRIMEIRO_CONTATO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "DIA",
                "displayName": "DIA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "HORA",
                "displayName": "HORA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "DIA_SEMANA",
                "displayName": "DIA_SEMANA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PRE_VENDA",
                "displayName": "PRE_VENDA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CLIENTE",
                "displayName": "CLIENTE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CARRO",
                "displayName": "CARRO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "TELEFONE",
                "displayName": "TELEFONE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ORIGEM",
                "displayName": "ORIGEM",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "OBSERVACAO",
                "displayName": "OBSERVACAO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "UNIDADE",
                "displayName": "UNIDADE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "VEIO",
                "displayName": "VEIO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "DESFECHO",
                "displayName": "DESFECHO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "MOTIVO",
                "displayName": "MOTIVO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -220,
          -160
        ],
        "id": "0ad46b47-94e4-4c30-ab45-c4585b0a6653",
        "name": "google-sheets-confirma-agendamento",
        "credentials": {
          "googleApi": {
            "id": "bxp0F5u0sPfGs6wB",
            "name": "Google Sheets account - Service Account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI",
            "mode": "list",
            "cachedResultName": "Agendamentos Vaapty",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1983382654,
            "mode": "list",
            "cachedResultName": "LEADS - IA VAAL",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit#gid=1983382654"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "CLIENTE": "={{ $json.cliente }}",
              "TELEFONE": "={{ $json.telefone }}",
              "DIA": "={{ $json.dia }}",
              "HORA": "={{ $json.hora }}",
              "DIA_SEMANA": "={{ $json.dia_semana }}",
              "CARRO": "={{ $json.carro }}",
              "STATUS": "QUALIFICACAO",
              "UNIDADE": "={{ $json.unidade }}"
            },
            "matchingColumns": [
              "TELEFONE"
            ],
            "schema": [
              {
                "id": "DATA_PRIMEIRO_CONTATO",
                "displayName": "DATA_PRIMEIRO_CONTATO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "HORA_PRIMEIRO_CONTATO",
                "displayName": "HORA_PRIMEIRO_CONTATO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "DIA",
                "displayName": "DIA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "HORA",
                "displayName": "HORA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "DIA_SEMANA",
                "displayName": "DIA_SEMANA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "PRE_VENDA",
                "displayName": "PRE_VENDA",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "CLIENTE",
                "displayName": "CLIENTE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CARRO",
                "displayName": "CARRO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TELEFONE",
                "displayName": "TELEFONE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ORIGEM",
                "displayName": "ORIGEM",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "OBSERVACAO",
                "displayName": "OBSERVACAO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "UNIDADE",
                "displayName": "UNIDADE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "VEIO",
                "displayName": "VEIO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "DESFECHO",
                "displayName": "DESFECHO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "MOTIVO",
                "displayName": "MOTIVO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -220,
          120
        ],
        "id": "de3bab95-32b7-4a6b-bd4e-cd63698024f0",
        "name": "google-sheets-atualiza-agendamento",
        "credentials": {
          "googleApi": {
            "id": "bxp0F5u0sPfGs6wB",
            "name": "Google Sheets account - Service Account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "vaapty_leads",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.telefone.toNumber() }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "QUALIFICACAO"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          0,
          120
        ],
        "id": "942cb96a-2fdc-4973-a937-c0939ede27e4",
        "name": "supabase-atualiza-agendamento",
        "credentials": {
          "supabaseApi": {
            "id": "Aypne3pGbGP17JRv",
            "name": "Supabase account Vaapty"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "google-sheets-confirma-agendamento",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "google-sheets-atualiza-agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "google-sheets-confirma-agendamento": {
        "main": [
          [
            {
              "node": "supabase-confirma-agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "google-sheets-atualiza-agendamento": {
        "main": [
          [
            {
              "node": "supabase-atualiza-agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {
      "When Executed by Another Workflow": [
        {
          "json": {
            "telefone": "5511961319270",
            "dia": "21/05/2025",
            "hora": "09:00",
            "dia_semana": "QUA",
            "cliente": "Tatiana Ramalho",
            "carro": "",
            "unidade": "Guarulhos (Vila Galvão)"
          }
        }
      ]
    },
    "versionId": "93d037b1-4074-415c-a057-0e3bafe17925",
    "triggerCount": 0,
    "tags": [
      {
        "createdAt": "2025-05-19T13:21:56.336Z",
        "updatedAt": "2025-05-19T13:21:56.336Z",
        "id": "GjahXidmM3aj0M5l",
        "name": "vaal-ai"
      }
    ]
  },
  "createdAt": "2025-05-19T14:24:31.094Z",
  "updatedAt": "2025-05-20T12:50:18.176Z",
  "id": "ZpOvo8AmQzyVONiS",
  "name": "Vaal-AI | Agenda Sheet",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "dia"
            },
            {
              "name": "hora"
            },
            {
              "name": "dia_semana"
            },
            {
              "name": "cliente"
            },
            {
              "name": "carro"
            },
            {
              "name": "unidade"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        -20
      ],
      "id": "ecbef61f-2d05-4b50-bcdb-78c464abae10",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38f184a4-9534-4b04-bf96-05680444027b",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5601194c-f4db-4146-95a1-2dacb62e84d8",
              "leftValue": "={{ $json.dia }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "91b5d1ee-7c31-4a51-9bae-4e387bb9b9a1",
              "leftValue": "={{ $json.hora }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "15948a56-bdd7-4f68-a165-2a5101a5cae6",
              "leftValue": "={{ $json.dia_semana }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cea1264d-c18b-4a21-8841-0a7bfe4ef191",
              "leftValue": "={{ $json.cliente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8a02c49f-2f3e-4249-82d6-6e3f44385022",
              "leftValue": "={{ $json.carro }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "fc78f8b2-3bb0-4d6a-bf0e-8907e25b5fec",
              "leftValue": "={{ $json.unidade }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -520,
        -20
      ],
      "id": "f84876dd-5a14-4556-8ac3-4e54d573e088",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "vaapty_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "AGENDADO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        -160
      ],
      "id": "0eab48a0-91ab-4606-b702-5c3b2c77f8ae",
      "name": "supabase-confirma-agendamento",
      "credentials": {
        "supabaseApi": {
          "id": "Aypne3pGbGP17JRv",
          "name": "Supabase account Vaapty"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI",
          "mode": "list",
          "cachedResultName": "Agendamentos Vaapty",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1983382654,
          "mode": "list",
          "cachedResultName": "LEADS - IA VAAL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit#gid=1983382654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONE": "={{ $json.telefone }}",
            "STATUS": "AGENDADO",
            "DIA": "={{ $json.dia }}",
            "HORA": "={{ $json.hora }}",
            "PRE_VENDA": "VAAL - IA",
            "DIA_SEMANA": "={{ $json.dia_semana }}",
            "CLIENTE": "={{ $json.cliente }}",
            "CARRO": "={{ $json.carro }}",
            "UNIDADE": "={{ $json.unidade }}",
            "DATA_PRIMEIRO_CONTATO": "={{ $now.setZone('America/Sao_Paulo').format('dd/MM/yyyy') }}",
            "HORA_PRIMEIRO_CONTATO": "={{ $now.setZone('America/Sao_Paulo').format('HH:mm') }}"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "DATA_PRIMEIRO_CONTATO",
              "displayName": "DATA_PRIMEIRO_CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HORA_PRIMEIRO_CONTATO",
              "displayName": "HORA_PRIMEIRO_CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DIA",
              "displayName": "DIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DIA_SEMANA",
              "displayName": "DIA_SEMANA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRE_VENDA",
              "displayName": "PRE_VENDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CARRO",
              "displayName": "CARRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ORIGEM",
              "displayName": "ORIGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OBSERVACAO",
              "displayName": "OBSERVACAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UNIDADE",
              "displayName": "UNIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VEIO",
              "displayName": "VEIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DESFECHO",
              "displayName": "DESFECHO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MOTIVO",
              "displayName": "MOTIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -220,
        -160
      ],
      "id": "0ad46b47-94e4-4c30-ab45-c4585b0a6653",
      "name": "google-sheets-confirma-agendamento",
      "credentials": {
        "googleApi": {
          "id": "bxp0F5u0sPfGs6wB",
          "name": "Google Sheets account - Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI",
          "mode": "list",
          "cachedResultName": "Agendamentos Vaapty",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1983382654,
          "mode": "list",
          "cachedResultName": "LEADS - IA VAAL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit#gid=1983382654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CLIENTE": "={{ $json.cliente }}",
            "TELEFONE": "={{ $json.telefone }}",
            "DIA": "={{ $json.dia }}",
            "HORA": "={{ $json.hora }}",
            "DIA_SEMANA": "={{ $json.dia_semana }}",
            "CARRO": "={{ $json.carro }}",
            "STATUS": "QUALIFICACAO",
            "UNIDADE": "={{ $json.unidade }}"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "DATA_PRIMEIRO_CONTATO",
              "displayName": "DATA_PRIMEIRO_CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HORA_PRIMEIRO_CONTATO",
              "displayName": "HORA_PRIMEIRO_CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DIA",
              "displayName": "DIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIA_SEMANA",
              "displayName": "DIA_SEMANA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRE_VENDA",
              "displayName": "PRE_VENDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CARRO",
              "displayName": "CARRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ORIGEM",
              "displayName": "ORIGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OBSERVACAO",
              "displayName": "OBSERVACAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UNIDADE",
              "displayName": "UNIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VEIO",
              "displayName": "VEIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DESFECHO",
              "displayName": "DESFECHO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MOTIVO",
              "displayName": "MOTIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -220,
        120
      ],
      "id": "de3bab95-32b7-4a6b-bd4e-cd63698024f0",
      "name": "google-sheets-atualiza-agendamento",
      "credentials": {
        "googleApi": {
          "id": "bxp0F5u0sPfGs6wB",
          "name": "Google Sheets account - Service Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "vaapty_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.telefone.toNumber() }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "QUALIFICACAO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        120
      ],
      "id": "942cb96a-2fdc-4973-a937-c0939ede27e4",
      "name": "supabase-atualiza-agendamento",
      "credentials": {
        "supabaseApi": {
          "id": "Aypne3pGbGP17JRv",
          "name": "Supabase account Vaapty"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "google-sheets-confirma-agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "google-sheets-atualiza-agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "google-sheets-confirma-agendamento": {
      "main": [
        [
          {
            "node": "supabase-confirma-agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "google-sheets-atualiza-agendamento": {
      "main": [
        [
          {
            "node": "supabase-atualiza-agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "telefone": "5511961319270",
          "dia": "21/05/2025",
          "hora": "09:00",
          "dia_semana": "QUA",
          "cliente": "Tatiana Ramalho",
          "carro": "",
          "unidade": "Guarulhos (Vila Galvão)"
        }
      }
    ]
  },
  "versionId": "93d037b1-4074-415c-a057-0e3bafe17925",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-05-19T13:21:56.336Z",
      "updatedAt": "2025-05-19T13:21:56.336Z",
      "id": "GjahXidmM3aj0M5l",
      "name": "vaal-ai"
    }
  ]
}