sindney-ai/nU230TmIGwxduiCg.json
{
  "createdAt": "2025-05-13T00:41:33.513Z",
  "updatedAt": "2025-05-13T00:45:03.818Z",
  "id": "nU230TmIGwxduiCg",
  "name": "Sindney-AI | Router",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sindney-ai-router",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        340,
        -140
      ],
      "id": "9d3636f9-ead0-484a-9ac1-8bb643c87151",
      "name": "Webhook",
      "webhookId": "a953b4e1-309f-49f6-be8e-0d5d70d22400"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.edit.v3.codai.dev.br/webhook-test/sindney-ai-cxa",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -240
      ],
      "id": "5286d7f8-c1fd-4427-afc4-b75bc2757e8f",
      "name": "Sindnei-AI Dev",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.web.v3.codai.dev.br/webhook/sindney-ai-cxa",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -40
      ],
      "id": "32b800ff-74ae-4d77-93fd-4ec93fdd1572",
      "name": "Sindnei-AI Prod",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Sindnei-AI Prod",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sindnei-AI Dev",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "040362e0-96b5-4a3c-95da-66730256e43e",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-05-13T00:41:46.576Z",
      "updatedAt": "2025-05-13T00:41:46.576Z",
      "id": "6ZfltSxWklBuq3kX",
      "name": "sindney-ai"
    }
  ]
}