sindney-ai/RAXtySOSxQokRtIr.json
{
  "createdAt": "2025-03-30T03:06:54.996Z",
  "updatedAt": "2025-04-15T22:44:03.614Z",
  "id": "RAXtySOSxQokRtIr",
  "name": "Project | Sindnei-AI | Router",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sindney-ai-router",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1060,
        -80
      ],
      "id": "8869c9d0-5513-4b2c-bb1d-679bf3609bff",
      "name": "Webhook",
      "webhookId": "a953b4e1-309f-49f6-be8e-0d5d70d22400"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-main.codai.dev.br/webhook-test/sindnei-ai",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        -180
      ],
      "id": "42ac05b7-8acc-4b47-8a31-37de3e7a351a",
      "name": "Sindnei-AI Dev",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-hook.codai.dev.br/webhook/sindnei-ai",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        20
      ],
      "id": "5bedde85-c03a-4083-b45b-3431c8ee6f06",
      "name": "Sindnei-AI Prod",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Sindnei-AI Dev",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sindnei-AI Prod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sindnei-AI Dev": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2dc2a310-fa2d-4e8d-aef8-3109c72c5a3b",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-03-30T03:14:37.966Z",
      "updatedAt": "2025-04-03T20:26:13.650Z",
      "id": "NnEsEtAiQ495JCTT",
      "name": "sindney-ai"
    }
  ]
}