vaapty/EhOdzQc94L8cAFbD.json
{
  "createdAt": "2025-04-03T11:38:56.188Z",
  "updatedAt": "2025-04-03T20:08:58.054Z",
  "id": "EhOdzQc94L8cAFbD",
  "name": "Backup | N8n | GitHub",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -680,
        -280
      ],
      "id": "b1da3be1-f085-4495-8930-ee30dde10578",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "=vaapty/{{ $json.id }}.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -20,
        -380
      ],
      "id": "cb5da7a7-04ae-4a9c-b594-60b85b7ec17e",
      "name": "GitHub",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "3x94FpEEaWoLTUdB",
          "name": "conn-gitHub"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "returnAll": false,
        "limit": 2,
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -280,
        -280
      ],
      "id": "f872cd27-7b6a-4152-948d-359ed233e6e5",
      "name": "n8n_get_all_workflows",
      "credentials": {
        "n8nApi": {
          "id": "mqqqCs3hIkk7geaA",
          "name": "conn-n8n"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9974e59c-c581-4ae2-82cc-af9d69b7862a",
              "name": "owner",
              "value": "ailsonrm",
              "type": "string"
            },
            {
              "id": "a79c3351-db73-46fb-91fa-38c6712e9c98",
              "name": "repository",
              "value": "n8n-backup",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        -280
      ],
      "id": "c52d22d2-a453-4f88-acfe-31749dd14d05",
      "name": "basic_infos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cc26cde-2628-4aed-8242-39a026a0e9b0",
              "name": "data",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        -180
      ],
      "id": "310120b4-48c8-4159-9004-add5a12b7fba",
      "name": "workflow_data"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        180,
        -380
      ],
      "id": "1f8b18d8-ce4d-41d7-8f27-60ce64a78123",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "data.id",
              "field2": "data.id"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        380,
        -240
      ],
      "id": "3689ff62-20ff-4b38-b3c9-7edc510c6a8b",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "=vaapty/{{ $('Workflow to Create').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Workflow to Create').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1040,
        60
      ],
      "id": "62021d3e-837e-481f-b2ee-e28a0682991d",
      "name": "GitHub Create File",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3x94FpEEaWoLTUdB",
          "name": "conn-gitHub"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "=vaapty/{{ $('Workflow to Edit').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Workflow to Edit').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1040,
        -120
      ],
      "id": "aa5dfbbf-be09-468e-ad26-ebb55d1c4e39",
      "name": "GitHub Edit File",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3x94FpEEaWoLTUdB",
          "name": "conn-gitHub"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        860,
        -120
      ],
      "id": "842671bc-8f24-4fd5-b652-960710a8f4fe",
      "name": "Convert to File Edit"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        860,
        60
      ],
      "id": "ee87e3d9-33f1-466a-89ba-8be2170441eb",
      "name": "Convert to File Create"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        -120
      ],
      "id": "941a4474-fdd6-45b0-a644-25fc1f4d934d",
      "name": "Workflow to Edit"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        60
      ],
      "id": "3437c1c3-72fb-4a98-b5fa-83c80c3f781a",
      "name": "Workflow to Create"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "basic_infos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n_get_all_workflows": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "workflow_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "basic_infos": {
      "main": [
        [
          {
            "node": "n8n_get_all_workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workflow_data": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [
          {
            "node": "Workflow to Edit",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Convert to File Edit": {
      "main": [
        [
          {
            "node": "GitHub Edit File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File Create": {
      "main": [
        [
          {
            "node": "GitHub Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow to Edit": {
      "main": [
        [
          {
            "node": "Convert to File Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow to Create": {
      "main": [
        [
          {
            "node": "Convert to File Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fd25b83c-3dd4-4c24-9c2f-19dcf444ab3c",
  "triggerCount": 0,
  "tags": []
}