codai/26BLvAgRj1SwGtgE.json
{
  "createdAt": "2025-06-09T22:40:23.318Z",
  "updatedAt": "2025-06-27T14:42:33.408Z",
  "id": "26BLvAgRj1SwGtgE",
  "name": "Chat Test",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! 👋\n\nMeu nome é Thiaguinho. Como posso ajudar?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        -400
      ],
      "id": "73798f03-3b7e-41c6-adb7-3eab6983f9d6",
      "name": "When chat message received",
      "webhookId": "a0aa1192-b4af-4c40-a9dc-c840909ab100",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "={\n  \"setup\": {\n    \"current_date\": {{ $now }},\n    \"client_name\": {{ $('Mock Info').item.json.name }},\n    \"receipt_type\": {{ $json.recepcao }},\n    \"client_phone\": {{ $('Mock Info').item.json.phone }}\n  },\n  \"objective\": \"Atender clientes do centro automotivo Thiaguinho, tirando dúvidas sobre serviços e agendamentos, e criando registros de atendimento usando as tool cadastradas em [tools]\",\n  \"audience\": \"Clientes do centro automotivo que buscam suporte, informações ou agendamento de serviços.\",\n  \"knowledge_scope\": [\n    \"Serviços automotivos oferecidos\",\n    \"Informações e orientações sobre agendamento\"\n  ],\n  \"tone\": [\"informal\", \"técnico\", \"amigável\", \"direto\", \"consultivo\"],\n  \"ethical_guidelines\": [\n    \"Evitar linguagem ofensiva\",\n    \"Nunca confirmar serviços sem aprovação humana\",\n    \"Não solicitar dados sensíveis desnecessários\"\n  ],\n  \"response_behavior\": {\n    \"off_topic\": \"Rejeite educadamente perguntas fora do escopo do centro automotivo.\",\n    \"airtable_delay\": \"Informe que a solicitação será verificada e que a equipe entrará em contato em breve.\",\n    \"service_confirmation\": \"Nunca confirmar serviços, apenas registrar interesse.\"\n  },\n  \"tools\": [\n    \"MCP Client AirTable\"\n  ]\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1040,
        -580
      ],
      "id": "7f166a9c-21d2-4724-be1d-d15929a4da8d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1000,
        -360
      ],
      "id": "23ccba20-da9e-4650-ad21-9745b55adee5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "d0EynPkHQLqSswaA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3878d69-2ecf-4123-ad9c-8a5f807f83b3",
              "name": "phone",
              "value": "5511967362820",
              "type": "string"
            },
            {
              "id": "d40bf5fb-725d-40da-8890-93fc816cbf53",
              "name": "name",
              "value": "Ailson Ramos Moreira",
              "type": "string"
            },
            {
              "id": "bcbd8b73-7b82-4348-a85b-ec6dd0286bc8",
              "name": "evolution_instance",
              "value": "centro_auto_thiaguinho",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -540,
        -580
      ],
      "id": "10f59a13-be67-414c-b7b0-83d57089072f",
      "name": "Mock Info",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "organizations",
        "filters": {
          "conditions": [
            {
              "keyName": "evolution_instance",
              "keyValue": "={{ $json.evolution_instance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -320,
        -580
      ],
      "id": "86bdb9b1-f112-4900-b706-9f37592aaa32",
      "name": "Get Organization SETUP",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "k2x4f9crOBMYvhPM",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "={{ $json.resident_table }}",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Mock Info').item.json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -100,
        -580
      ],
      "id": "c282dc0c-0021-4abd-9af2-323bf0c997d4",
      "name": "Supabase Get Clients",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "supabaseApi": {
          "id": "k2x4f9crOBMYvhPM",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a6d9aac-8565-4c58-abe3-8741393a5535",
              "leftValue": "={{ $('Supabase Get Clients').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        120,
        -580
      ],
      "id": "e27bc00d-913b-4342-8dd2-b73986aac0b9",
      "name": "Exist Client?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.web.v3.codai.dev.br/mcp/mcp-server-airtable/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1300,
        -360
      ],
      "id": "b917d49a-70a7-4d7a-b799-dc220178b9b8",
      "name": "MCP Client AirTable"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Mock Info').item.json.phone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1120,
        -360
      ],
      "id": "9f94e3a9-1b0d-41ca-b499-e519dd12a793",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "tableId": "={{ $('Get Organization SETUP').item.json.resident_table }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $('Mock Info').item.json.phone.toNumber() }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Mock Info').item.json.name.toTitleCase() }}"
            },
            {
              "fieldId": "organization",
              "fieldValue": "={{ $('Get Organization SETUP').item.json.evolution_instance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        340,
        -480
      ],
      "id": "c1a9ccac-3d0f-498d-8483-46700b8b8e3e",
      "name": "Supabase",
      "alwaysOutputData": false,
      "executeOnce": false,
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "k2x4f9crOBMYvhPM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e693b996-a9af-445f-b10b-1c708f125cf9",
              "name": "recepcaoCliente",
              "value": "cliente novo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -480
      ],
      "id": "2121b70f-5945-4178-92fd-c326d32cde83",
      "name": "Novo Cadastro",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e693b996-a9af-445f-b10b-1c708f125cf9",
              "name": "recepcaoCliente",
              "value": "cliente já cadastrado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -680
      ],
      "id": "05e9dad5-de52-4906-b888-2278c9f5153d",
      "name": "Já Cadastrado",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fcd0850-ad2b-40a7-ba92-b1a9ad5b1e44",
              "name": "recepcao",
              "value": "={{ $json.recepcaoCliente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        -580
      ],
      "id": "f41f224c-210d-4bc3-9785-396b522d71ef",
      "name": "Situação Cliente"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Mock Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mock Info": {
      "main": [
        [
          {
            "node": "Get Organization SETUP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Organization SETUP": {
      "main": [
        [
          {
            "node": "Supabase Get Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Get Clients": {
      "main": [
        [
          {
            "node": "Exist Client?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exist Client?": {
      "main": [
        [
          {
            "node": "Já Cadastrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client AirTable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Novo Cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Novo Cadastro": {
      "main": [
        [
          {
            "node": "Situação Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já Cadastrado": {
      "main": [
        [
          {
            "node": "Situação Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Situação Cliente": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Airtable Trigger": {
      "lastTimeChecked": "2025-06-15T23:19:34Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8b3078c3-c59f-4e89-9cc4-4f9f52d273ef",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-05-19T18:41:32.426Z",
      "updatedAt": "2025-05-19T18:41:32.426Z",
      "id": "byJF50EssW8Z7Xdg",
      "name": "codai"
    }
  ]
}