codai/41vPH0dp4vO6AlKi.json
{
  "createdAt": "2025-04-22T18:46:59.846Z",
  "updatedAt": "2025-05-06T00:46:10.162Z",
  "id": "41vPH0dp4vO6AlKi",
  "name": "RAG",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "## R.A.G",
        "height": 620,
        "width": 2640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -360,
        -140
      ],
      "typeVersion": 1,
      "id": "973de160-ed13-41b5-bd87-dd0e95ab00e0",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1580,
        120
      ],
      "id": "ee57b538-368c-4b39-8065-c3523f0056e6",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "di9H6klhz4rejAkz",
          "name": "conn-open-ai-codai"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        300,
        40
      ],
      "id": "8c2bf8d6-46a3-40a3-8f21-bb7775833fbf",
      "name": "loop-files"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        -60
      ],
      "id": "f60057ad-99c3-4f93-a53f-cc8ecae12fb9",
      "name": "The End"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "={{ $('Get Organization SETUP - RAG').item.json.vector_rag_table }}",
          "mode": "id"
        },
        "options": {
          "queryName": "={{ $('Get Organization SETUP - RAG').item.json.match_function }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1640,
        -60
      ],
      "id": "92bbc7aa-93ab-444f-9d5a-cb728ace23bd",
      "name": "insert-doc-into-vector-store",
      "credentials": {
        "supabaseApi": {
          "id": "sWvNgamwZJ7hL1fO",
          "name": "conn-supabase-codai-2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": ">>>",
      "typeVersion": 1,
      "position": [
        2080,
        280
      ],
      "id": "0d2cccb4-4e52-4e9f-9cc0-699afc62ad88"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yqwEdDKGCRIdSM58",
          "mode": "list",
          "cachedResultName": "OCR | EdenAI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_name": "={{ $('loop-files').item.json.name }}",
            "bucket_id": "={{ $('Get Organization SETUP - RAG').item.json.bucket }}",
            "project_id": "={{ $('Get Organization SETUP - RAG').item.json.project_id }}"
          },
          "matchingColumns": [
            "file_name"
          ],
          "schema": [
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bucket_id",
              "displayName": "bucket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1160,
        100
      ],
      "id": "9505307b-c4ab-451c-8952-028199095e66",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "organization",
                "value": "={{ $('Get Organization SETUP - RAG').item.json.name }}"
              },
              {
                "name": "=bucket",
                "value": "={{ $('Get Organization SETUP - RAG').item.json.bucket }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('loop-files').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1720,
        120
      ],
      "id": "ffbf395f-dd13-4e59-8dea-d736dbe0bb1d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 2500,
        "chunkOverlap": 250,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1820,
        260
      ],
      "id": "e9426b7e-ff25-4d18-8b4d-57d0ffa622d7",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a361e3f-e955-4846-a3fd-068df085fdec",
              "name": "=clean_text",
              "value": "={{ $json.data[0].text || $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        100
      ],
      "id": "cce406a7-4906-420a-8acf-d3f09719f2b5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "storage_file_sync",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "=file_name",
              "fieldValue": "={{ $('loop-files').item.json.name }}"
            },
            {
              "fieldId": "organization",
              "fieldValue": "={{ $('Get Organization SETUP - RAG').item.json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        980,
        100
      ],
      "id": "542d4a39-e5f5-4d59-8f45-b02f1271a6ee",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "sWvNgamwZJ7hL1fO",
          "name": "conn-supabase-codai-2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "={{ $('Get Organization SETUP - RAG').item.json.file_sync_table}}",
        "filters": {
          "conditions": [
            {
              "keyName": "file_name",
              "condition": "eq",
              "keyValue": "={{ $('loop-files').item.json.name }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processed",
              "fieldValue": "=true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        140,
        260
      ],
      "id": "d0361f9c-8f95-4b1a-906a-cc9f7c35f764",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "sWvNgamwZJ7hL1fO",
          "name": "conn-supabase-codai-2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "=storage_file_sync",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "file_name",
              "condition": "eq",
              "keyValue": "={{ $json.name }}"
            },
            {
              "keyName": "organization",
              "condition": "eq",
              "keyValue": "={{ $('Get Organization SETUP - RAG').item.json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        120
      ],
      "id": "806ff4f0-e865-449a-b724-f592bd6a47ca",
      "name": "Supabase2",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "sWvNgamwZJ7hL1fO",
          "name": "conn-supabase-codai-2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf9547e2-4c1c-463c-843c-de801a6fd47e",
                    "leftValue": "={{ $json.processed }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Não Processado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.processed }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "7389f352-bf07-431d-bff1-e33b2f142e5d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Processado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        680,
        120
      ],
      "id": "c8c8e3a2-8974-4d08-bf34-328d60d62e52",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        260
      ],
      "id": "e7c72178-d6d2-40cc-8c66-5865325b48fa",
      "name": "Próximo"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "organizations",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ $('On form submission').item.json.organization_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -100,
        40
      ],
      "id": "d18c3fc3-2ccf-4cdf-b4e2-03cd3ecca7da",
      "name": "Get Organization SETUP - RAG",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "sWvNgamwZJ7hL1fO",
          "name": "conn-supabase-codai-2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "formTitle": "Organization - RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "organization_name",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -300,
        40
      ],
      "id": "6b2174a9-da7a-4df9-8d51-51ef60e0485c",
      "name": "On form submission",
      "webhookId": "2cb96fea-66d1-49c9-8a88-61921ab80aa2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  name\nFROM\n    storage.objects\nWHERE\n  bucket_id = '{{ $('Get Organization SETUP - RAG').item.json.bucket }}'\nAND name NOT LIKE '.%'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        100,
        40
      ],
      "id": "3689fc6b-efab-4754-87e9-eae33ef0a7ec",
      "name": "conn-postgres-codai-2",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "PpDZKoG3HZqhYPB9",
          "name": "conn-postgres-codai-2"
        }
      }
    }
  ],
  "connections": {
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "insert-doc-into-vector-store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "loop-files": {
      "main": [
        [
          {
            "node": "The End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert-doc-into-vector-store": {
      "main": [
        [
          {
            "node": ">>>",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    ">>>": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "insert-doc-into-vector-store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "insert-doc-into-vector-store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Próximo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Próximo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Próximo": {
      "main": [
        [
          {
            "node": "loop-files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Organization SETUP - RAG": {
      "main": [
        [
          {
            "node": "conn-postgres-codai-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Get Organization SETUP - RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "conn-postgres-codai-2": {
      "main": [
        [
          {
            "node": "loop-files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b0899ccf-e9da-474b-9b71-2ac394f2d802",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-04-22T18:14:34.606Z",
      "updatedAt": "2025-04-22T18:14:34.606Z",
      "id": "PsezBfdZMcoxg90c",
      "name": "codai"
    }
  ]
}