codai/9hT18PCxcsWpaEa5.json
{
  "createdAt": "2025-05-19T19:40:41.009Z",
  "updatedAt": "2025-06-10T19:45:37.071Z",
  "id": "9hT18PCxcsWpaEa5",
  "name": "OCR EdenAI",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields').item.json.edenai.ocr_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Edit Fields').item.json.edenai.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "providers",
              "value": "amazon"
            },
            {
              "name": "file_url",
              "value": "=https://{{ $('Edit Fields').item.json.supabase.project_id }}.supabase.co/storage/v1/object/public/{{ $('Edit Fields').item.json.supabase.bucket_id }}/{{ $('When Executed by Another Workflow').item.json.file_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        500
      ],
      "id": "989c1c92-5322-4262-bd9e-ef049f1b38a9",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        20,
        500
      ],
      "id": "a7e28b2c-fce1-4e45-9409-b6d551b3d3d1",
      "name": "Wait",
      "webhookId": "9e799873-c006-4cde-be33-d760da9374fd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "309ef9f8-ccac-4d31-a706-ab999e60ba8d",
              "leftValue": "={{ $json.results.amazon.final_status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        500
      ],
      "id": "1e5fa9c6-e548-4eca-bb0d-1078c85a0108",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $('Edit Fields').item.json.edenai.ocr_url }}/\n{{ $json.public_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "response_as_dict",
              "value": "true"
            },
            {
              "name": "show_base_64",
              "value": "true"
            },
            {
              "name": "show_original_response",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Edit Fields').item.json.edenai.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        420
      ],
      "id": "0ff9f0e6-f4cd-47c9-83eb-25d885366288",
      "name": "Busca API"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -700,
        620
      ],
      "id": "e507eaf3-bbf0-4932-bd01-aebab8a29445",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "d0EynPkHQLqSswaA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.info.toJsonString() }}{{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você receberá informações extraídas de um documento PDF. Sua tarefa é determinar se essas informações foram extraídas de um PDF nativo ou de um PDF digitalizado.\n\nAqui estão as informações extraídas:\n<extracted_info>\n{{ $json.toJsonString() }}\n</extracted_info>\n\nAnalise cuidadosamente as informações fornecidas. Considere os seguintes critérios para determinar se o PDF é nativo ou imagem:\n\n1. Se não conter texto suficiente sobre o documento {{ $json.text }} como false.\n2. Qualidade e consistência do texto: PDFs nativos geralmente apresentam texto claro e nítido e de aparência uniforme.\n3. Presença de texto pesquisável: PDFs nativos geralmente contêm texto que pode ser selecionado e copiado.\n4. Layout e formatação: PDFs nativos geralmente mantêm formatação e layout precisos.\n5. Metadados: PDFs nativos podem incluir metadados sobre a criação e modificação do documento.\n\n\nApós sua análise, responda com:\n- \"true\" se você determinar que as informações foram extraídas de um PDF nativo\n- \"false\" se você determinar que as informações foram extraídas de um PDF digitalizado"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -800,
        400
      ],
      "id": "f702570b-2ffa-4726-939c-0d8e9d567533",
      "name": "Verifica se é PDF Nativo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb4a99ed-7875-4c79-9861-13459b44d429",
              "leftValue": "={{ $json.text }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -420,
        400
      ],
      "id": "281ae25e-336b-418a-b221-8f5a3c289f76",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85d4fbb5-98ce-41b4-a903-7e30edd6f098",
              "name": "text",
              "value": "={{ $json.results.amazon.raw_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        500
      ],
      "id": "225fe6df-9cea-4f21-9637-240e736f5d18",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61dc0775-5e0a-4853-aa8f-aa77ba1d8b71",
              "name": "text",
              "value": "={{ $('Extract from File').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        260
      ],
      "id": "6395be30-2d16-48c8-82dc-de1bd0a4d611",
      "name": "Normalize"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        900,
        260
      ],
      "id": "f336fcfd-5c66-4e48-91b8-da758c3189e9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "file_name"
            },
            {
              "name": "bucket_id"
            },
            {
              "name": "project_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1900,
        280
      ],
      "id": "84455646-8d88-4601-ba6b-5f4284ae628a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "beaf9ca0-4c14-4c4d-855b-496407297a56",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.file_name }}",
                    "rightValue": ".txt",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "txt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "493841b2-caf4-4dc4-a000-e08944c856a3",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.file_name }}",
                    "rightValue": "=.doc ",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "445943d8-3fd8-4812-90a8-22f3585fcd60",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.file_name }}",
                    "rightValue": ".docx",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "72585a3d-4bcd-4cbc-b8af-3d835e602925",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.file_name }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1460,
        260
      ],
      "id": "229fdea6-015a-4d85-a2be-99ce6eac4f68",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d93e2c9-b3f4-4a34-9637-9b2fe10f38a6",
              "name": "edenai.ocr_url",
              "value": "https://api.edenai.run/v2/ocr/ocr_async",
              "type": "string"
            },
            {
              "id": "a035f0a7-68b8-4cb5-a76b-e17b5f6776a0",
              "name": "edenai.token",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiMmZmZjlmNjMtMzFkYS00NTU3LWI0ZGUtYzk4YmVhMTVhZjg2IiwidHlwZSI6ImFwaV90b2tlbiJ9.Ub_VF9WtldgLKorBY2Yooto2MCB5ulGKRQ6LkwfUlbs",
              "type": "string"
            },
            {
              "id": "490165ed-8ccb-487c-95c3-e17714dfff0e",
              "name": "supabase.project_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.project_id }}",
              "type": "string"
            },
            {
              "id": "7a32a56b-7eaf-4f22-94e5-5dfbac4be437",
              "name": "supabase.bucket_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.bucket_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        280
      ],
      "id": "ebedf915-063b-4b66-8318-0173394fe767",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1020,
        400
      ],
      "id": "afb24d53-7f3d-4249-b780-348f97c4a94e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Edit Fields').item.json.supabase.project_id }}.supabase.co/storage/v1/object/public/{{ $('Edit Fields').item.json.supabase.bucket_id }}/{{ $('When Executed by Another Workflow').item.json.file_name }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1240,
        400
      ],
      "id": "33b8225e-6bc7-45e7-919a-0d29342b7297",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Edit Fields').item.json.supabase.project_id }}.supabase.co/storage/v1/object/public/{{ $('Edit Fields').item.json.supabase.bucket_id }}/{{ $('When Executed by Another Workflow').item.json.file_name }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        20
      ],
      "id": "b995cb08-2f44-4de7-943b-231039db9997",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        460,
        20
      ],
      "id": "a950ca53-9e65-4eac-aba0-bab082ffcd5d",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61dc0775-5e0a-4853-aa8f-aa77ba1d8b71",
              "name": "text",
              "value": "={{ $('Extract from File1').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        20
      ],
      "id": "f4be6687-040e-4810-a595-0cb39b160671",
      "name": "Normalize1"
    }
  ],
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Busca API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca API": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Verifica se é PDF Nativo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se é PDF Nativo": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Verifica se é PDF Nativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Normalize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "917b4462-3ced-4456-9ac8-f7d03dd7ace4",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-05-19T18:41:32.426Z",
      "updatedAt": "2025-05-19T18:41:32.426Z",
      "id": "byJF50EssW8Z7Xdg",
      "name": "codai"
    }
  ]
}