codai/aJ7oSry9qtVmQzlr.json
{
  "createdAt": "2025-04-12T16:15:34.223Z",
  "updatedAt": "2025-04-14T20:52:27.636Z",
  "id": "aJ7oSry9qtVmQzlr",
  "name": "Project | CODAI-DEV | Router",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "codai-dev-router",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1060,
        -80
      ],
      "id": "e320bb3f-dd18-4fee-ac84-5650176e3312",
      "name": "Webhook",
      "webhookId": "6ef790cd-9e2e-4d3d-a281-12247ca86382"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-main.codai.dev.br/webhook/codai",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        20
      ],
      "id": "134d4c6e-058f-4b8c-8e48-8a79cf30bce1",
      "name": "CODAI - Prod",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-main.codai.dev.br/webhook-test/codai",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        -180
      ],
      "id": "6400955d-8c24-4c61-966d-67b9f386b655",
      "name": "CODAI - Dev",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "CODAI - Dev",
            "type": "main",
            "index": 0
          },
          {
            "node": "CODAI - Prod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODAI - Dev": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "baf2cc0e-0da2-45b4-a68a-dc1c1aca1a71",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-04-03T20:24:54.573Z",
      "updatedAt": "2025-04-03T20:24:54.573Z",
      "id": "63AQAPB7V4mUycxY",
      "name": "codai"
    }
  ]
}