codai/cZPpTHa8tKdxvvJu.json
{
  "createdAt": "2025-04-12T14:32:14.574Z",
  "updatedAt": "2025-04-19T10:11:41.824Z",
  "id": "cZPpTHa8tKdxvvJu",
  "name": "Project | CODAI-DEV",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Pausa para Atendimento Humano",
        "height": 600,
        "width": 1820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        210,
        180
      ],
      "typeVersion": 1,
      "id": "12fd311e-653d-4925-809d-04426744ef33",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now.setLocale('pt-BR').setZone(\"America/Sao_Paulo\") }}",
        "format": "custom",
        "customFormat": "EEEE, dd 'de' MMMM 'de' yyyy 'às' HH:mm",
        "outputFieldName": "=formattedDate",
        "options": {
          "includeInputFields": false,
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        520,
        420
      ],
      "id": "bdf0a344-d288-4d6f-b356-2beb0dc6a535",
      "name": "Date & Time1",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "  return $('Webhook2').all().map(item => {\n  let msgType = \"unknown\";\n\n  // Verifica se há uma mensagem de texto\n  if (item.json.body.body.text && item.json.body.body.text.message) {\n    msgType = \"text\";\n  }\n\n  // Verifica se há um áudio\n  if (item.json.body.body.audio && item.json.body.body.audio.audioUrl) {\n    msgType = \"audio\";\n  }\n\n  // Verifica se há uma imagem\n  if (item.json.body.body.image && item.json.body.body.image.imageUrl) {\n    msgType = \"image\";\n  }\n\n  \n  // Adiciona o tipo de mensagem ao JSON\n  item.json.body.body.msgType = msgType;\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        420
      ],
      "id": "18de4e67-d149-4927-9a0d-88b0d8e22f8b",
      "name": "code-normalizer"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "block",
        "key": "={{ $('payload_handler').item.json.data.phone }}_block",
        "options": {}
      },
      "id": "64972a27-ef6f-4db6-b5e3-2bff94fd7215",
      "name": "verifica-intervencao-humana",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1400,
        420
      ],
      "credentials": {
        "redis": {
          "id": "V7I628KPjYoW7zjF",
          "name": "conn-redis-server-codai"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4bee2c7b-e8fa-420c-9d5e-6140002eca91",
                    "leftValue": "={{ $('payload_handler').item.json.data.fromMe && !$('payload_handler').item.json.data.fromApi && !$('payload_handler').item.json.data.message.includes(\"VAAPTY agradece seu contato. Como podemos ajudar?\") }}",
                    "rightValue": "eventN8n",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "eventMe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ !$('payload_handler').item.json.data.fromMe && !$('payload_handler').item.json.data.fromApi }}",
                    "rightValue": "fromClient",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "eventUser"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "338e5d93-a032-4e47-a04f-2ab56effa1b2",
                    "leftValue": "={{ $('payload_handler').item.json.data.fromMe && $('payload_handler').item.json.data.fromApi }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "eventN8n"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0d221047-e00d-470e-882a-73ce09c5b4cc",
                    "leftValue": "={{ $('payload_handler').item.json.data.fromMe && $('payload_handler').item.json.data.message.includes(\"VAAPTY agradece seu contato. Como podemos ajudar?\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "eventAutoMsg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1180,
        399
      ],
      "id": "cc846590-84fd-4928-b60d-65552a765dc8",
      "name": "switch-msg-from"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        620
      ],
      "id": "81b149fa-369c-41eb-82bf-2ae37bf66030",
      "name": "Não faz nada - Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4768288-0024-47c6-b9c6-3dcc9e18c2e0",
              "name": "data.msgType",
              "value": "={{ $('code-normalizer').item.json.body.body.msgType }}",
              "type": "string"
            },
            {
              "id": "a463122b-5ce3-4d97-ad1a-7573e3eafb7b",
              "name": "data.message",
              "value": "={{ $('Webhook2').item.json.body.body.text.message }}",
              "type": "string"
            },
            {
              "id": "bc9d5b3f-d26c-4a16-b325-fda776c672c4",
              "name": "data.audioURL",
              "value": "={{ $('Webhook2').item.json.body.body.audio.audioUrl }}",
              "type": "string"
            },
            {
              "id": "241f7861-5a2b-44c2-ba11-f6c6864fd51e",
              "name": "data.imageURL",
              "value": "={{ $('Webhook2').item.json.body.body.image.imageUrl }}",
              "type": "string"
            },
            {
              "id": "877887ea-c7df-4c1e-b6a9-4ec573256127",
              "name": "data.firstName",
              "value": "={{ $('Webhook2').item.json.body.body.chatName.split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "5e484ddf-832f-4447-822e-8609bbe364a7",
              "name": "data.fullName",
              "value": "={{ $('Webhook2').item.json.body.body.chatName }}",
              "type": "string"
            },
            {
              "id": "3c159587-cd22-45df-aac7-82add1c9992e",
              "name": "data.status",
              "value": "={{ $('Webhook2').item.json.body.body.status }}",
              "type": "string"
            },
            {
              "id": "5e3e579f-f9dd-4fb0-9c4b-d2c56b151c55",
              "name": "data.phone",
              "value": "={{ $('Webhook2').item.json.body.body.phone }}",
              "type": "string"
            },
            {
              "id": "9eabba9a-fda7-4b3e-a389-988b09f49be5",
              "name": "data.messageId",
              "value": "={{ $('Webhook2').item.json.body.body.messageId }}",
              "type": "string"
            },
            {
              "id": "45910fc1-affe-44d1-9834-0e19bba63fdb",
              "name": "data.isGroup",
              "value": "={{ $('Webhook2').item.json.body.body.isGroup }}",
              "type": "boolean"
            },
            {
              "id": "cc95a725-d953-433d-a8ee-aa903f515ca5",
              "name": "data.timestamp",
              "value": "={{  DateTime.fromMillis($('Webhook2').item.json.body.body.momment)}}",
              "type": "string"
            },
            {
              "id": "9ceae977-4e4f-46af-81c3-d6d84541e068",
              "name": "data.senderName",
              "value": "={{ $('Webhook2').item.json.body.body.senderName }}",
              "type": "string"
            },
            {
              "id": "d65f9d80-5f16-4c29-965b-fc8832fe13eb",
              "name": "data.fromMe",
              "value": "={{ $('Webhook2').item.json.body.body.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "0d26bc8e-177c-41ef-86bd-6f0caeca8f7e",
              "name": "data.fromApi",
              "value": "={{ $('Webhook2').item.json.body.body.fromApi }}",
              "type": "boolean"
            },
            {
              "id": "0d409c70-6488-4f4f-8681-5bb552563957",
              "name": "zapi.originURL",
              "value": "={{ $('Webhook2').item.json.body.headers.origin }}",
              "type": "string"
            },
            {
              "id": "426fd288-5a66-4687-9fcf-ce46fbdd4ab7",
              "name": "zapi.token",
              "value": "={{ $('Webhook2').item.json.body.headers['z-api-token'] }}",
              "type": "string"
            },
            {
              "id": "e9343465-8006-4136-9211-93cb0bec4dab",
              "name": "zapi.instanceId",
              "value": "={{ $('Webhook2').item.json.body.body.instanceId }}",
              "type": "string"
            },
            {
              "id": "4ae67c6f-3fba-45c0-ade2-1fa3731b93e8",
              "name": "zapi.phone",
              "value": "={{ $('Webhook2').item.json.body.body.connectedPhone }}",
              "type": "string"
            },
            {
              "id": "6e253dad-0fbf-4a74-b6a4-618c79bb3460",
              "name": "zapi.clientToken",
              "value": "Fa958f5973f0d448783b0cfc5907bcbcfS",
              "type": "string"
            },
            {
              "id": "ecc3073f-8c25-41bb-abfe-402c385c6031",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        420
      ],
      "id": "1810e54d-af03-4fb9-a5e2-ffcc58f871db",
      "name": "payload_handler"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI",
          "mode": "list",
          "cachedResultName": "Agendamentos Vaapty",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1983382654,
          "mode": "list",
          "cachedResultName": "LEADS - IA VAAL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GriSpRzGDi_wRWBuaULvxJF8RxLD1tGAWAJiM_B1fvI/edit#gid=1983382654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONE": "={{ $('payload_handler').item.json.data.phone }}",
            "STATUS": "QUALIFICACAO-LOJA"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "FOLLOW_UP",
              "displayName": "FOLLOW_UP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DIA",
              "displayName": "DIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DIA_SEMANA",
              "displayName": "DIA_SEMANA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PRE_VENDA",
              "displayName": "PRE_VENDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CARRO",
              "displayName": "CARRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ORIGEM",
              "displayName": "ORIGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OBSERVACAO",
              "displayName": "OBSERVACAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UNIDADE",
              "displayName": "UNIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "VEIO",
              "displayName": "VEIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DESFECHO",
              "displayName": "DESFECHO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MOTIVO",
              "displayName": "MOTIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1620,
        220
      ],
      "id": "6313aef6-7bab-4852-b0a8-84f5e68df526",
      "name": "google-sheets-discart-lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VMcFCbN41WNNgtef",
          "name": "conn-google-sheets-codai"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "vaapty_leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('payload_handler').item.json.data.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "QUALIFICACAO-LOJA"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1840,
        220
      ],
      "id": "5e78c62e-0ae8-4186-a261-4223401b8e16",
      "name": "supabase-atualiza-agendamento1",
      "credentials": {
        "supabaseApi": {
          "id": "VsqrwGucgRNjLoIu",
          "name": "conn-supabase-codai"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('payload_handler').item.json.data.phone }}_block",
        "value": "true",
        "keyType": "string"
      },
      "id": "f9dee6f8-2c6e-4d4a-b6fa-f1e798632a7b",
      "name": "block-lead",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1400,
        220
      ],
      "credentials": {
        "redis": {
          "id": "V7I628KPjYoW7zjF",
          "name": "conn-redis-server-codai"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now.setLocale('pt-BR').setZone(\"America/Sao_Paulo\") }}",
        "format": "custom",
        "customFormat": "EEEE, dd 'de' MMMM 'de' yyyy 'às' HH:mm",
        "outputFieldName": "=formattedDate",
        "options": {
          "includeInputFields": false,
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        500,
        -140
      ],
      "id": "0b38b966-9627-4baf-8b35-660848b018de",
      "name": "Date & Time",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Pausa para Atendimento Humano",
        "height": 380,
        "width": 1060,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        -260
      ],
      "typeVersion": 1,
      "id": "9e73d30c-9532-49aa-bb7e-ea85bc041f02",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        -40
      ],
      "id": "ab8c5b4e-f5d3-4614-b735-9c3abb046a33",
      "name": "Não faz nada - Workflow1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('payload_handler1').item.json.message.fromMe }}",
                    "rightValue": "fromClient",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "8d7d84f4-ab9f-4e1f-9b9a-e83cc4e9bc03"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "User"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4bee2c7b-e8fa-420c-9d5e-6140002eca91",
                    "leftValue": "={{ $('payload_handler1').item.json.message.fromMe }}",
                    "rightValue": "eventN8n",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Me"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "40fbb4c3-f89c-4eab-8cbd-5ad683f756c6",
                    "leftValue": "={{ $('payload_handler1').item.json.message.isGroup }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Group"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        900,
        -140
      ],
      "id": "f4037320-8902-4593-9411-6c7472a3015e",
      "name": "switch-msg-from1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d409c70-6488-4f4f-8681-5bb552563957",
              "name": "evolution.serverUrl",
              "value": "={{ $('Webhook').item.json.body.body.server_url }}",
              "type": "string"
            },
            {
              "id": "4ae67c6f-3fba-45c0-ade2-1fa3731b93e8",
              "name": "evolution.phone",
              "value": "={{ $('Webhook').item.json.body.body.sender.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "6e253dad-0fbf-4a74-b6a4-618c79bb3460",
              "name": "evolution.apiKey",
              "value": "={{ $('Webhook').item.json.body.body.apikey }}",
              "type": "string"
            },
            {
              "id": "5e3e579f-f9dd-4fb0-9c4b-d2c56b151c55",
              "name": "contact.phone",
              "value": "={{ $('Webhook').item.json.body.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "877887ea-c7df-4c1e-b6a9-4ec573256127",
              "name": "contact.firstName",
              "value": "={{ $('Webhook').item.json.body.body.data.pushName.split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "ecc3073f-8c25-41bb-abfe-402c385c6031",
              "name": "contact.fullName",
              "value": "={{ $('Webhook').item.json.body.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "d4768288-0024-47c6-b9c6-3dcc9e18c2e0",
              "name": "message.type",
              "value": "={{ !!$('Webhook').item.json.body.body.data.message.conversation && 'text' || \n   !!$('Webhook').item.json.body.body.data.message.audioMessage && 'audio'\n}}",
              "type": "string"
            },
            {
              "id": "20a86b71-c77f-4b4e-9db9-b9964276e67f",
              "name": "message.text.conversation",
              "value": "={{ $('Webhook').item.json.body.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "64a79a38-696d-4383-a1a7-527a3ef3a4d4",
              "name": "message.audio.base64",
              "value": "={{ $('Webhook').item.json.body.body.data.message.base64 }}",
              "type": "string"
            },
            {
              "id": "3c159587-cd22-45df-aac7-82add1c9992e",
              "name": "message.status",
              "value": "={{ $('Webhook').item.json.body.body.data.status }}",
              "type": "string"
            },
            {
              "id": "cc95a725-d953-433d-a8ee-aa903f515ca5",
              "name": "message.timestamp",
              "value": "={{ DateTime.fromMillis($('Webhook').item.json.body.body.data.messageTimestamp) }}",
              "type": "string"
            },
            {
              "id": "d65f9d80-5f16-4c29-965b-fc8832fe13eb",
              "name": "message.fromMe",
              "value": "={{ $('Webhook').item.json.body.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "44cce600-ebb8-4242-8008-5da0951d16c5",
              "name": "message.isGroup",
              "value": "={{ $('Webhook').item.json.body.body.event != 'messages.upsert' }}",
              "type": "boolean"
            },
            {
              "id": "c3d798ea-378e-4f39-a764-82ff9733e36a",
              "name": "message.id",
              "value": "={{ $('Webhook').item.json.body.body.data.key.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        -140
      ],
      "id": "330fdc9b-3571-45f4-9257-0bea712f495b",
      "name": "payload_handler1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vaal-ai-sdr",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        420
      ],
      "id": "09dbe174-be85-4e63-a247-b9403c795281",
      "name": "Webhook2",
      "webhookId": "a287b2e0-3d79-434c-9b04-46f3a58acb43",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "codai",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        -140
      ],
      "id": "db3781ff-8678-4d1a-bc31-070946e74bc9",
      "name": "Webhook",
      "webhookId": "153099f1-d1d2-4777-be6d-aeaa613f245f"
    },
    {
      "parameters": {
        "content": "## Registro de Cliente no Supabase",
        "height": 380,
        "width": 680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        -260
      ],
      "typeVersion": 1,
      "id": "922f1a77-d962-4741-9c8d-6056c8c3df8d",
      "name": "Sticky Note22",
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "sindnei_01_residents",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $('payload_handler').item.json.contact.phone.toNumber() }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('payload_handler').item.json.contact.fullName }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1840,
        -40
      ],
      "id": "98a3a75d-1321-45af-af03-05187d259bf4",
      "name": "supabase-create-lead",
      "credentials": {
        "supabaseApi": {
          "id": "VsqrwGucgRNjLoIu",
          "name": "conn-supabase-codai"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a6d9aac-8565-4c58-abe3-8741393a5535",
              "leftValue": "={{ $('supabase-get-lead').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1580,
        -160
      ],
      "id": "eb3160fa-6303-4973-ad39-68de5c6e9045",
      "name": "if-existing-lead"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "sindnei_01_residents",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('payload_handler').item.json.contact.phone.toNumber() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1400,
        -160
      ],
      "id": "75b65b81-1e45-4a94-bc51-fe0938373f64",
      "name": "supabase-get-lead",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "VsqrwGucgRNjLoIu",
          "name": "conn-supabase-codai"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2340,
        -20
      ],
      "id": "884e17fb-463f-4a68-a971-c98c1ad01b46",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        2800,
        240
      ],
      "id": "e0d8a4d2-946e-4aac-9f02-3be3ba972d77",
      "name": "Think"
    }
  ],
  "connections": {
    "Date & Time1": {
      "main": [
        [
          {
            "node": "code-normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code-normalizer": {
      "main": [
        [
          {
            "node": "payload_handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch-msg-from": {
      "main": [
        [
          {
            "node": "block-lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "verifica-intervencao-humana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz nada - Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz nada - Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "payload_handler": {
      "main": [
        [
          {
            "node": "switch-msg-from",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "google-sheets-discart-lead": {
      "main": [
        [
          {
            "node": "supabase-atualiza-agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "block-lead": {
      "main": [
        [
          {
            "node": "google-sheets-discart-lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "payload_handler1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch-msg-from1": {
      "main": [
        [
          {
            "node": "supabase-get-lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz nada - Workflow1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz nada - Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "payload_handler1": {
      "main": [
        [
          {
            "node": "switch-msg-from1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if-existing-lead": {
      "main": [
        [],
        [
          {
            "node": "supabase-create-lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase-get-lead": {
      "main": [
        [
          {
            "node": "if-existing-lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3cf1151f-3b75-4579-af42-fab368951b5c",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-04-03T20:24:54.573Z",
      "updatedAt": "2025-04-03T20:24:54.573Z",
      "id": "63AQAPB7V4mUycxY",
      "name": "codai"
    }
  ]
}