codai/JbbhBti3hEHWWo9V.json
{
  "createdAt": "2025-05-06T01:32:44.937Z",
  "updatedAt": "2025-05-06T01:33:26.169Z",
  "id": "JbbhBti3hEHWWo9V",
  "name": "OCR EdenAI",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields').item.json.edenai.ocr_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Edit Fields').item.json.edenai.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "providers",
              "value": "amazon"
            },
            {
              "name": "file_url",
              "value": "=https://{{ $('Edit Fields').item.json.supabase.project_id }}.supabase.co/storage/v1/object/public/{{ $('Edit Fields').item.json.supabase.bucket_id }}/{{ $('When Executed by Another Workflow').item.json.file_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        480
      ],
      "id": "d34cec42-eec8-4018-8a2f-6399966b0067",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -380,
        480
      ],
      "id": "936e38ba-d24d-42e2-8d57-622a215ab7b3",
      "name": "Wait",
      "webhookId": "9e799873-c006-4cde-be33-d760da9374fd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "309ef9f8-ccac-4d31-a706-ab999e60ba8d",
              "leftValue": "={{ $json.results.amazon.final_status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        480
      ],
      "id": "d2e05b63-e046-45bf-8b49-d805262b2ea2",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $('Edit Fields').item.json.edenai.ocr_url }}/\n{{ $json.public_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "response_as_dict",
              "value": "true"
            },
            {
              "name": "show_base_64",
              "value": "true"
            },
            {
              "name": "show_original_response",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Edit Fields').item.json.edenai.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        400
      ],
      "id": "f7792a72-4399-4648-a947-399e7049ba98",
      "name": "Busca API"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1100,
        600
      ],
      "id": "f5ce9072-290b-44d0-a98a-a10a00623e2a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "zSHvCLTefXKkrDxW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.info.toJsonString() }}{{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você receberá informações extraídas de um documento PDF. Sua tarefa é determinar se essas informações foram extraídas de um PDF nativo ou de um PDF digitalizado.\n\nAqui estão as informações extraídas:\n<extracted_info>\n{{ $json.toJsonString() }}\n</extracted_info>\n\nAnalise cuidadosamente as informações fornecidas. Considere os seguintes critérios para determinar se o PDF é nativo ou imagem:\n\n1. Se não conter texto suficiente sobre o documento {{ $json.text }} como false.\n2. Qualidade e consistência do texto: PDFs nativos geralmente apresentam texto claro e nítido e de aparência uniforme.\n3. Presença de texto pesquisável: PDFs nativos geralmente contêm texto que pode ser selecionado e copiado.\n4. Layout e formatação: PDFs nativos geralmente mantêm formatação e layout precisos.\n5. Metadados: PDFs nativos podem incluir metadados sobre a criação e modificação do documento.\n\n\nApós sua análise, responda com:\n- \"true\" se você determinar que as informações foram extraídas de um PDF nativo\n- \"false\" se você determinar que as informações foram extraídas de um PDF digitalizado"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1200,
        380
      ],
      "id": "38ed2b11-a775-47d9-bbbf-03e4c6a63fcc",
      "name": "Verifica se é PDF Nativo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb4a99ed-7875-4c79-9861-13459b44d429",
              "leftValue": "={{ $json.text }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -820,
        380
      ],
      "id": "e28fcace-df4e-45a3-b279-d9c72011e9b3",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85d4fbb5-98ce-41b4-a903-7e30edd6f098",
              "name": "text",
              "value": "={{ $json.results.amazon.raw_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        480
      ],
      "id": "25e7bc1e-855b-415c-ba0b-8232faaee69b",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61dc0775-5e0a-4853-aa8f-aa77ba1d8b71",
              "name": "text",
              "value": "={{ $('Extract from File').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        240
      ],
      "id": "fc06c6d2-83c6-44b1-91ba-b683aad50deb",
      "name": "Normalize"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        500,
        240
      ],
      "id": "8a521e67-da8a-461f-a1a9-3bc76d03ea6c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "file_name"
            },
            {
              "name": "bucket_id"
            },
            {
              "name": "project_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2300,
        260
      ],
      "id": "14746cd1-ae98-4c1d-b882-4d9c2c16a890",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "beaf9ca0-4c14-4c4d-855b-496407297a56",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.file_name }}",
                    "rightValue": ".txt",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "txt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "493841b2-caf4-4dc4-a000-e08944c856a3",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.file_name }}",
                    "rightValue": "=.doc ",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "445943d8-3fd8-4812-90a8-22f3585fcd60",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.file_name }}",
                    "rightValue": ".docx",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "72585a3d-4bcd-4cbc-b8af-3d835e602925",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.file_name }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1860,
        240
      ],
      "id": "92b98574-64f1-4ec0-965d-9add98e5ce88",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d93e2c9-b3f4-4a34-9637-9b2fe10f38a6",
              "name": "edenai.ocr_url",
              "value": "https://api.edenai.run/v2/ocr/ocr_async",
              "type": "string"
            },
            {
              "id": "a035f0a7-68b8-4cb5-a76b-e17b5f6776a0",
              "name": "edenai.token",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiMmZmZjlmNjMtMzFkYS00NTU3LWI0ZGUtYzk4YmVhMTVhZjg2IiwidHlwZSI6ImFwaV90b2tlbiJ9.Ub_VF9WtldgLKorBY2Yooto2MCB5ulGKRQ6LkwfUlbs",
              "type": "string"
            },
            {
              "id": "490165ed-8ccb-487c-95c3-e17714dfff0e",
              "name": "supabase.project_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.project_id }}",
              "type": "string"
            },
            {
              "id": "7a32a56b-7eaf-4f22-94e5-5dfbac4be437",
              "name": "supabase.bucket_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.bucket_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2080,
        260
      ],
      "id": "f222a243-e1b6-401e-9012-a6a15253c752",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1420,
        380
      ],
      "id": "87ab5bc5-4601-4318-9bca-c74b6b398370",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Edit Fields').item.json.supabase.project_id }}.supabase.co/storage/v1/object/public/{{ $('Edit Fields').item.json.supabase.bucket_id }}/{{ $('When Executed by Another Workflow').item.json.file_name }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1640,
        380
      ],
      "id": "9580341a-2006-4323-b1a0-a4a8f1c431fe",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Edit Fields').item.json.supabase.project_id }}.supabase.co/storage/v1/object/public/{{ $('Edit Fields').item.json.supabase.bucket_id }}/{{ $('When Executed by Another Workflow').item.json.file_name }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        0
      ],
      "id": "8823e35c-8968-4def-b1c3-9517a0ea7bae",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        60,
        0
      ],
      "id": "e239e2e5-7c5b-4067-8299-11699003a42b",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61dc0775-5e0a-4853-aa8f-aa77ba1d8b71",
              "name": "text",
              "value": "={{ $('Extract from File1').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        0
      ],
      "id": "da53c0d6-1521-414f-9d17-83dc0736abfa",
      "name": "Normalize1"
    }
  ],
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Busca API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca API": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Verifica se é PDF Nativo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se é PDF Nativo": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Verifica se é PDF Nativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Normalize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d8b856f3-c18b-42b8-902f-39464c5f24db",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-05-06T00:46:46.560Z",
      "updatedAt": "2025-05-06T00:46:46.560Z",
      "id": "5iWHmmnTyokaR01Q",
      "name": "codai"
    }
  ]
}