codai/mDFtRf886VELWzfk.json
{
  "createdAt": "2025-04-01T14:04:56.395Z",
  "updatedAt": "2025-04-19T09:54:38.851Z",
  "id": "mDFtRf886VELWzfk",
  "name": "OCR | Mistral",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Anexe o arquivo",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Anexo",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        40,
        140
      ],
      "id": "fb525813-7d0f-48d0-ac79-60ff14ac716c",
      "name": "On form submission1",
      "webhookId": "271d0a2e-7cbb-46ac-bc83-ceb724f66b72"
    },
    {
      "parameters": {
        "content": "## Extração de OCR\n",
        "height": 400,
        "width": 1160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "d6ae59b6-cfdf-4e5b-ba11-6a208a986b6c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "Anexo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        140
      ],
      "id": "971038d0-6a01-4bd8-aa19-593154dcb689",
      "name": "Upload Doc no Mistral",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GlkJ4ncviww8Fdsh",
          "name": "conn-mistral-ocr"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        140
      ],
      "id": "2194b690-6cd8-428f-82fb-ead7922f2d69",
      "name": "Obtém URL no Mistral",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GlkJ4ncviww8Fdsh",
          "name": "conn-mistral-ocr"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        140
      ],
      "id": "b88c874b-7f07-4988-8a96-e6d6b65963f3",
      "name": "Baixa as info do doc no Mistral",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GlkJ4ncviww8Fdsh",
          "name": "conn-mistral-ocr"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Vamos primeiro verificar a estrutura do input\nconsole.log(\"Estrutura do input:\", JSON.stringify($input.first(), null, 2));\n\n// Criar uma string para armazenar os markdowns\nlet allMarkdown = '';\n\n// Verifica se temos um array no primeiro nível\nif (Array.isArray($input.first().json)) {\n  console.log(\"É um array no primeiro nível\");\n  \n  // Loop sobre o array do JSON\n  for (const item of $input.first().json) {\n    if (item.markdown) {\n      allMarkdown += item.markdown + '\\n\\n';\n      console.log(\"Adicionado markdown:\", item.markdown.substring(0, 50) + \"...\");\n    }\n  }\n} else {\n  console.log(\"Não é um array no primeiro nível\");\n  // Talvez o JSON esteja uma camada mais profunda\n  const data = $input.first().json;\n  console.log(\"Chaves do objeto:\", Object.keys(data));\n  \n  // Verifica se alguma das propriedades é um array\n  for (const key of Object.keys(data)) {\n    if (Array.isArray(data[key])) {\n      console.log(\"Encontrou um array na propriedade:\", key);\n      for (const item of data[key]) {\n        if (item.markdown) {\n          allMarkdown += item.markdown + '\\n\\n';\n          console.log(\"Adicionado markdown da propriedade:\", item.markdown.substring(0, 50) + \"...\");\n        }\n      }\n    }\n  }\n}\n\n// Retorna o resultado final\nconst result = [];\nresult.push({\n  json: {\n    markdownContent: allMarkdown.trim(),\n    isEmpty: allMarkdown.trim() === '',\n    inputType: typeof $input.first().json,\n    isArray: Array.isArray($input.first().json)\n  }\n});\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        140
      ],
      "id": "6047c3b4-a303-4850-b909-ca171846167c",
      "name": "Junta todas as páginas do OCR"
    }
  ],
  "connections": {
    "On form submission1": {
      "main": [
        [
          {
            "node": "Upload Doc no Mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Doc no Mistral": {
      "main": [
        [
          {
            "node": "Obtém URL no Mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtém URL no Mistral": {
      "main": [
        [
          {
            "node": "Baixa as info do doc no Mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa as info do doc no Mistral": {
      "main": [
        [
          {
            "node": "Junta todas as páginas do OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5e1fbf16-48ae-4579-aabc-8413eb159ef5",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-04-03T20:24:54.573Z",
      "updatedAt": "2025-04-03T20:24:54.573Z",
      "id": "63AQAPB7V4mUycxY",
      "name": "codai"
    }
  ]
}