codai/pGImuP3VI5URO5Bh.json
{
  "data": {
    "createdAt": "2025-05-19T19:39:54.441Z",
    "updatedAt": "2025-06-27T16:20:51.829Z",
    "id": "pGImuP3VI5URO5Bh",
    "name": "Backup GitHub",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -220,
          -20
        ],
        "id": "b1214034-facd-40a8-a7f3-d623f2dc68a4",
        "name": "n8n_get_all_workflows",
        "credentials": {
          "n8nApi": {
            "id": "JlxZquIwjrYCXVRs",
            "name": "N8n account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9974e59c-c581-4ae2-82cc-af9d69b7862a",
                "name": "owner",
                "value": "ailsonrm",
                "type": "string"
              },
              {
                "id": "a79c3351-db73-46fb-91fa-38c6712e9c98",
                "name": "repository",
                "value": "n8n-backup",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -440,
          -20
        ],
        "id": "a724c850-403e-4170-891e-67bc1eca245f",
        "name": "basic_infos"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0cc26cde-2628-4aed-8242-39a026a0e9b0",
                "name": "data",
                "value": "={{ $json }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          220,
          260
        ],
        "id": "5b26eef6-1487-422d-988f-81a6c9b667d2",
        "name": "workflow_data"
      },
      {
        "parameters": {
          "operation": "fromJson",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          520,
          40
        ],
        "id": "31844d20-76aa-494d-839b-d1a37b6ab35c",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "mergeByFields": {
            "values": [
              {
                "field1": "data.id",
                "field2": "data.id"
              }
            ]
          },
          "resolve": "preferInput2",
          "options": {}
        },
        "type": "n8n-nodes-base.compareDatasets",
        "typeVersion": 2.3,
        "position": [
          720,
          220
        ],
        "id": "49594b75-4170-4bae-a0c4-a075652431d2",
        "name": "Compare Datasets"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "={{ $('basic_infos').first().json.owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('basic_infos').first().json.repository }}",
            "mode": "name"
          },
          "filePath": "={{ $('Edit Fields').first().json.t1 }}",
          "binaryData": true,
          "commitMessage": "={{ $('Workflow to Create').item.json.name }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          1360,
          540
        ],
        "id": "1fe19af2-33e6-49a6-9861-bf2913b23889",
        "name": "GitHub Create File",
        "webhookId": "b4d588aa-529a-4859-bc2b-c1de3e082c92",
        "credentials": {
          "githubOAuth2Api": {
            "id": "Vs2CcWLhiVBuiV9h",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "={{ $('basic_infos').first().json.owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('basic_infos').first().json.repository }}",
            "mode": "name"
          },
          "filePath": "={{ $('n8n_get_all_workflows').first().json.tags[0].name}}/{{ $('Workflow to Edit').item.json.id }}.json",
          "binaryData": true,
          "commitMessage": "={{ $('Workflow to Edit').item.json.name }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          1300,
          260
        ],
        "id": "07acc22c-6d1d-4cef-a889-53ec6d8c9d21",
        "name": "GitHub Edit File",
        "webhookId": "74b4b950-ac9c-440a-b6b5-f2dccd10da02",
        "credentials": {
          "githubOAuth2Api": {
            "id": "Vs2CcWLhiVBuiV9h",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true,
            "fileName": "={{ $json.id }}.json"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1120,
          260
        ],
        "id": "19508db7-63b2-481c-b044-6a187201171c",
        "name": "Convert to File Edit"
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true,
            "fileName": "={{ $json.id }}.json"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1120,
          440
        ],
        "id": "b6d535f4-619a-4305-9161-62794ed903ef",
        "name": "Convert to File Create",
        "executeOnce": true
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ $json.data }}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          260
        ],
        "id": "7a021b6b-68c5-41d7-9593-99e1c513e324",
        "name": "Workflow to Edit"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ $json.data }}",
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          440
        ],
        "id": "d0cd5847-e34c-4d19-9d72-f71738fd834d",
        "name": "Workflow to Create"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "sendTo": "ailson.rm.dev@gmail.com",
          "subject": "Backup N8n - Worflow's",
          "emailType": "text",
          "message": "Backup N8n - Worflow's => Realizado com Sucesso!",
          "options": {
            "appendAttribution": true
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          300,
          -180
        ],
        "id": "6ad80bef-e6b0-45bc-8239-cc6d84c6d402",
        "name": "E-mail Backup N8n - Workflow's - Ok!",
        "webhookId": "279f3ae2-8910-4912-b9d3-c4bcd95cbabe",
        "credentials": {
          "googleApi": {
            "id": "bxp0F5u0sPfGs6wB",
            "name": "Google Sheets account - Service Account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1500,
          360
        ],
        "id": "18402170-fd68-4372-a9d3-3bd66ca94f1b",
        "name": "Merge",
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -660,
          -20
        ],
        "id": "47f6a6f6-f57e-44b5-b4e5-c7cc5deec567",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "={{ $('basic_infos').item.json.owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('basic_infos').item.json.repository }}",
            "mode": "name"
          },
          "filePath": "={{ $json.t1 }}",
          "additionalParameters": {}
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          360,
          40
        ],
        "id": "178df0d4-8694-479d-b556-e9d34bdd8474",
        "name": "Get a file",
        "alwaysOutputData": true,
        "webhookId": "e064b83a-6375-4b8e-b37a-bf51573e82fe",
        "credentials": {
          "githubOAuth2Api": {
            "id": "Vs2CcWLhiVBuiV9h",
            "name": "GitHub account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -20,
          -20
        ],
        "id": "1bb13c38-97dc-45ca-90a2-9d81cc75a0de",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "name": "Replace Me",
        "typeVersion": 1,
        "position": [
          1720,
          560
        ],
        "id": "864ee2f3-cbea-43e1-968b-6fa1f50569f1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9fcba196-2cb8-4834-b427-db1d840144d6",
                "name": "t1",
                "value": "={{ $('Loop Over Items').item.json.tags[0].name }}/{{ $json.id }}.json",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          200,
          40
        ],
        "id": "a9897e21-31fd-44ea-8ac9-c66569ad1be4",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "n8n_get_all_workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "basic_infos": {
        "main": [
          [
            {
              "node": "n8n_get_all_workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "workflow_data": {
        "main": [
          [
            {
              "node": "Compare Datasets",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Compare Datasets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compare Datasets": {
        "main": [
          [],
          [],
          [
            {
              "node": "Workflow to Edit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Workflow to Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Create File": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "GitHub Edit File": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File Edit": {
        "main": [
          [
            {
              "node": "GitHub Edit File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File Create": {
        "main": [
          [
            {
              "node": "GitHub Create File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow to Edit": {
        "main": [
          [
            {
              "node": "Convert to File Edit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow to Create": {
        "main": [
          [
            {
              "node": "Convert to File Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Replace Me",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "basic_infos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "E-mail Backup N8n - Workflow's - Ok!",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            },
            {
              "node": "workflow_data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Replace Me": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "0f2e4cc2-fc69-405e-a655-28a64dce1985",
    "triggerCount": 0,
    "tags": [
      {
        "createdAt": "2025-05-19T18:41:32.426Z",
        "updatedAt": "2025-05-19T18:41:32.426Z",
        "id": "byJF50EssW8Z7Xdg",
        "name": "codai"
      }
    ]
  },
  "createdAt": "2025-05-19T19:39:54.441Z",
  "updatedAt": "2025-06-27T16:20:51.829Z",
  "id": "pGImuP3VI5URO5Bh",
  "name": "Backup GitHub",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -220,
        -20
      ],
      "id": "b1214034-facd-40a8-a7f3-d623f2dc68a4",
      "name": "n8n_get_all_workflows",
      "credentials": {
        "n8nApi": {
          "id": "JlxZquIwjrYCXVRs",
          "name": "N8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9974e59c-c581-4ae2-82cc-af9d69b7862a",
              "name": "owner",
              "value": "ailsonrm",
              "type": "string"
            },
            {
              "id": "a79c3351-db73-46fb-91fa-38c6712e9c98",
              "name": "repository",
              "value": "n8n-backup",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        -20
      ],
      "id": "a724c850-403e-4170-891e-67bc1eca245f",
      "name": "basic_infos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cc26cde-2628-4aed-8242-39a026a0e9b0",
              "name": "data",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        260
      ],
      "id": "5b26eef6-1487-422d-988f-81a6c9b667d2",
      "name": "workflow_data"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        520,
        40
      ],
      "id": "31844d20-76aa-494d-839b-d1a37b6ab35c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "data.id",
              "field2": "data.id"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        720,
        220
      ],
      "id": "49594b75-4170-4bae-a0c4-a075652431d2",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "={{ $('Edit Fields').first().json.t1 }}",
        "binaryData": true,
        "commitMessage": "={{ $('Workflow to Create').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1360,
        540
      ],
      "id": "1fe19af2-33e6-49a6-9861-bf2913b23889",
      "name": "GitHub Create File",
      "webhookId": "b4d588aa-529a-4859-bc2b-c1de3e082c92",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Vs2CcWLhiVBuiV9h",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "={{ $('n8n_get_all_workflows').first().json.tags[0].name}}/{{ $('Workflow to Edit').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Workflow to Edit').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1300,
        260
      ],
      "id": "07acc22c-6d1d-4cef-a889-53ec6d8c9d21",
      "name": "GitHub Edit File",
      "webhookId": "74b4b950-ac9c-440a-b6b5-f2dccd10da02",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Vs2CcWLhiVBuiV9h",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        260
      ],
      "id": "19508db7-63b2-481c-b044-6a187201171c",
      "name": "Convert to File Edit"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        440
      ],
      "id": "b6d535f4-619a-4305-9161-62794ed903ef",
      "name": "Convert to File Create",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        260
      ],
      "id": "7a021b6b-68c5-41d7-9593-99e1c513e324",
      "name": "Workflow to Edit"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        440
      ],
      "id": "d0cd5847-e34c-4d19-9d72-f71738fd834d",
      "name": "Workflow to Create"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sendTo": "ailson.rm.dev@gmail.com",
        "subject": "Backup N8n - Worflow's",
        "emailType": "text",
        "message": "Backup N8n - Worflow's => Realizado com Sucesso!",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        300,
        -180
      ],
      "id": "6ad80bef-e6b0-45bc-8239-cc6d84c6d402",
      "name": "E-mail Backup N8n - Workflow's - Ok!",
      "webhookId": "279f3ae2-8910-4912-b9d3-c4bcd95cbabe",
      "credentials": {
        "googleApi": {
          "id": "bxp0F5u0sPfGs6wB",
          "name": "Google Sheets account - Service Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1500,
        360
      ],
      "id": "18402170-fd68-4372-a9d3-3bd66ca94f1b",
      "name": "Merge",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -660,
        -20
      ],
      "id": "47f6a6f6-f57e-44b5-b4e5-c7cc5deec567",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('basic_infos').item.json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('basic_infos').item.json.repository }}",
          "mode": "name"
        },
        "filePath": "={{ $json.t1 }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        360,
        40
      ],
      "id": "178df0d4-8694-479d-b556-e9d34bdd8474",
      "name": "Get a file",
      "alwaysOutputData": true,
      "webhookId": "e064b83a-6375-4b8e-b37a-bf51573e82fe",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Vs2CcWLhiVBuiV9h",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -20,
        -20
      ],
      "id": "1bb13c38-97dc-45ca-90a2-9d81cc75a0de",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1720,
        560
      ],
      "id": "864ee2f3-cbea-43e1-968b-6fa1f50569f1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9fcba196-2cb8-4834-b427-db1d840144d6",
              "name": "t1",
              "value": "={{ $('Loop Over Items').item.json.tags[0].name }}/{{ $json.id }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        40
      ],
      "id": "a9897e21-31fd-44ea-8ac9-c66569ad1be4",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "n8n_get_all_workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "basic_infos": {
      "main": [
        [
          {
            "node": "n8n_get_all_workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workflow_data": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [
          {
            "node": "Workflow to Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow to Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Edit File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File Edit": {
      "main": [
        [
          {
            "node": "GitHub Edit File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File Create": {
      "main": [
        [
          {
            "node": "GitHub Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow to Edit": {
      "main": [
        [
          {
            "node": "Convert to File Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow to Create": {
      "main": [
        [
          {
            "node": "Convert to File Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "basic_infos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "E-mail Backup N8n - Workflow's - Ok!",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "workflow_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0f2e4cc2-fc69-405e-a655-28a64dce1985",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-05-19T18:41:32.426Z",
      "updatedAt": "2025-05-19T18:41:32.426Z",
      "id": "byJF50EssW8Z7Xdg",
      "name": "codai"
    }
  ]
}