codai/qLGtnQwfSmjupFe0.json
{
  "createdAt": "2025-03-31T17:30:01.373Z",
  "updatedAt": "2025-04-19T09:57:26.271Z",
  "id": "qLGtnQwfSmjupFe0",
  "name": "OCR | EdenAI",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields').item.json.edenai.ocr_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Edit Fields').item.json.edenai.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "providers",
              "value": "amazon"
            },
            {
              "name": "file_url",
              "value": "=https://{{ $('Edit Fields').item.json.supabase.project_id }}.supabase.co/storage/v1/object/public/{{ $('Edit Fields').item.json.supabase.bucket_id }}/{{ $('When Executed by Another Workflow').item.json.file_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        920
      ],
      "id": "343e4cba-ccae-4bba-973e-b7fbf6cf2f00",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        920
      ],
      "id": "7981481d-6230-49b7-8177-0ed5ecd7fce4",
      "name": "Wait",
      "webhookId": "9e799873-c006-4cde-be33-d760da9374fd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "309ef9f8-ccac-4d31-a706-ab999e60ba8d",
              "leftValue": "={{ $json.results.amazon.final_status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1080,
        920
      ],
      "id": "7e493e49-8d40-4a60-ae2a-0ca03bc96698",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $('Edit Fields').item.json.edenai.ocr_url }}/\n{{ $json.public_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "response_as_dict",
              "value": "true"
            },
            {
              "name": "show_base_64",
              "value": "true"
            },
            {
              "name": "show_original_response",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "=Bearer {{ $('Edit Fields').item.json.edenai.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        920
      ],
      "id": "10ea5d19-2910-425a-9331-3dcccfd7eebf",
      "name": "Busca API"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        920
      ],
      "id": "c22a3373-d00f-49aa-a8aa-68490975e53a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "01FjxP3nXBoPqAZI",
          "name": "conn-openai-codai"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.info.toJsonString() }}{{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você receberá informações extraídas de um documento PDF. Sua tarefa é determinar se essas informações foram extraídas de um PDF nativo ou de um PDF digitalizado.\n\nAqui estão as informações extraídas:\n<extracted_info>\n{{ $json.toJsonString() }}\n</extracted_info>\n\nAnalise cuidadosamente as informações fornecidas. Considere os seguintes critérios para determinar se o PDF é nativo ou imagem:\n\n1. Se não conter texto suficiente sobre o documento {{ $json.text }} como false.\n2. Qualidade e consistência do texto: PDFs nativos geralmente apresentam texto claro e nítido e de aparência uniforme.\n3. Presença de texto pesquisável: PDFs nativos geralmente contêm texto que pode ser selecionado e copiado.\n4. Layout e formatação: PDFs nativos geralmente mantêm formatação e layout precisos.\n5. Metadados: PDFs nativos podem incluir metadados sobre a criação e modificação do documento.\n\n\nApós sua análise, responda com:\n- \"true\" se você determinar que as informações foram extraídas de um PDF nativo\n- \"false\" se você determinar que as informações foram extraídas de um PDF digitalizado"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -40,
        740
      ],
      "id": "7cddbeae-7050-460e-95c6-4511bfad8341",
      "name": "Verifica se é PDF Nativo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb4a99ed-7875-4c79-9861-13459b44d429",
              "leftValue": "={{ $json.text }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        740
      ],
      "id": "af90085f-f414-4fd1-8d16-915d9a303bc7",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85d4fbb5-98ce-41b4-a903-7e30edd6f098",
              "name": "text",
              "value": "={{ $json.results.amazon.raw_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        840
      ],
      "id": "18d06599-947c-4c28-9e7f-741dfc42fdae",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61dc0775-5e0a-4853-aa8f-aa77ba1d8b71",
              "name": "text",
              "value": "={{ $('Extract from File').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        720
      ],
      "id": "c376d36f-1ef2-4f8f-bc30-a70227179e30",
      "name": "Normalize"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1500,
        680
      ],
      "id": "e08fbc1f-f575-443d-a005-c1cb014e8255",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "file_name"
            },
            {
              "name": "bucket_id"
            },
            {
              "name": "project_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1060,
        640
      ],
      "id": "4b547c46-4d1f-4fe9-ba46-8f08fc16b87a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Extraia as informações dessa imagem em markdown\n",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -20,
        280
      ],
      "id": "0ac4ac47-d986-4bc3-87e8-5f49425ca95c",
      "name": "Basic LLM Chain",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "beaf9ca0-4c14-4c4d-855b-496407297a56",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.file_name }}",
                    "rightValue": ".txt",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "txt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "493841b2-caf4-4dc4-a000-e08944c856a3",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.file_name }}",
                    "rightValue": "=.doc ",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "445943d8-3fd8-4812-90a8-22f3585fcd60",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.file_name }}",
                    "rightValue": ".docx",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "72585a3d-4bcd-4cbc-b8af-3d835e602925",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.file_name }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -700,
        620
      ],
      "id": "66ad5fc2-4a35-47bb-a9b7-25e83024621c",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        440
      ],
      "id": "d2284591-e65e-4ed7-b831-d8b3479af241",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "01FjxP3nXBoPqAZI",
          "name": "conn-openai-codai"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d93e2c9-b3f4-4a34-9637-9b2fe10f38a6",
              "name": "edenai.ocr_url",
              "value": "https://api.edenai.run/v2/ocr/ocr_async",
              "type": "string"
            },
            {
              "id": "a035f0a7-68b8-4cb5-a76b-e17b5f6776a0",
              "name": "edenai.token",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiMmZmZjlmNjMtMzFkYS00NTU3LWI0ZGUtYzk4YmVhMTVhZjg2IiwidHlwZSI6ImFwaV90b2tlbiJ9.Ub_VF9WtldgLKorBY2Yooto2MCB5ulGKRQ6LkwfUlbs",
              "type": "string"
            },
            {
              "id": "490165ed-8ccb-487c-95c3-e17714dfff0e",
              "name": "supabase.project_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.project_id }}",
              "type": "string"
            },
            {
              "id": "7a32a56b-7eaf-4f22-94e5-5dfbac4be437",
              "name": "supabase.bucket_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.bucket_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        640
      ],
      "id": "6311c250-2de9-4f46-8415-f6d0b821759f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -240,
        740
      ],
      "id": "03c5272d-4f6d-48ff-9e81-f875444618c4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Edit Fields').item.json.supabase.project_id }}.supabase.co/storage/v1/object/public/{{ $('Edit Fields').item.json.supabase.bucket_id }}/{{ $('When Executed by Another Workflow').item.json.file_name }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        740
      ],
      "id": "6f365856-3e56-46e6-81ed-8c450d7fa794",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Edit Fields').item.json.supabase.project_id }}.supabase.co/storage/v1/object/public/{{ $('Edit Fields').item.json.supabase.bucket_id }}/{{ $('When Executed by Another Workflow').item.json.file_name }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        560
      ],
      "id": "fccd9e42-25ed-4721-bccf-1a34b5344c84",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -240,
        560
      ],
      "id": "33c7bc00-266a-426a-b881-3d369abbb5fe",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61dc0775-5e0a-4853-aa8f-aa77ba1d8b71",
              "name": "text",
              "value": "={{ $('Extract from File1').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        560
      ],
      "id": "08f81599-ab16-4353-aa46-d488003d0067",
      "name": "Normalize1"
    }
  ],
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Busca API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca API": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Verifica se é PDF Nativo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se é PDF Nativo": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Verifica se é PDF Nativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Normalize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9e6d7ab6-9e06-4c8f-819e-6be3fb6e7192",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-04-03T20:24:54.573Z",
      "updatedAt": "2025-04-03T20:24:54.573Z",
      "id": "63AQAPB7V4mUycxY",
      "name": "codai"
    }
  ]
}