codai/sEv1Hrw5Rl5oUESZ.json
{
  "createdAt": "2025-05-06T00:49:05.578Z",
  "updatedAt": "2025-05-06T01:30:46.672Z",
  "id": "sEv1Hrw5Rl5oUESZ",
  "name": "Backup GitHub",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "={{ $('n8n_get_all_workflows').item.json.tags[0].name }}/{{ $json.id }}.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -420,
        -20
      ],
      "id": "0c230ba2-1196-4a41-90ea-3bb238090fe5",
      "name": "GitHub",
      "alwaysOutputData": true,
      "webhookId": "e064b83a-6375-4b8e-b37a-bf51573e82fe",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Uory87C9DsYAFNF4",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -640,
        80
      ],
      "id": "efe085ca-2912-49aa-928b-8974ac19f7f7",
      "name": "n8n_get_all_workflows",
      "credentials": {
        "n8nApi": {
          "id": "Kh7cLtTkDeRMUMtm",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9974e59c-c581-4ae2-82cc-af9d69b7862a",
              "name": "owner",
              "value": "ailsonrm",
              "type": "string"
            },
            {
              "id": "a79c3351-db73-46fb-91fa-38c6712e9c98",
              "name": "repository",
              "value": "n8n-backup",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -860,
        80
      ],
      "id": "14f5b2b5-fdd6-400f-b98d-69b142e58292",
      "name": "basic_infos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cc26cde-2628-4aed-8242-39a026a0e9b0",
              "name": "data",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        180
      ],
      "id": "2fb46dd0-99cf-4518-ab6d-fe3690cbcfcc",
      "name": "workflow_data"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -200,
        -20
      ],
      "id": "acae775f-8d41-43c1-a205-629e8fd3b050",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "data.id",
              "field2": "data.id"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        20,
        60
      ],
      "id": "67a0e6b5-18f9-457c-9561-9fbf45315ab9",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "={{ $('n8n_get_all_workflows').item.json.tags[0].name }}/{{ $('Workflow to Create').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Workflow to Create').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        680,
        180
      ],
      "id": "e25322d2-a09f-4799-bdb4-785b5ddcffe0",
      "name": "GitHub Create File",
      "webhookId": "b4d588aa-529a-4859-bc2b-c1de3e082c92",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Uory87C9DsYAFNF4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('basic_infos').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "={{ $('n8n_get_all_workflows').item.json.tags[0].name }}/{{ $('Workflow to Edit').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Workflow to Edit').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        680,
        -20
      ],
      "id": "7ebecb0f-d757-43c5-bc44-48ef3448355e",
      "name": "GitHub Edit File",
      "webhookId": "74b4b950-ac9c-440a-b6b5-f2dccd10da02",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Uory87C9DsYAFNF4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        460,
        -20
      ],
      "id": "253e4eec-3843-4ebf-9064-6fee6cc8bd70",
      "name": "Convert to File Edit"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        460,
        180
      ],
      "id": "2dbe170d-a75f-471d-98e1-bc755f7c3cb7",
      "name": "Convert to File Create"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -20
      ],
      "id": "f0d302b5-efc2-4128-89bb-b89d1d304d82",
      "name": "Workflow to Edit"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        180
      ],
      "id": "1bed8772-4fb8-4013-a0d2-25801b701c59",
      "name": "Workflow to Create"
    },
    {
      "parameters": {
        "sendTo": "ailson.rm.dev@gmail.com",
        "subject": "Backup N8n - Worflow's",
        "emailType": "text",
        "message": "Backup N8n - Worflow's => Realizado com Sucesso!",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        80
      ],
      "id": "afa2ab00-48a9-43ed-8551-ab2b015292b3",
      "name": "E-mail Backup N8n - Workflow's - Ok!",
      "webhookId": "279f3ae2-8910-4912-b9d3-c4bcd95cbabe",
      "credentials": {
        "gmailOAuth2": {
          "id": "lglPuZceohiZHH3c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        900,
        80
      ],
      "id": "1fe8d895-9937-4d54-8f99-d4ef470a02ac",
      "name": "Merge",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1080,
        80
      ],
      "id": "56e3c220-72e5-4013-8b10-efcb56c70b5e",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "GitHub": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n_get_all_workflows": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "workflow_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "basic_infos": {
      "main": [
        [
          {
            "node": "n8n_get_all_workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workflow_data": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [
          {
            "node": "Workflow to Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow to Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Edit File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File Edit": {
      "main": [
        [
          {
            "node": "GitHub Edit File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File Create": {
      "main": [
        [
          {
            "node": "GitHub Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow to Edit": {
      "main": [
        [
          {
            "node": "Convert to File Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow to Create": {
      "main": [
        [
          {
            "node": "Convert to File Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "E-mail Backup N8n - Workflow's - Ok!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "basic_infos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b467094e-9231-4791-91ea-cbba73190704",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-05-06T00:46:46.560Z",
      "updatedAt": "2025-05-06T00:46:46.560Z",
      "id": "5iWHmmnTyokaR01Q",
      "name": "codai"
    }
  ]
}