codai/tX4deSSDPbpBgmBZ.json
{
  "createdAt": "2025-04-15T22:12:55.747Z",
  "updatedAt": "2025-04-19T09:55:20.622Z",
  "id": "tX4deSSDPbpBgmBZ",
  "name": "Project | CODAI | RAG",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Scan Google Drive para o Banco de Dados Vetorial.",
        "height": 620,
        "width": 2640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        -120
      ],
      "typeVersion": 1,
      "id": "dd96b52c-fd44-41a1-8f73-a624013ac2a8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2480,
        140
      ],
      "id": "571e3a76-c3e1-44b0-a0ee-281fba01f97f",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "01FjxP3nXBoPqAZI",
          "name": "conn-openai-codai"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        60
      ],
      "id": "4ff73121-1be3-4b7b-9b54-ac4d8a1cf48d",
      "name": "loop-files"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1380,
        -40
      ],
      "id": "a0c8b538-a6d8-4f46-b8c6-75ae8ef51a4c",
      "name": "The End"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "={{ $('Get Organization SETUP - RAG').item.json.vector_rag_table }}",
          "mode": "id"
        },
        "options": {
          "queryName": "={{ $('Get Organization SETUP - RAG').item.json.match_function }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2540,
        -40
      ],
      "id": "e26b8783-9f2b-418d-aacd-7045c27f5599",
      "name": "insert-doc-into-vector-store",
      "credentials": {
        "supabaseApi": {
          "id": "tBGW7m5fVrkdNlgE",
          "name": "conn-supabase-codai-geral"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": ">>>",
      "typeVersion": 1,
      "position": [
        2980,
        300
      ],
      "id": "45c6c3ab-a996-4714-a630-a6beb00093d5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qLGtnQwfSmjupFe0",
          "mode": "list",
          "cachedResultName": "OCR EdenAI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_name": "={{ $('loop-files').item.json.name }}",
            "bucket_id": "={{ $('Get Organization SETUP - RAG').item.json.bucket }}",
            "project_id": "={{ $('Get Organization SETUP - RAG').item.json.project_id }}"
          },
          "matchingColumns": [
            "file_name"
          ],
          "schema": [
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bucket_id",
              "displayName": "bucket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2060,
        120
      ],
      "id": "96fd4cb3-4951-4be5-9240-eac5e33ca77c",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "organization",
                "value": "={{ $('Get Organization SETUP - RAG').item.json.name }}"
              },
              {
                "name": "=bucket",
                "value": "={{ $('Get Organization SETUP - RAG').item.json.bucket }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('loop-files').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2620,
        140
      ],
      "id": "4f8694a0-089d-470a-9633-269fe32ec0b9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 20000,
        "chunkOverlap": 2000,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2720,
        280
      ],
      "id": "bb33a36a-8ce6-4581-af3e-45203ff24c95",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a361e3f-e955-4846-a3fd-068df085fdec",
              "name": "=clean_text",
              "value": "={{ $json.data[0].text || $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2260,
        120
      ],
      "id": "7bbe28e1-dde6-45ac-af86-1c46f49bdff4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  name\nFROM\n    storage.objects\nWHERE\n  bucket_id = '{{ $('Get Organization SETUP - RAG').item.json.bucket }}'\nAND name NOT LIKE '.%'\nORDER BY CAST(SPLIT_PART(name, '_', 1) AS INTEGER) ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        60
      ],
      "id": "9e6e4e91-c414-4cc4-bf0c-821b9511368f",
      "name": "Postgres",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "cz2rcBLkiWj3LOLr",
          "name": "conn-postgres-codai-geral"
        }
      }
    },
    {
      "parameters": {
        "tableId": "storage_file_sync",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "=file_name",
              "fieldValue": "={{ $('loop-files').item.json.name }}"
            },
            {
              "fieldId": "organization",
              "fieldValue": "={{ $('Get Organization SETUP - RAG').item.json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1880,
        120
      ],
      "id": "302b0b1a-a9fd-4309-8977-a74f0f334ebd",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "tBGW7m5fVrkdNlgE",
          "name": "conn-supabase-codai-geral"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "={{ $('Get Organization SETUP - RAG').item.json.file_sync_table}}",
        "filters": {
          "conditions": [
            {
              "keyName": "file_name",
              "condition": "eq",
              "keyValue": "={{ $('loop-files').item.json.name }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processed",
              "fieldValue": "=true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        280
      ],
      "id": "9ab88c51-3ffd-49e0-b611-7fdc0826d7cf",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "tBGW7m5fVrkdNlgE",
          "name": "conn-supabase-codai-geral"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "=storage_file_sync",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "file_name",
              "condition": "eq",
              "keyValue": "={{ $json.name }}"
            },
            {
              "keyName": "organization",
              "condition": "eq",
              "keyValue": "={{ $('Get Organization SETUP - RAG').item.json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1380,
        140
      ],
      "id": "08fb7ad0-deeb-463f-9e07-2392d06a9b1b",
      "name": "Supabase2",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "tBGW7m5fVrkdNlgE",
          "name": "conn-supabase-codai-geral"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf9547e2-4c1c-463c-843c-de801a6fd47e",
                    "leftValue": "={{ $json.processed }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Não Processado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.processed }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "7389f352-bf07-431d-bff1-e33b2f142e5d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Processado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1580,
        140
      ],
      "id": "c12e6681-5e0c-46dc-8bde-09d7351f5b27",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1760,
        280
      ],
      "id": "b4c38a29-2afb-450a-a6fe-12d036106409",
      "name": "Próximo"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "organization",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ $('On form submission').item.json.organization_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        60
      ],
      "id": "28bd604d-1673-4fea-ba42-a33e4dfd3790",
      "name": "Get Organization SETUP - RAG",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "tBGW7m5fVrkdNlgE",
          "name": "conn-supabase-codai-geral"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "formTitle": "Organization - RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "organization_name",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        600,
        60
      ],
      "id": "7f7b2ccb-10e9-444b-a39c-363d57292aea",
      "name": "On form submission",
      "webhookId": "2cb96fea-66d1-49c9-8a88-61921ab80aa2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        340,
        -280
      ],
      "id": "671d7278-7106-4533-af1b-24cf4442677a",
      "name": "When clicking ‘Test workflow’"
    }
  ],
  "connections": {
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "insert-doc-into-vector-store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "loop-files": {
      "main": [
        [
          {
            "node": "The End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert-doc-into-vector-store": {
      "main": [
        [
          {
            "node": ">>>",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    ">>>": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "insert-doc-into-vector-store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "insert-doc-into-vector-store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "loop-files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Próximo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Próximo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Próximo": {
      "main": [
        [
          {
            "node": "loop-files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Organization SETUP - RAG": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Get Organization SETUP - RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "42c3e244-0575-45d4-98d2-bf430047f27b",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-04-03T20:24:54.573Z",
      "updatedAt": "2025-04-03T20:24:54.573Z",
      "id": "63AQAPB7V4mUycxY",
      "name": "codai"
    }
  ]
}